<div ng-controller="AssignmentViewController" class="assignment-screen">

	<div class="standalone-assignment">

		<!-- Assignment -->
		<h2><i class="fa fa-comments"></i> {{assignment.name}}</h2>

		<!-- Assignment Details -->
		<div class="assignmentmathjax assignment-desc" mathjax="assignment.description"
			 ng-bind-html="assignment.description">
		</div>

		<!-- Assignment Attachment -->
		<acj-pdf-inline label="See assignment details:" pdf="assignment.file">
		</acj-pdf-inline>

		<!-- Assignment Answer/Evaluation Periods -->
		<div ng-show="canManageAssignment">
			<p><em>Answering Period: {{assignment.answer_start | amDateFormat: 'MMM D @ h:mm a'}} - {{assignment.answer_end | amDateFormat: 'MMM D @ h:mm a'}}
			<span ng-if="assignment.compare_start > 0 && assignment.compare_end > 0"><br />Comparing Period: {{assignment.compare_start | amDateFormat: 'MMM D @ h:mm a'}} - {{assignment.compare_end | amDateFormat: 'MMM D @ h:mm a'}}</em></p>
		</div>

		<!-- Assignment Metadata Footer -->
		<ul class="list-inline assignment-metadata-list">
			<li ng-if="canManageAssignment || assignment.user_id == loggedInUserId">
				<a ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/edit" ng-if="canManageAssignment || assignment.user_id == loggedInUserId" title="Edit">
					Edit
				</a>
			</li>
			<li>
				Posted by
				<a ng-href="#/user/{{assignment.user_id}}">
					{{assignment.user.displayname}}
					<span ng-if="canManageAssignment && assignment.user.fullname">
						({{assignment.user.fullname}})
					</span>
				</a>
			</li>
			<li ng-if="!canManageAssignment && ((evaluation + self_evaluation == 0) || assignment.status.answers.answered)">
				You
				<span ng-if="assignment.status.answers.answered"><strong>answered</strong> <span ng-if="evaluation + self_evaluation == 0">and </span></span>
				<span ng-if="evaluation + self_evaluation == 0"><strong>compared</strong></span>
			</li>
			<li ng-if="!canManageAssignment && assignment.answer_period && !assignment.status.answers.answered">
				<strong>Answer due {{assignment.answer_end | amDateFormat: 'MMM D @ h:mm a'}}</strong>
			</li>
			<li ng-if="assignment.status.comparisons.available && !canManageAssignment && assignment.compare_period && (evaluation + self_evaluation > 0) && ((assignment.answer_period && assignment.status.answers.answered) || !assignment.answer_period) && assignment.compare_end">
				Comparisons due {{assignment.compare_end | amDateFormat: 'MMM D @ h:mm a'}}
			</li>
			<li ng-if="!canManageAssignment && assignment.compare_period && (evaluation + self_evaluation > 0) && ((assignment.answer_period && assignment.status.answers.answered) || !assignment.answer_period)">
				<strong>{{ evaluation + self_evaluation }} comparison<span ng-if="(evaluation + self_evaluation) != 1">s</span></strong> needed from you
			</li>
			<li ng-if="canManageAssignment || assignment.user_id == loggedInUserId">
				<a ng-if="canManageAssignment || assignment.user_id == loggedInUserId" title="Delete" confirmation-needed="deleteAssignment(courseId, assignment.id)" keyword="assignment" href="">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>

		<!-- Assignment Actions -->

		<!-- BUTTON when user is admin OR (user has not answered AND the answer period is active) -->
		<a ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/create" class="btn btn-success" title="Answer Assignment"
		   ng-show="canManageAssignment || (!assignment.status.answers.answered && assignment.answer_period)">
			Answer
		</a>

		<!-- BUTTON when user is not an admin AND the comparison period is active AND the user has not finished pair comparisons AND either (the answer period is active AND the assignment has been answered) OR (the answer period is not active)
			 basically we force users to answer first, if they can
			 enabled only when answer pairs are available for comparison (so when no logic is false)
		-->
		<a class="btn" ng-class="{'btn-success': assignment.status.comparisons.available, 'btn-default': !assignment.status.comparisons.available}" title="Compare Answers" ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/compare"
		   ng-show="!canManageAssignment && assignment.compare_period && !compared_req_met && ((assignment.answer_period && assignment.status.answers.answered) || !assignment.answer_period)" ng-disabled="!assignment.status.comparisons.available">
			Compare Answers
		</a>

		<!-- BUTTON when user is not an admin AND the comparison period is active AND user has finished pair comparisons AND has a self-evaluation remaining AND either (the answer period is active AND the assignment has been answered) OR (the answer period is not active)
			 basically we force users to answer first, if they can
			 enabled only when user has answered assignment
		-->
		<a class="btn" ng-class="{'btn-success': assignment.status.answers.answered, 'btn-default': !assignment.status.answers.answered}" title="Self-Evaluation" ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/self_evaluation"
		   ng-show="!canManageAssignment && assignment.compare_period && compared_req_met && (!angular.isUndefined(self_evaluation_req_met) && !self_evaluation_req_met) && ((assignment.answer_period && assignment.status.answers.answered) || !assignment.answer_period)" ng-disabled="!assignment.status.answers.answered">
			Compare Answers
		</a>

		<!-- BUTTON when user is an admin AND (the comparison period is active OR is complete) -->
		<a class="btn btn-success" title="Comparisons" ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/comparisons"
		   ng-show="canManageAssignment && (assignment.compare_period || assignment.after_comparing)">
			See Comparisons
		</a>

		<!-- ADDITIONAL TEXT when answer pairs are not available for comparison AND user is not admin AND the comparison period is active AND user has comparisons remaining AND either (the answer period is active AND the assignment has been answered) OR (the answer period is not active)-->
		<p ng-if="!assignment.status.comparisons.available && !canManageAssignment && assignment.compare_period && (evaluation + self_evaluation > 0) && ((assignment.answer_period && assignment.status.answers.answered) || !assignment.answer_period)"><br /><em>Not enough answers to compare (Refresh the page to check again) </em></p>

		<!-- ADDITIONAL TEXT when user is not an admin AND the comparison period is active AND user has completed pair comparisons AND has a self-evaluation remaining AND has not answered assignment -->
		<p ng-if="!canManageAssignment && assignment.compare_period && compared_req_met && !self_evaluation_req_met && !assignment.status.answers.answered"><br /><em>Self-evaluation comparison unavailable (You have not answered the assignment)</em></p>

	</div><!-- closes Assignment box -->

	<!-- Tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li id="answers" ng-class="{active:showTab('answers')}">
		<a ng-click="setTab('answers')" href="">Answers <span ng-show="canManageAssignment || (!assignment.answer_period && see_answers)">({{answers.total}})</span></a>
	  </li>
	  <li ng-show="!canManageAssignment" id="comparisons" ng-class="{active:showTab('comparisons')}">
		<a ng-click="setTab('comparisons')" href="">Your Work + Feedback</a>
	  </li>
	  <li id="comments" ng-class="{active:showTab('help')}">
		<a ng-click="setTab('help')" href="">Help</a>
	  </li>
	  <li ng-show="canManageAssignment" id="participation" ng-class="{active:showTab('participation')}">
		<a ng-click="setTab('participation')" href="">Participation</a>
	  </li>
	</ul>

	<!-- Tab Content -->
	<div class="tab-content">

		<div class="tab-pane" ng-class="{active: showTab('answers')}" id="answers-tab">

			<!-- Answers Tab Header -->
			<div class="tab-header">

				<div class="row">
					<div class="col-sm-6">
						<h2>Answers
							<span ng-show="canManageAssignment && answerFilters.group && !answerFilters.author">for "{{answerFilters.group}}"</span>
							<span ng-show="answerFilters.author">for "{{ answerFilters.author.name }}"</span>
						</h2>
						<p ng-if="numPages > 1">(Page {{answerFilters.page}} of {{numPages}})</p>
					</div>

					<div class="col-sm-6 text-right multi-filters">
						<div ng-if="assignment.answer_count && (canManageAssignment || see_answers)">
							<span class="filter">
								<label>Show: &nbsp;</label>
								<select ng-if="groups.length > 0 && canManageAssignment" ng-model="answerFilters.group" class="nullable"
                                        ng-options="group as group for group in groups | orderBy: 'toString()'">
									<option value="">All groups</option>
								</select>
								<select ng-model="answerFilters.author" class="nullable"
										ng-options="u as u.name for u in students | orderBy: 'name'">
									<option value="">All answers</option>
								</select>
							</span><br />
							<span class="filter">
								<label>Order by ranking for: &nbsp;</label>
								<select ng-model="answerFilters.orderBy"
                                        ng-options="c.id as c.name for c in criteria">
								</select>
							</span>
						</div>
					</div>
				</div>

				<!-- Instructors should see before the answer period -->
				<p class="intro-text"
				   ng-if="canManageAssignment && !assignment.answer_period && !assignment.available">
					Answering period begins {{assignment.answer_start | amDateFormat: 'MMM D @ h:mm a'}}. Would you like to <a ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/edit" title="Edit the assignment">change the answer date</a> for this assignment?
				</p>

				<!-- Students should see before answering during the answer period -->
				<p class="intro-text"
				   ng-if="!canManageAssignment && !assignment.status.answers.answered && assignment.answer_period">
					<a ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/create" title="Answer the assignment">Answer</a> and compare answer pairs for the assignment first, then read all answers written by your classmates and instructors here.
				</p>

				<!-- Students should see before evaluating before the evaluation period -->
				<p class="intro-text"
				   ng-if="!canManageAssignment && ((assignment.status.answers.answered && assignment.answer_period) || (!assignment.answer_period)) && !assignment.compare_period && !assignment.after_comparing">
					Comparisons begin <span ng-if="assignment.compare_start > 0">{{assignment.compare_start | amDateFormat: 'MMM D @ h:mm a'}}</span> <span ng-if="assignment.compare_start <= 0">after the answer due date passes</span>. After comparing answer pairs, you will be able to read all answers written by your classmates and instructors here.
				</p>

				<!-- Students should see before evaluating during the evaluation period (regular comparison) -->
				<p class="intro-text" ng-if="!canManageAssignment && assignment.compare_period && !compared_req_met && ((assignment.status.answers.answered && assignment.answer_period) || !assignment.answer_period)">
					<a ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/compare" title="Compare answers">Compare answers</a> for the assignment first, then read answers written by your classmates and instructors here.
				</p>

				<!-- Students should see before evaluating during the evaluation period (self-evaluation) -->
				<p class="intro-text" ng-if="!canManageAssignment && assignment.compare_period && compared_req_met && !self_evaluation_req_met">
					<a ng-href="#/course/{{courseId}}/assignment/{{assignment.id}}/comparison" title="Compare answers">Compare your answer</a> for the assignment first, then read answers written by your classmates and instructors here.
				</p>

				<!-- Anyone sees during the answer period, if no answers provided yet -->
				<p class="intro-text" ng-if="assignment.answer_period && !assignment.answer_count">
					No answers given for this assignment yet.
				</p>

				<!-- Students see after evaluating before the evaluation period is over -->
				<p class="intro-text" ng-if="!canManageAssignment && compared_req_met && self_evaluation_req_met && !see_answers">
					You have successfully finished comparisons for this assignment! Answers written by your classmates and instructors will be available here beginning <strong>{{ answerAvail | amDateFormat: 'MMM D @ h:mm a'}}</strong>.
				</p>

			</div>

			<div class="all-answers">

				<!-- Instructor Answers Section -->
				<div class="each-answer clearfix" ng-repeat="answer in answers.objects | filter:adminFilter()" ng-if="instructors[answer.user_id] && (see_answers || canManageAssignment)">

					<!-- Instructor Answer Metadata Header -->
					<div class="each-header clearfix">
						<acj-avatar user-id="answer.user_id" avatar="answer.user.avatar" display-name="answer.user.displayname" full-name="answer.user.fullname"></acj-avatar>
						<span class="label label-info" ng-if="instructors[answer.user_id]">{{instructors[answer.user_id]}}&nbsp;</span>
						<strong>said</strong>:
						<div class="manager-actions pull-right" ng-if="canManageAssignment">
							<a href="" confirmation-needed="deleteAnswer(answer, courseId, assignment.id, answer.id)" keyword="instructor answer">
								<i class="fa fa-trash-o"></i>
							</a>
							<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/edit">
								Edit
							</a>
						</div>
					</div>

					<!-- Instructor Answer -->
					<div class="content instructor-answer">
						<div mathjax="answer.content"
							ng-bind-html="answer.content">
						</div>
						<!-- Instructor Attachment -->
						<acj-pdf-inline label="See assignment details:"
							pdf="answer.file">
						</acj-pdf-inline>
					</div>

				</div><!-- closes each-answer (instructor) -->

				<!-- Student Answers Section -->
				<div class="each-answer clearfix" ng-repeat="answer in answers.objects | notScoredEnd:answerFilters.orderBy | excludeInstr:instructors as results" ng-if="(see_answers || answer.user_id == loggedInUserId || canManageAssignment)">
				<!-- <div class="each-answer clearfix" ng-repeat="(answerKey, answer) in answers" ng-if="!instructors[answer.user_id] && (see_answers || (answer.user_id == loggedInUserId && assignment.answer_period) || canManageAssignment)"> -->
					<!-- Student Answer Metadata Header -->
					<div class="each-header clearfix">
						<acj-avatar user-id="answer.user_id" avatar="answer.user.avatar" display-name="answer.user.displayname" full-name="answer.user.fullname" me="!canManageAssignment && answer.user_id == loggedInUserId"></acj-avatar>
						<strong>answered</strong> on {{answer.created | amDateFormat: 'MMM D @ h:mm a'}}:
						<div class="manager-actions pull-right" ng-if="canManageAssignment || (answer.user_id == loggedInUserId && assignment.answer_period && !assignment.compare_period)">
							<span ng-show="answer.flagged" class="text-warning" title="Answer was flagged by a student as incomplete or inappropriate">
								<i class="fa fa-warning"></i>
								Flagged
								<a href="" title="Unflag this answer" ng-click="unflagAnswer(answer, courseId, assignment.id, answer.id)">
									Unflag?
								</a>
							</span>
							<a href="" confirmation-needed="deleteAnswer(answer, courseId, assignment.id, answer.id)" keyword="answer">
								<i class="fa fa-trash-o"></i>
							</a>
							<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/edit">
								Edit
							</a>
						</div>
					</div>

					<!-- Student Answer -->
					<div class="content {{answer.id}}" get-height>
						<div mathjax="answer.content"
							 ng-bind-html="answer.content">
						</div>
						<!-- Student Attachment -->
						<acj-pdf-inline label="See answer details:"
							pdf="answer.file" ng-click="revealAnswer(answer.id)">
						</acj-pdf-inline>
					</div>
					<!-- Student Answer Read More Button (not used for instructor answers) -->
					<p ng-show="showReadMore" class="read-more" ng-click="revealAnswer(answer.id)"><a href="" class="btn btn-sm btn-default">Read More...</a></p>
					<!-- <p ng-show="!showReadMore">No More To Read!!! ({{thisHeight}})</p> -->

					<!-- Student Score (not used for instructor answers) -->
					<p class="pull-right score-display" ng-if="canManageAssignment && score.criterion_id==answerFilters.orderBy && answer.scores.length > 0" ng-repeat="score in answer.scores">
						<em>Score: {{score.normalized_score}}%</em>
						<a href="" tooltip="The top-ranked answer or&mdash;in the case of a tie&mdash;answers for the assignment receive 100%. All other answers receive a lower percentage based on how well they did compared to the top-ranked answer." tooltip-trigger tooltip-animation="false" tooltip-placement="left" class="score-tooltip">
							<i class="fa fa-question-circle"></i>
						</a>
					</p>
					<!-- Student Rank (not used for instructor answers) -->
					<p class="pull-right score-display" ng-if="!canManageAssignment && score.criterion_id==answerFilters.orderBy && answer.scores.length > 0" ng-repeat="score in answer.scores">
						<em>
							Students Ranked: <strong>{{allScores[answer.id]}}</strong>
						</em>
					</p>
					<!-- No Student Score/Rank -->
					<p class="pull-right score-display" ng-if="answer.scores.length == 0">
						<em>Not Compared</em>
					</p>


					<!-- Student Answer Replies Section -->
					<a href="" ng-click="showReplies = !showReplies; showReplies && loadComments(answer)">
						<h3 class="reply-heading" ng-if="(answer.comment_count && (answer.user_id == loggedInUserId || canManageAssignment)) || (answer.public_comment_count && see_answers)">
							<i class="fa fa-chevron-down" ng-show="showReplies"></i>
							<i class="fa fa-chevron-right" ng-hide="showReplies"></i>
							<ng-pluralize ng-if="answer.public_comment_count && !canManageAssignment && (see_answers && answer.user_id != loggedInUserId)" count="answer.public_comment_count" when="{'1': '{} public reply', 'other': '{} public replies'}"></ng-pluralize>
							<ng-pluralize ng-if="answer.comment_count && (answer.user_id == loggedInUserId || canManageAssignment)" count="answer.comment_count" when="{'1': '{} reply', 'other': '{} replies'}"></ng-pluralize>
							to this answer
							<span ng-if="canManageAssignment || answer.user_id == loggedInUserId">({{ answer.private_comment_count }} private, {{ answer.public_comment_count }} public)</span>
						</h3>
					</a>

					<div ng-show="showReplies">

						<div ng-repeat="(commentKey, comment) in answer.comments | filter:commentFilter(answer)" class="each-reply">

							<hr ng-hide="$first" />

							<!-- Student Reply Metadata Header -->
							<div class="each-header clearfix">
								<acj-avatar user-id="comment.user_id" avatar="comment.user.avatar" display-name="comment.user.displayname" full-name="comment.user.fullname"></acj-avatar>
								<span class="label label-info" ng-if="instructors[comment.user_id]">
									{{instructors[comment.user_id]}}
								</span>
								<strong ng-if="comment.comment_type == AnswerCommentType.private || comment.comment_type == AnswerCommentType.evaluation">gave private feedback</strong>
								<strong ng-if="comment.comment_type == AnswerCommentType.self_evaluation">self-evaluated</strong>
								<strong ng-if="comment.comment_type == AnswerCommentType.public">replied <span ng-if="canManageAssignment || answer.user_id == loggedInUserId" class="label label-info">Public</span></strong>
								on {{comment.created | amDateFormat: 'MMM D @ h:mm a'}}:
								<div class="manager-actions pull-right"
                                     ng-if="canManageAssignment || (comment.user_id == loggedInUserId && (comment.comment_type == AnswerCommentType.public || comment.comment_type == AnswerCommentType.private))">
									<a href="" confirmation-needed="deleteReply(answer, commentKey, courseId, assignment.id, answer.id, comment.id)" keyword="reply">
										<i class="fa fa-trash-o"></i>
									</a>
									<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
										Edit
									</a>
								</div>
							</div>

							<!-- Student Reply -->
							<div class="content" mathjax="comment.content"
								 ng-bind-html="comment.content">
							</div>

						</div><!-- closes each-reply (student) -->

					</div><!-- closes toggle div -->

					<p><a ng-if="assignment.students_can_reply || canManageAssignment" href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/comment/create" class="btn btn-sm btn-primary btn-reply">
						Reply
					</a></p>

				</div><!-- closes each-answer (student) -->

				<div class="each-answer clearfix" ng-if="assignment.answer_count && results.length < 1 && (see_answers || canManageAssignment)">
					<p>No answers were found with these filter settings. Try another choice above.</p>
				</div>

			</div><!-- closes answered show-hide div -->

			<div class="text-center">
				<pagination total-items="totalNumAnswers" ng-model="answerFilters.page" max-size="10" class="pagination-sm" boundary-links="true" direction-links="false" items-per-page="answerFilters.perPage" num-pages="numPages" ng-hide="numPages == 1"></pagination>
			</div>

		</div><!-- closes answers-tab -->

		<div class="tab-pane" ng-class="{active: showTab('comparisons')}" id="comparisons-tab">

			<!-- Comparisons Tab Header -->
			<div class="tab-header">
				<div>
					<h2>Your work and feedback</h2>
					<p class="intro-text">Work you have submitted for this assignment appears below. Feedback for your answer can be found in the replies underneath the answer.</p>
				</div>
			</div>

			<!-- Student Answer Metadata Header -->
			<div class="each-evaluation clearfix" ng-repeat="answer in user_answers.objects">
				<div class="each-header clearfix">
					<acj-avatar user-id="answer.user_id" avatar="answer.user.avatar" me="true"></acj-avatar>
					<strong>answered</strong> on {{answer.created | amDateFormat: 'MMM D @ h:mm a'}}:
					<div class="manager-actions pull-right" ng-if="canManageAssignment || (answer.user_id == loggedInUserId && assignment.answer_period && !assignment.compare_period)">
						<span ng-show="answer.flagged" class="text-warning" title="Answer was flagged by a student as incomplete or inappropriate">
							<i class="fa fa-warning"></i>
							Flagged
							<a href="" title="Unflag this answer" ng-click="unflagAnswer(answer, courseId, assignment.id, answer.id)">
								Unflag?
							</a>
						</span>
						<a href="" confirmation-needed="deleteAnswer(answer, courseId, assignment.id, answer.id)" keyword="answer">
							<i class="fa fa-trash-o"></i>
						</a>
						<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/edit">
							Edit
						</a>
					</div>
				</div>

				<!-- Student Answer -->
				<div class="content {{answer.id}}">
					<div mathjax="answer.content"
						 ng-bind-html="answer.content">
					</div>

					<!-- Student Attachment -->
					<acj-pdf-inline label="See answer details:"
						pdf="answer.file" ng-click="revealAnswer(answer.id)">
					</acj-pdf-inline>
				</div>

				<!-- Student Answer Replies Section -->
				<a href="" ng-click="showReplies = !showReplies; showReplies && loadComments(answer)">
					<h3 class="reply-heading" ng-if="answer.comment_count">
						<i class="fa fa-chevron-down" ng-show="showReplies"></i>
						<i class="fa fa-chevron-right" ng-hide="showReplies"></i>
						<ng-pluralize count="answer.comment_count" when="{'1': '{} reply', 'other': '{} replies'}"></ng-pluralize>
						to this answer
						<span ng-if="canManageAssignment || answer.user_id == loggedInUserId">({{ answer.private_comment_count }} private, {{ answer.public_comment_count }} public)</span>
					</h3>
				</a>

				<div ng-show="showReplies">
					<div ng-repeat="(commentKey, comment) in answer.comments | filter:commentFilter(answer)" class="each-reply">

						<hr ng-hide="$first" />

						<!-- Student Reply Metadata Header -->
						<div class="each-header clearfix">
							<acj-avatar user-id="comment.user_id" avatar="comment.user.avatar" display-name="comment.user.displayname" full-name="comment.user.fullname"></acj-avatar>
							<span class="label label-info" ng-if="instructors[comment.user_id]">
								{{instructors[comment.user_id]}}
							</span>
							<strong ng-if="comment.comment_type == AnswerCommentType.private || comment.comment_type == AnswerCommentType.evaluation">gave private feedback</strong>
							<strong ng-if="comment.comment_type == AnswerCommentType.self_evaluation">self-evaluated</strong>
							<strong ng-if="comment.comment_type == AnswerCommentType.public">replied <span ng-if="canManageAssignment || answer.user_id == loggedInUserId" class="label label-info">Public</span></strong>
							on {{comment.created | amDateFormat: 'MMM D @ h:mm a'}}:
							<div class="manager-actions pull-right"
                                 ng-if="canManageAssignment || (comment.user_id == loggedInUserId && (comment.comment_type == AnswerCommentType.private || comment.comment_type == AnswerCommentType.public)">
								<a href="" confirmation-needed="deleteReply(answer, commentKey, courseId, assignment.id, answer.id, comment.id)" keyword="reply">
									<i class="fa fa-trash-o"></i>
								</a>
								<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
									Edit
								</a>
							</div>
						</div>

						<!-- Student Reply -->
						<div class="content" mathjax="comment.content"
							 ng-bind-html="comment.content">
						</div>

					</div><!-- closes each-reply (student) -->

				</div><!-- closes toggle div -->

			</div>

			<!-- Comparisons Section -->
			<div class="each-evaluation" ng-repeat="comparison_set in comparisons.objects">

				<!-- Comparison Header -->
				<div class="each-header">
                    <acj-avatar user-id="comparison_set.user_id" avatar="comparison_set.user.avatar" me="true"></acj-avatar>
					<strong>compared</strong> on {{ comment.created | amDateFormat: 'MMM D @ h:mm a'}}:
				</div>

				<div ng-repeat="comparison in comparison_set.comparisons">
					<h5 class="content">Comparison for "{{ comparison.criterion.name }}"</h5>

					<div class="content" mathjax="comparison.content"
						ng-bind-html="comparison.content">
					</div>

                    <!-- Answers -->
                    <p class="show-answers"><a href="" ng-click="showAnswers = !showAnswers;">
                        <i ng-show="showAnswers" class="fa fa-chevron-down"></i>
                        <i ng-hide="showAnswers" class="fa fa-chevron-right"></i>
                        Show compared answers
                    </a></p>
                    <div class="row" ng-show="showAnswers">
                        <acj-answer-content answer="comparison_set.answer1" is-chosen="comparison.winner_id == comparison_set.answer1_id" name="Odd-Numbered Answer" criterion="comparison.criterion_id" show-score="false"></acj-answer-content>
                        <acj-answer-content answer="comparison_set.answer2" is-chosen="comparison.winner_id == comparison_set.answer2_id" name="Even-Numbered Answer" criterion="comparison.criterion_id" show-score="false"></acj-answer-content>
                    </div>

				</div>

				<h5 class="content">Feedback for Odd-Numbered Answer</h5>

				<!-- feedback for odd-numbered answer -->
                <div ng-repeat="feedback in comparison_set.answer1_feedback">
                    <div class="content" mathjax="feedback.content"
                        ng-bind-html="feedback.content"></div>
                </div>

				<h5 class="content">Feedback for Even-Numbered Answer</h5>

				<!-- feedback for even-numbered answer -->
                <div ng-repeat="feedback in comparison_set.answer2_feedback">
                    <div class="content" mathjax="feedback.content"
                        ng-bind-html="feedback.content"></div>
                </div>

			</div><!-- closes each-evaluation -->

			<div class="each-evaluation" ng-if="!user_answers.objects && comparisons.objects.length < 1">
				<p>(Nothing saved under your name yet.)</p>
			</div>

			<!-- self evaluation section -->
			<div ng-class="{'each-evaluation': filteredAnswers.length > 0}" ng-repeat="answer in user_answers.objects">
			    <div ng-repeat="comment in filteredAnswers = (answer.comments | filter:{self_evaluation: true})">
                    <div class="each-header">
                        <acj-avatar user-id="comment.user_id" avatar="comment.user.avatar" me="true"></acj-avatar>
                        <strong>self-evaluated</strong> on {{comment.created | amDateFormat: 'MMM D @ h:mm a'}}:
                        <div class="manager-actions pull-right"
                             ng-if="canManageAssignment || (comment.user_id == loggedInUserId && (comment.comment_type == AnswerCommentType.public || comment.comment_type == AnswerCommentType.private)">
                        <a href="" confirmation-needed="deleteReply(answer, commentKey, courseId, assignment.id, answer.id, comment.id)" keyword="reply">
                            <i class="fa fa-trash-o"></i>
                        </a>
                        <a href="#/course/{{courseId}}/assignment/{{assignment.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
                            Edit
                        </a>
                        </div>
                    </div>
                    <div class="content" mathjax="comment.content"
                        ng-bind-html="comment.content">
                    </div>
                </div>
			</div>

		</div><!-- closes comparisons-tab -->

		<div class="tab-pane" ng-class="{active: showTab('help')}" id="comments-tab">

			<!-- Comments Tab Header -->
			<div class="tab-header">
				<div class="row">
					<div class="col-sm-9">
						<h2>Help for this assignment</h2>
						<p class="intro-text less-margin">Ask or answer a question about the assignment by adding a comment here.</p>
					</div>
					<div class="col-sm-3 text-right comment-btn">
						<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/comment/create" class="btn btn-primary">
							Comment
						</a>
					</div>
				</div>
			</div>

			<div class="each-comment">
				<blockquote>
					<p>For general technical issues, please try:</p>
					<ul>
						<li>Enabling Java and cookies in your browser settings</li>
						<li>Disabling extra plugins and add-ons for your browser</li>
						<li>Clearing your browser cache</li>
						<li>Using a different browser (supported browsers include <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://www.google.com/chrome/">Chrome</a>, <a href="https://www.apple.com/ca/safari/">Safari</a>, and <a href="http://windows.microsoft.com/en-ca/internet-explorer/download-ie">IE9+</a>)</li>
						<li>Logging out and logging back in</li>
					</ul>
				</blockquote>
			</div>

			<!-- Comments Section -->
			<div ng-repeat="(commentKey, comment) in comments.objects" class="each-comment">

				<!-- Comment Metadata Header -->
				<div class="each-header clearfix">
                    <acj-avatar user-id="comment.user_id" avatar="comment.user.avatar" display-name="comment.user.displayname" full-name="comment.user.fullname" me="comment.user_id == loggedInUserId"></acj-avatar>
					<span class="label label-info" ng-if="instructors[comment.user_id]">
						{{instructors[comment.user_id]}}
					</span>
					<strong>commented</strong> on {{comment.created | amDateFormat: 'MMM D @ h:mm a'}}:
					<div class="manager-actions pull-right" ng-if="canManageAssignment || comment.user_id == loggedInUserId">
						<a confirmation-needed="deleteComment(commentKey, courseId, assignment.id, comment.id)" keyword="comment" href="">
							<i class="fa fa-trash-o"></i>
						</a>
						<a href="#/course/{{courseId}}/assignment/{{assignment.id}}/comment/{{comment.id}}/edit">
							Edit
						</a>
					</div>
				</div>

				<!-- Comment -->
				<div class="content" mathjax="comment.content"
					 ng-bind-html="comment.content">
				</div>

			</div><!-- closes each-comment -->

		</div><!-- closes comments-tab -->

		<div class="tab-pane" ng-class="{active: showTab('participation')}" id="participation-tab" ng-if="canManageAssignment && showTab('participation')">
			<ng-include src="'modules/gradebook/gradebook-partial.html'"></ng-include>
		</div><!-- closes gradebook-tab -->

	</div><!-- closes tab-content -->

</div>
