<div ng-controller="LoginController" class="center-block">
	<h2>Login</h2>

	<form class="form-horizontal" ng-submit="submit()">
		<div class="errFlash" ng-show="msg">{{ msg }}</div> <!-- TODO Determine if this div is necessary -->
		<div class="form-group">
			<label for="inputUser" class="col-sm-2 control-label">Username</label>
			<div class="col-sm-10">
				<input type="text" id="inputUser" ng-model="username"
					   placeholder="Username" class="form-control" input-focus>
			</div>
		</div>
		<div class="form-group">
			<label for="inputPass" class="col-sm-2 control-label">Password</label>
			<div class="col-sm-10">
				<input type="password" id="inputPass" ng-model="password"
					   placeholder="Password" class="form-control">
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<input type="submit" class="btn btn-primary" value="Sign In">
			</div>
		</div>
	</form>
</div>
