<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ subject }}</title>
        <style type="text/css">
            {{ include_raw("static/email.css") }}
        </style>
    </head>
    <body class="email">
        <div class="container">
            {% block body %}
            {% endblock %}
        </div>
        <footer class="footer">
            <div class="container text-center text-muted small">
                <a href="{{ url_for('route_app', _external=True, _anchor='/user/'+user.uuid+'/edit') }}">Unsubscribe</a> from ComPAIR email notifications.
            </div>
        </footer>
    </body>
</html>