{% extends "notification_base.html" %}
{% block body %}
<div class="standalone-assignment">
    <!-- Assignment -->
    <p class="intro-text">
        You've received new answer feedback for the following assignment: <strong>{{assignment.name}}</strong>
        <br />
        <a href="{{ compair_app_url_base+'/course/'+course.uuid+'/assignment/'+assignment.uuid }}?tab=your_feedback">View in ComPAIR</a>
    </p>
</div>

<div class="each-header">
    <a href="{{ compair_app_url_base+'/user/'+author.uuid }}">{{ author.displayname }}</a>

    {% if instructor_label %}<span class="label label-info">{{instructor_label}}</span>{% endif %}

    {% if comment.comment_type in [answer_comment_types.private, answer_comment_types.evaluation] %}
    <strong>gave <span class="glyphicon glyphicon-lock"></span> private feedback</strong>
    {% elif comment.comment_type == answer_comment_types.public %}
    <strong>replied <span class="label label-info">Public</span></strong>
    {% endif %}
    on {{ comment.created.strftime('%b %d @ %I:%M %p') }}:
</div>

<div class="content">{{ clean_html(comment.content) | safe }}</div>
{% endblock %}