{% extends "notification_base.html" %}
{% block body %}
<div class="standalone-assignment">
    <!-- Assignment -->
    <p class="intro-text">
        You've received a new help comment on the following assignment: <strong>{{assignment.name}}</strong>
        <br />
        <a href="{{ url_for('route_app', _external=True, _anchor='/course/'+course.uuid+'/assignment/'+assignment.uuid) }}?tab=help">View in ComPAIR</a>
    </p>
</div>

<div class="each-header">
    <a href="{{ url_for('route_app', _external=True, _anchor='/user/'+author.uuid) }}">{{ author.displayname }} ({{ author.fullname }})</a>
    <strong>commented</strong> on {{ comment.created.strftime('%b %d @ %I:%M %p') }}:
</div>

<div class="content">{{ clean_html(comment.content) | safe }}</div>
{% endblock %}