<p class="intro-text">Please note <strong>answers are not automatically saved</strong> as you type.</p>

<form class="form" name="answerForm" ng-submit="answerSubmit()" novalidate confirm-form-exit form-type="answer">
	<fieldset>
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		<div class="question-desc" mathjax="question.post.content"
			ng-bind-html="question.post.content">
		</div>
		
		<!-- Attachment -->
		<acj-pdf-inline label="See question details:" pdfs="question.post.files">
		</acj-pdf-inline>

		<hr />

		<div class="h3 text-center" ng-show="!canManagePosts && showCountDown">
			<timer end-time="question.answer_end">
				<span title="Official time remaining until deadline" class="bg-danger alert text-danger">{{minutes}} minutes {{seconds}} seconds left</span>
			</timer>
			<br /><br />
			<span class="h4">(Answer must be saved by deadline to be accepted)</span>
		</div>

		<div class="form-group" ng-if="canManagePosts && create">
			<label for="user">Submit As</label>
			<select id="user" name="user" ng-model="answer.user"  class="form-control" required
					ng-options="u.id as u.fullname for u in classlist">
			</select>
		</div>

		<div>
			<label for="importFile">Attach A PDF</label>
			<input type="file" nv-file-select uploader="uploader" id="importFile" ng-hide="uploader.queue.length || answer.uploadedFile" multiple/>
			<p class="instructional-text" ng-show="uploader.queue.length || answer.uploadedFile"><strong>Save this answer</strong> to submit the file below. You may also remove the file and upload another instead.</p>
			<div class="row" ng-repeat="item in uploader.queue">
				<div class="col-md-7"><strong>{{item.file.name}}</strong></div>
				<div class="col-md-1">{{item.file.size/1024/1024|number:2}} MB</div>
				<div class="col-md-2" ng-if="item.progress < 100"><strong>{{item.progress}}% uploaded</strong></div>
				<div class="col-md-2" ng-if="item.progress == 100 && !item.isSuccess"><strong>Storing file...</strong></div>
				<div class="col-md-2" ng-if="item.progress == 100 && item.isSuccess"><strong>Attached</strong></div>
				<div class="col-md-2">
					<a class="btn btn-danger btn-xs" ng-click="item.cancel();item.remove();resetName();">
						<i class="fa fa-trash-o"></i> Remove
					</a>
				</div>
			</div>
		</div>
		<br>
		<div ng-if="answer.uploadedFile">
			<div class="row">
				<div class="col-md-4">
					<strong>{{answer.uploadedFile.alias}}</strong>
				</div>
				<div class="col-md-1">
					<a ng-click="deleteFile(answer.uploadedFile.posts_id, answer.uploadedFile.id)" class="btn btn-danger btn-xs">
						<i class="fa fa-trash-o"></i> Delete
					</a>
				</div>
			</div>
			<br>
		</div>
		<div class="form-group">
			<textarea ng-model="answer.post.content" id="answerContent"
				class="form-control" rows="8" ckeditor ng-required="!(uploader.queue.length || uploadedFile)">
			</textarea>
		</div>
	</fieldset>
	<input type="submit" class="btn btn-success btn-lg center-block" value="Save"
		ng-disabled="answerForm.$invalid || submitted || (uploader.queue.length && !uploader.queue[0].isSuccess)" />
</form>
