<div class="lti-consumers-screen">
    <div class="row">
        <header class="col-md-6">
            <h1>Manage LTI</h1>
        </header>
        <div class="col-md-6 sub-nav">
            <a href="#/lti/consumer/create" class="btn btn-primary" id="create-lti-consumer-btn">
                <i class="fa fa-plus"></i>
                Add LTI Consumer
            </a>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>LTI consumers</h2>
        </div>
    </div>
    <div class="table-responsive" ng-if="consumers.length">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('oauth_consumer_key')">Consumer Key</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('global_unique_identifier_param')">Global Unique Identifier Param</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('student_number_param')">Student Number Param</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('custom_param_regex_sanitizer')">Custom Param Regex Sanitizer</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('active')">Status</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="consumer in consumers">
                    <td class="nowrap">
                        <a href="#/lti/consumer/{{consumer.id}}/edit">Edit</a>
                    </td>
                    <td>
                        <a href="#/lti/consumer/{{consumer.id}}">{{consumer.oauth_consumer_key}}</a>
                    </td>
                    <td>
                        {{consumer.global_unique_identifier_param}}
                    </td>
                    <td>
                        {{consumer.student_number_param}}
                    </td>
                    <td>
                        {{consumer.custom_param_regex_sanitizer}}
                    </td>
                    <td>
                        <select ng-model="consumer.active" ng-options="key for (key , value) in {'Active': true, 'Inactive': false}"
                                ng-change="updateConsumer(consumer)">
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center" ng-if="consumers.length">
        <ul uib-pagination total-items="totalNumConsumers" ng-model="consumerFilters.page"
            max-size="10" class="pagination-sm" boundary-links="true"
            direction-links="false" items-per-page="consumerFilters.perPage"
            num-pages="numPages" ng-hide="numPages == 1"></ul>
    </div>
    <div ng-if="!consumers.length">
        <hr />
        <p>No consumers found. Add a <a href="#/lti/consumer/create">new consumer</a>?</p>
    </div>

    <div ng-controller="LTIContextListController">
        <ng-include src="'modules/lti_context/lti-contexts-list-partial.html'"></ng-include>
    </div>
</div>
