<div ng-controller="JudgementCommentController" class="evaluations-screen">
	
	<h1>Evaluations for "{{ parent.title }}"</h1>
	
	<p class="intro-text">Filter by a student evaluator's name and a criterion, or select "any" to see all available evaluations.</p>
	
	<hr />
	
	<div class="form-group row">
		<div class="col-sm-6">
			<label>Evaluator</label>
			<select class="form-control" ng-model="search.userId" ng-options="id as name for (id, name) in students">
				<option value="">Any Student</option>
			</select>
			<br />
		</div>
		<div class="col-sm-6">
			<label>Criterion</label>
			<select class="form-control nullable" ng-model="search.criteriaId" ng-options="c.id as c.criterion.name for (k, c) in criteria">
				<option value="">Any Criteria</option>
			</select>
		</div>
	</div>
	
	<h2>{{ results.length }} evaluations</h2>
	
	<div ng-show="results.length" class="evaluations">
		
		<div class="each-evaluation" ng-repeat="(key, comment) in comments | filter:commentFilter(search.userId, search.criteriaId) as results">
		
			<!-- Comment Header -->
			<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
				<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
			</a>
			<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
				<span ng-if="comment.postsforcomments.post.user.fullname">
					{{comment.postsforcomments.post.user.fullname}}
				</span>
				<span ng-if="!comment.postsforcomments.post.user.fullname">
					{{comment.postsforcomments.post.user.username}}
				</span>
			</a>
			<strong>wrote</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM D @ h:mm a'}}:
			
			<!-- TODO: criteria -->
			
			<!-- Comment -->
			<div class="content" mathjax="comment.postsforcomments.post.content"
				ng-bind-html="comment.postsforcomments.post.content">
			</div>
			
			<!-- Answers -->
			<a href="" ng-click="showAnswers = !showAnswers; answers(comment)" showAnswers-comments.key = !showAnswers-key">
				<i ng-show="showAnswers" class="fa fa-chevron-down"></i>
				<i ng-hide="showAnswers" class="fa fa-chevron-right"></i>
				Show evaluated answers
			</a>
			
			<div class="row" ng-show="showAnswers">
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h4 class="text-center">Answer 1 <span ng-show="comment.judgement.postsforanswers_id_winner == comment.judgement.answerpairing.postsforanswers_id1">(Chosen)</span></h4>
						<div mathjax="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1].post.content"
							ng-bind-html="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1]['post']['content']">
						</div>
						<p ng-if="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1].post.files.length">
							See details:
							<span ng-repeat="file in comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1].post.files">
								<a target="_blank" ng-href="#/course/{{courseId}}/question/{{questionId}}/post/{{comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1].post.id}}">{{file.alias}} <i class="fa fa-file-pdf-o"></i></a>
							</span>
						</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h4 class="text-center">Answer 2 <span ng-show="comment.judgement.postsforanswers_id_winner == comment.judgement.answerpairing.postsforanswers_id2">(Chosen)</span></h4>
						<div mathjax="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2].post.content"
							ng-bind-html="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2]['post']['content']">
						</div>
						<p ng-if="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2].post.files.length">
							See details:
							<span ng-repeat="file in comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2].post.files">
								<a target="_blank" ng-href="#/course/{{courseId}}/question/{{questionId}}/post/{{comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2].post.id}}">{{file.alias}} <i class="fa fa-file-pdf-o"></i></a>
							</span>
						</p>
					</div>
				</div>
			</div>
		</div>
		
	</div>
		
	<!-- if no comments are available - eg. none submitted or after filter -->
	<div ng-if="results.length < 1">
		<p>No evaluations were found with these filter settings. Try another evaluator or criterion above.</p>
	</div>

</div>