<div ng-controller="JudgementController" class="evaluate-screen">
	
	<h1>Compare Answers <span class="label label-warning pull-right">Round {{current}} / {{total}}</span></h1>
	
	<div class="standalone-question">
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		<div mathjax="question.post.content"
			ng-bind-html="question.post.content">
		</div>
		<!-- Attachment -->
		<acj-pdf-inline label="See question details:" pdfs="question.post.files">
		</acj-pdf-inline>
	</div>
	
	<div ng-show="answerPairError" class="alert alert-warning" role="alert">
		<p>Answer evaluation for this question is not available at this time.</p>
	</div>
	
	<form name="judgementForm" ng-submit="judgementSubmit()" novalidate ng-hide="answerPairError">

		<div class="answer-pair">
			
			<h2>1) Provide feedback for these student answers</h2>
			
			<!-- Show the answers side by side -->
			<div class="row sub-step">			
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h3 class="text-center">Answer {{(current - 1) + current}}</h3>
						<div mathjax="answerPair.answer1.post.content"
							ng-bind-html="answerPair.answer1.post.content">
						</div>
						<!-- Attachment -->
						<acj-pdf-inline label="See detail:" 
							pdfs="answerPair.answer1.post.files">
						</acj-pdf-inline>
						<!-- Flagging -->
						<a href="" class="btn btn-default btn-xs"
							title="Flag as incomplete or inappropriate."
							ng-class="{'btn-danger': answerPair.answer1.flagged}"
							ng-click="toggleAnswerFlag(answerPair.answer1)">
							<i class="fa fa-warning"></i>
							<span ng-if="answerPair.answer1.flagged">Flagged</span>
							<span ng-if="!answerPair.answer1.flagged">Flag</span>
						</a>
					</div>
				</div>
				<div class="col-md-6 ">
					<div class="answer-choice clearfix">
						<h3 class="text-center">Answer {{current * 2}}</h3>
						<div mathjax="answerPair.answer2.post.content"
							ng-bind-html="answerPair.answer2.post.content">
						</div>
						<!-- Attachment -->
						<acj-pdf-inline label="See detail:" 
							pdfs="answerPair.answer2.post.files">
						</acj-pdf-inline>
						<!-- Flagging -->
						<a href="" class="btn btn-default btn-xs pull-right"
							title="Flag as incomplete or inappropriate."
							ng-class="{'btn-danger': answerPair.answer2.flagged}"
							ng-click="toggleAnswerFlag(answerPair.answer2)">
							<i class="fa fa-warning"></i>
							<span ng-if="answerPair.answer2.flagged">Flagged</span>
							<span ng-if="!answerPair.answer2.flagged">Flag</span>
						</a>
					</div>
				</div>
			</div>
			
			<div class="row sub-step">
				<div class="col-md-6">
					<label class="cke-label">
						Reply to Answer {{(current - 1) + current}} (will be visible to classmates)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answerPair.answer1.comment.post.content" rows="8" ckeditor required>
					</textarea>
				</div>
				<div class="col-md-6">
					<label class="cke-label">
						Reply to Answer {{current * 2}} (will be visible to classmates)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answerPair.answer2.comment.post.content" rows="8" ckeditor required>
					</textarea>
				</div>
			</div>
			
		</div>
		
		<div class="form-group">
			<input
				ng-disabled="!(!!answerPair.answer1.comment.post.content && !!answerPair.answer2.comment.post.content)"
				ng-click="isStep2Shown = !isStep2Shown; showNext('#step-2');"
				ng-show="!isStep2Shown"
				value="Next" class="btn btn-success btn-lg center-block" />
		</div>
		
		<div ng-show="isStep2Shown" id="step-2">
		
			<hr />
			
			<h2>2) Choose an answer based on the criteria below</h2>
			
			<div class="form-group sub-step" ng-repeat="questionCriterion in questionCriteria">
				
				<!-- Show the judgement criteria (needs ng-repeat) -->
				<div class="each-criterion text-center sub-step">
					<fieldset>
						<h3><i class="fa fa-gavel"></i> {{questionCriterion.criterion.name}}</h3>
						
						<div class="criteria"
							ng-bind-html="questionCriterion.criterion.description">
						</div>
						
						<p class="required-star"><strong>Select one from this pair</strong></p>
						<div class="btn-group">
							<label class="btn btn-primary" ng-class=
								"{active:questionCriterion.winner==answerPair.answer1.id}">
								<input type="radio" class="hideRadio" 
									name="answer{{answerPair.answer1.id}}" required
									ng-model="questionCriterion.winner"
									ng-value="answerPair.answer1.id">
								Answer {{(current - 1) + current}}
							</label>
							<label class="btn btn-primary" ng-class=
								"{active:questionCriterion.winner==answerPair.answer2.id}">
								<input type="radio" class="hideRadio" 
									name="answer{{answerPair.answer1.id}}" required
									ng-model="questionCriterion.winner"
									ng-value="answerPair.answer2.id">
								Answer {{current * 2}}
							</label>
						</div>
						
						<label class="text-left cke-label">
							Explain your selection (shown only to instructor)
							<i class="fa fa-arrow-down"></i>
						</label>
						<textarea
							  ng-model="questionCriterion.comment" rows="8" ckeditor required>
						</textarea>
					</fieldset>
				</div>
				
			</div>
			
			<div class="form-group sub-step">
				<!-- button to submit and refresh page IF evaluations remain for user -->
				<input ng-disabled="judgementForm.$invalid || submitted" type="submit"
					value="Submit" class="btn btn-success btn-lg center-block" />
			</div>
			
		</div>
		
	</form>

</div>

