<div class="evaluate-screen">
	
	<h1>Compare Answers</h1>
	
	<p class="intro-text">For each round, give individual feedback for the answers in the pair, choose the one that better matches the  criteria  below, and submit your comparison. Please note <strong>answers are not automatically saved</strong> as you type.</p>
	
	<p class="question-toggle"><a href="" ng-click="showQuestion = !showQuestion">
		<i class="fa fa-chevron-down" ng-show="showQuestion"></i>
		<i class="fa fa-chevron-right" ng-hide="showQuestion"></i>
		Show question "{{question.title}}"
	</a></p>
	
	<div ng-show="showQuestion" class="standalone-question">
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		<div mathjax="question.post.content"
			ng-bind-html="question.post.content">
		</div>
		<!-- Attachment -->
		<acj-pdf-inline label="See question details:" pdfs="question.post.files">
		</acj-pdf-inline>
	</div>
	
	<div class="row answer-pair">
		
		<hr />
		
		<h2 class="col-md-6">Answer Pair</h2>
		<h2 class="col-md-6 text-right rounds"><span ng-hide="answerPairError" class="label label-warning">Round {{current}} / {{total}}</span></h2>
		
		<div ng-show="answerPairError" class="alert alert-danger" role="alert">
			<p>Sorry, answer comparisons for the question are not available at this time. Please check again later.</p>
		</div>
		
		<div class="col-md-6" ng-hide="answerPairError">
			<div class="answer-choice clearfix">
				<h3 class="text-center">Answer {{(current - 1) + current}}</h3>
				<div mathjax="answerPair.answer1.content"
					ng-bind-html="answerPair.answer1.content">
				</div>
				<!-- Attachment -->
				<acj-pdf-inline label="See detail:" 
					pdfs="answerPair.answer1.files">
				</acj-pdf-inline>
				<!-- Flagging -->
				<a href="" class="btn btn-default btn-xs pull-right"
					title="Flag as incomplete or inappropriate."
					ng-class="{'btn-danger': answerPair.answer1.flagged}"
					ng-click="toggleAnswerFlag(answerPair.answer1)">
					<i class="fa fa-warning"></i>
					<span ng-if="answerPair.answer1.flagged">Flagged</span>
					<span ng-if="!answerPair.answer1.flagged">Flag</span>
				</a>
			</div>
		</div>
		
		<div class="col-md-6" ng-hide="answerPairError">
			<div class="answer-choice clearfix">
				<h3 class="text-center">Answer {{current * 2}}</h3>
				<div mathjax="answerPair.answer2.content"
					ng-bind-html="answerPair.answer2.content">
				</div>
				<!-- Attachment -->
				<acj-pdf-inline label="See detail:" 
					pdfs="answerPair.answer2.files">
				</acj-pdf-inline>
				<!-- Flagging -->
				<a href="" class="btn btn-default btn-xs pull-right"
					title="Flag as incomplete or inappropriate."
					ng-class="{'btn-danger': answerPair.answer2.flagged}"
					ng-click="toggleAnswerFlag(answerPair.answer2)">
					<i class="fa fa-warning"></i>
					<span ng-if="answerPair.answer2.flagged">Flagged</span>
					<span ng-if="!answerPair.answer2.flagged">Flag</span>
				</a>
			</div>
		</div>
		
	</div>
	
	<form name="judgementForm" ng-submit="judgementSubmit()" novalidate ng-hide="answerPairError" confirm-form-exit form-type="compare">
		
		<div>
			
			<hr />
			
			<h3>1) Give constructive feedback to the authors of each answer</h3>
			
			<div class="row sub-step">
				
				<p class="intro-text">Use instructor-provided guidelines, or explain what each author did well or could improve on based on the comparison criteria:
					<span ng-repeat="questionCriterion in questionCriteria">{{questionCriterion.criterion.name}} </span>
				</p>
				
				<div class="col-md-6">
					<label class="cke-label">
						Your feedback for Answer {{(current - 1) + current}} (shown to instructors and author)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answerPair.answer1.comment.post.content" rows="8" ckeditor required>
					</textarea>
				</div>
				<div class="col-md-6">
					<label class="cke-label">
						Your feedback for Answer {{current * 2}} (shown to instructors and author)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answerPair.answer2.comment.post.content" rows="8" ckeditor required>
					</textarea>
				</div>
			</div>
			
			<!-- <div class="form-group">
				<input
					ng-disabled="!(!!answerPair.answer1.comment.post.content && !!answerPair.answer2.comment.post.content)"
					ng-click="isStep2Shown = !isStep2Shown; showNext('#step-2');"
					ng-show="!isStep2Shown"
					value="Next" class="btn btn-success btn-lg center-block" />
			</div> -->
			
		</div>
		
		<!--<div ng-show="isStep2Shown" id="step-2">-->
		<div>
			
			<hr />
			
			<h3>2) Choose the answer that best meets the criteria below</h3>
			
			<p class="intro-text">Your selection helps determine a criteria-based ranking of the answers.</p>
			
			<div ng-if="questionCriteria.length == 0" class="text-center">
				<p>No criteria have been set for this question yet. Please select one or more of the course criteria.</p>
				<br />
			</div>
			
			<div class="form-group sub-step" ng-repeat="questionCriterion in questionCriteria">
				
				<div class="each-criterion sub-step">
					<fieldset>
						<div class="row">
							<div class="col-sm-6 text-center">
								<h4><i class="fa fa-gavel"></i> {{questionCriterion.criterion.name}}</h4>	
								<div class="criteria"
									ng-bind-html="questionCriterion.criterion.description">
								</div>
								<p><strong>Select one:</strong></p>
								<div class="btn-group">
									<label class="btn btn-primary" ng-class=
										"{active:questionCriterion.winner==answerPair.answer1.id}">
										<input type="radio" class="hideRadio" 
											name="answer{{answerPair.answer1.id}}" required
											ng-model="questionCriterion.winner"
											ng-value="answerPair.answer1.id">
										Answer {{(current - 1) + current}}
									</label>
									<label class="btn btn-primary" ng-class=
										"{active:questionCriterion.winner==answerPair.answer2.id}">
										<input type="radio" class="hideRadio" 
											name="answer{{answerPair.answer1.id}}" required
											ng-model="questionCriterion.winner"
											ng-value="answerPair.answer2.id">
										Answer {{current * 2}}
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-left cke-label">
									Explain your selection (shown only to instructors)
									<i class="fa fa-arrow-down"></i>
								</label>
								<textarea
									ng-model="questionCriterion.comment" rows="4" ckeditor required>
								</textarea>
							</div>
						</div>
					</fieldset>
				</div>
				
			</div>
			
			<div class="form-group sub-step">
				<!-- button to submit and refresh page IF evaluations remain for user -->
				<input ng-disabled="judgementForm.$invalid || submitted" type="submit"
					value="Submit" class="btn btn-success btn-lg center-block" />
				<p ng-if="submitted" class="text-center" >
					<i class="fa fa-spin fa-spinner"></i>
					&nbsp; Saving comparison...  
				</p>
				
			</div>
			
			
		</div>
		
	</form>

</div>

