<div ng-controller="JudgementController" class="evaluate-screen">
	
	<h1>Evaluate Answers (Round {{current}} / {{total}})</h1>
	
	<div class="standalone-question">
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		<div mathjax="question.post.content"
			ng-bind-html="question.post.content">
		</div>
		<!-- Attachment -->
		<div ng-if="question.post.files.length">
			<p>See question details:
				<span ng-repeat="file in question.post.files">
					<a target="_blank" ng-href="#/course/{{courseId}}/question/{{questionId}}/post/{{question.post.id}}">{{file.alias}} <i class="fa fa-file-pdf-o"></i></a>
				</span>
			</p>
		</div>
	</div>
	
	<div ng-show="answerPairError" class="alert alert-warning" role="alert">
		<p>Answer evaluation for this question is not available at this time.</p>
	</div>
	
	<form name="judgementForm" ng-submit="judgementSubmit()" novalidate ng-hide="answerPairError">

		<div class="answer-pair">
			
			<h2>1) Evaluate each answer</h2>
			
			<!-- Show the answers side by side -->
			<div class="row">			
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h3 class="text-center">Answer 1</h3>
						<div mathjax="answerPair.answer1.post.content"
							ng-bind-html="answerPair.answer1.post.content">
						</div>
						<!-- Attachment -->
						<p ng-if="answerPair.answer1.post.files.length">
							See details:
							<span ng-repeat="file in answerPair.answer1.post.files">
								<a target="_blank" ng-href="#/course/{{courseId}}/question/{{questionId}}/post/{{answerPair.answer1.post.id}}">{{file.alias}} <i class="fa fa-file-pdf-o"></i></a>
							</span>
						</p>
						<a href="" class="btn btn-default btn-xs"
							title="Flag as incomplete or inappropriate."
							ng-class="{'btn-danger': answerPair.answer1.flagged}"
							ng-click="toggleAnswerFlag(answerPair.answer1)">
							<i class="fa fa-warning"></i>
							<span ng-if="answerPair.answer1.flagged">Flagged</span>
							<span ng-if="!answerPair.answer1.flagged">Flag</span>
						</a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h3 class="text-center">Answer 2</h3>
						<div mathjax="answerPair.answer2.post.content"
							ng-bind-html="answerPair.answer2.post.content">
						</div>
						<!-- Attachment -->
						<p ng-if="answerPair.answer2.post.files.length">
							See details:	
							<span ng-repeat="file in answerPair.answer2.post.files">
								<a target="_blank" ng-href="#/course/{{courseId}}/question/{{questionId}}/post/{{answerPair.answer2.post.id}}">{{file.alias}} <i class="fa fa-file-pdf-o"></i></a>
							</span>
						</p>
						<a href="" class="btn btn-default btn-xs pull-right"
							title="Flag as incomplete or inappropriate."
							ng-class="{'btn-danger': answerPair.answer2.flagged}"
							ng-click="toggleAnswerFlag(answerPair.answer2)">
							<i class="fa fa-warning"></i>
							<span ng-if="answerPair.answer2.flagged">Flagged</span>
							<span ng-if="!answerPair.answer2.flagged">Flag</span>
						</a>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6">
					<label class="cke-label">
						Reply to Answer 1 (will be visible to classmates)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answerPair.answer1.comment.post.content" rows="8" ckeditor required>
					</textarea>
				</div>
				<div class="col-md-6">
					<label class="cke-label">
						Reply to Answer 2 (will be visible to classmates)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answerPair.answer2.comment.post.content" rows="8" ckeditor required>
					</textarea>
				</div>
			</div>
			
		</div>
		
		<div class="form-group">
			<input
				ng-disabled="!(!!answerPair.answer1.comment.post.content && !!answerPair.answer2.comment.post.content)"
				ng-click="isStep2Shown = !isStep2Shown; showNext('#step-2');"
				ng-show="!isStep2Shown"
				value="Next" class="btn btn-success btn-lg center-block" />
		</div>
		
		<div ng-show="isStep2Shown" id="step-2">
		
			<hr />
			
			<h2>2) Choose an answer</h2>
			
			<div class="form-group" ng-repeat="courseCriterion in courseCriteria">
				
				<!-- Show the judgement criteria (needs ng-repeat) -->
				<div class="each-criterion text-center">
					<fieldset>
						<h3><i class="fa fa-gavel"></i> {{courseCriterion.criterion.name}}</h3>
						
						<div class="criteria"
							ng-bind-html="courseCriterion.criterion.description">
						</div>
						
						<div class="btn-group">
							<label class="btn btn-primary" ng-class=
								"{active:courseCriterion.winner==answerPair.answer1.id}">
								<input type="radio" class="hideRadio" 
									name="answer{{answerPair.answer1.id}}" required
									ng-model="courseCriterion.winner"
									ng-value="answerPair.answer1.id">
								Select Answer 1
							</label>
							<label class="btn btn-primary" ng-class=
								"{active:courseCriterion.winner==answerPair.answer2.id}">
								<input type="radio" class="hideRadio" 
									name="answer{{answerPair.answer1.id}}" required
									ng-model="courseCriterion.winner"
									ng-value="answerPair.answer2.id">
								Select Answer 2
							</label>
						</div>
						
						<label class="text-left cke-label">
							Explain this selection (shown only to instructor)
							<i class="fa fa-arrow-down"></i>
						</label>
						<textarea
							  ng-model="courseCriterion.comment" rows="8" ckeditor required>
						</textarea>
					</fieldset>
				</div>
				
			</div>
			
			<div class="form-group">
				<!-- button to submit and refresh page IF evaluations remain for user -->
				<input ng-disabled="judgementForm.$invalid" type="submit" 
					value="Submit" class="btn btn-success btn-lg center-block" />
			</div>
			
		</div>
		
	</form>

</div>

