<div ng-controller="JudgementCommentController">
	<h1>Evaluation Comments</h1>
	<!-- filters: criteria, answer1, answer2 - make criteria required? -->
	<strong>Criterion</strong>
	<select ng-model="search.judgement.course_criterion.id" ng-options="c.id as c.criterion.name for (k, c) in criteria"></select>
	<strong>Author 1</strong>
	<select ng-change="reset()" ng-model="answer.one" ng-options="k as a for (k, a) in authors">
		<option value="">-- First Author --</option>
	</select>
	<strong>Author 2</strong>
	<select ng-model="answer.two" ng-options="id as authors[id] for id in answerpairings[answer.one]">
		<option value="">-- Second Author --</option>
	</select>

	<hr>

	<div ng-repeat="comment in comments | filter:search | filter:answerFilter(answer.one) |
		filter: answerFilter(answer.two)" style="font-size: .85em;">

		<!-- Comment Header -->
		<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
			<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
		</a>
		<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
			{{comment.postsforcomments.post.user.displayname}}
			<span ng-if="comment.postsforcomments.post.user.fullname">
				({{comment.postsforcomments.post.user.fullname}})
			</span>
			<span ng-if="!comment.postsforcomments.post.user.fullname">
				({{comment.postsforcomments.post.user.username}})
			</span>
		</a>
		<strong>commented</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM D @ h:mm a'}}:

		<!-- TODO: criteria -->

		<!-- Comment -->
		<div class="content" mathjax="comment.postsforcomments.post.content"
			 ng-bind-html="comment.postsforcomments.post.content">
		</div>

	</div>

	<!-- if no comments are available - eg. none submitted or after filter -->
	<div ng-if="comments.length < 1">
		<h2>No comments are found</h2>
	</div>
</div>