<div ng-controller="JudgementController" class="evaluate-screen">
	
	<h1>Evaluate Answers</h1>

	<div ng-show="answerPairError" class="alert alert-danger" role="alert">
		Answer evaluation is not available at this time. Please try again later.
	</div>
	
	<div class="standalone-question">
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		<div mathjax="question.post.content"
			ng-bind-html="question.post.content">
		</div>
	</div>
	
	<form name="judgementForm" ng-submit="judgementSubmit()" novalidate>
	
		<div class="form-group" ng-repeat="courseCriterion in courseCriteria">
			
			<hr />
			
			<!-- Show the judgement criteria -->
			<div class="criteria">
				<h2 class="text-center">{{courseCriterion.criterion.name}}</h2>
				<div class="text-center criteria" 
					ng-bind-html="courseCriterion.criterion.description">
				</div>
			</div>
			
			<div ng-hide="answerPairError" class="answer-pair">
			
				<!-- Show the answers side by side -->
				<div class="row">
					<div class="col-md-6">
						<div class="answer-choice">
							<div class="answer-top">
								<label class="btn btn-default" ng-class=
									"{active:courseCriterion.winner==answerPair.answer1.id}">
									<input type="radio" class="btn btn-default hideRadio" 
										name="answer{{answerPair.answer1.id}}" required
										ng-model="courseCriterion.winner"
										ng-value="answerPair.answer1.id">
									<i class="fa fa-arrow-down"></i>
									&nbsp; Select this
								</label>
							</div>
							<h2 class="text-center">Answer 1</h2>
							<div mathjax="answerPair.list[0].post.content"
								ng-bind-html="answerPair.list[0].post.content">
							</div>
							<a href="" class="btn btn-default btn-xs"
								title="Flag as incomplete or inappropriate."
								ng-class="{'btn-danger': answerPair.answer1.flagged}"
								ng-click="toggleAnswerFlag(answerPair.answer1)">
								<i class="fa fa-warning"></i>
								<span ng-if="answerPair.answer1.flagged">Flagged</span>
								<span ng-if="!answerPair.answer1.flagged">Flag</span>
							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="answer-choice">
							<div class="answer-top">
								<label class="btn btn-default" ng-class=
									"{active:courseCriterion.winner==answerPair.answer2.id}">
									<input type="radio" class="btn btn-default hideRadio" 
										name="answer{{answerPair.answer1.id}}" required
										ng-model="courseCriterion.winner"
										ng-value="answerPair.answer2.id">
									Select this &nbsp;
									<i class="fa fa-arrow-down"></i>
								</label>
							</div>
							<h2 class="text-center">Answer 2</h2>
							<div mathjax="answerPair.list[1].post.content"
								ng-bind-html="answerPair.list[1].post.content">
							</div>
							<a href="" class="btn btn-default btn-xs pull-right"
								title="Flag as incomplete or inappropriate."
								ng-class="{'btn-danger': answerPair.answer2.flagged}"
								ng-click="toggleAnswerFlag(answerPair.answer2)">
								<i class="fa fa-warning"></i>
								<span ng-if="answerPair.answer2.flagged">Flagged</span>
								<span ng-if="!answerPair.answer2.flagged">Flag</span>
							</a>
						</div>
					</div>
				</div>
			
			</div><!-- Hidden on answer pair error -->
			
			<div ng-hide="!answerPairError">
				<p>Answers not properly loaded. Please refresh the page.</p>
			</div>
			
		</div>
		
		<div class="form-group">
			<input ng-disabled="judgementForm.$invalid" type="submit" 
				value="Submit" class="btn btn-success btn-lg center-block" />
		</div>
		
	</form>

</div>

