

/***** COURSE SCREEN *****/

.course-screen {
  
  /* search box */
  .searchCourse {
    margin-top: 1.5em;
  }
  
  .btn {
    margin: 0 0 1em .2em;
  }
  
  /* class for div surrounding each question */
  .each-question {
    
    padding: 1.5em 0;
    .gray-box();
    border-bottom: none;
    
    /* alternating rows */
    &:nth-child(odd) {
      background: #fff;
    }
    
    &:last-child {
      border-bottom: 1px solid @border-gray;
    }
    
    /* ul for metadata */
    .list-inline {
      
      margin-bottom: .5em;
      padding-top: .5em;
      color: @breadcrumb-gray;
      border-top: 2px dotted @border-gray;
    
      /* each piece of data */
      li {
        
        padding: .2em .5em;
        border-right: 1px solid @border-gray;
        
        &:last-child {
          border-right: none;
        }
          
      }//closes li

     /* label is applied to li when evaluations are needed */
      .label {
        font-size: 100%;
      }
    
    }//closes list-inline
    
  }//closes each-question
  
}//closes course-screen

