

/***** EVALUATE SCREEN *****/

.evaluate-screen {

  /* class for div containing criteria (question and judging details) */
  .criteria {
    margin-bottom: 2em;
  }

  /* class for div around answer button */
  .answer-top {
    
    text-align: center;
    
    /* hide the actual answer input (radio button) */
    .hideRadio {
      opacity: 0;
    }
    
  }//closes answer-top
  
  /* class for div surrounding each answer choice */
  .answer-choice {
    margin-bottom: 2em;
    padding: 2em;
    .gray-box();
  }

}//closes evaluate-screen

