

/***** OVERALL *****/

@media screen {
    
    @page {
        margin: .5cm;
    }
    
    * {
                color: #000 !important;
    }
    
    body {
        font-family:  'Clarendon Std', 'Century Old Style Std', 'Century Schoolbook', Georgia, serif;
        line-height: 1.3;
        background: #fff;
    }
    
    /*.navbar,*/
    /*.breadcrumb-trail,*/
    .sub-nav,
    .manager-actions,
    .btn-success,
    .btn-reply,
    .btn-default,
    #comments-tab .btn-primary,
    .read-more,
    .below-button-text {
        display: none;
    }
    
    .btn-primary,
    .btn-primary[disabled],
    legend {
        background: #fff;
        border: 1px solid @border-gray;
    }
    
    img {
        max-width: 100%;
    }
    
    .label {
        background: transparent !important;
        border: 1px solid @border-gray;
    }
    
    .standalone-question,
    fieldset {
        background: #fff;
        border: 2px solid @border-gray;
    }
    
    fieldset .instructional-text {
        border-color: @border-gray;
    }
    
    .question-screen .question-metadata-list,
    .question-screen .question-metadata-list > li {
        border-color: @border-gray;
    }
    
    .pdfInline a {
        background: transparent;
        border: none;
    }

    .pdfInline a:after {
        content: ' [Log in to the application to see and download this file]';
    }
    
    
    .question-screen .tab-content .each-answer > .content,
    .question-screen .tab-content .each-comment > .content {
        max-height: none;
        width: 80%;
    }

}