*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

*.swp

tmp/*
tmpUpload/*

# idea project file
.idea
.ropeproject/
*.db
config.py

# compiled files
acj/static/acj.css
bower_components
node_modules

#vagrant files
.vagrant

.env

# uploaded files
acj/static/pdf/*
acj/static/report/*

# google analytics file
acj/static/tracking.js
