<div class="pdfInline" ng-if="pdfs.length">
	<!-- List of files, user clicks on one to view in iframe -->
	<ul class="list-inline">
		<li>{{label}}</li>
		<li ng-repeat="pdf in pdfs">
			<a href="" class="btn btn-primary btn-xs" 
				ng-click="updatePDF(pdf.name);">
				<i class="fa fa-file-pdf-o"></i> Show PDF
			</a>
			<a ng-href="" class="btn btn-default btn-xs"
			   ng-click="openPDF(pdf.name);">
				<i class="fa fa-file-pdf-o"></i> Open PDF
			</a>
		</li>
	</ul>
	<!-- Iframe for showing the PDF file here -->
	<div class="pdfIframeWrapper" ng-if="pdfvisible">
		<iframe width="389" height="550" ng-src="{{pdfurl}}" allowfullscreen webkitallowfullscreen>
		</iframe>
	</div>
</div>
