            body {
                padding-top: 50px;
                padding-bottom: 20px;
                font-size: 1.6em;
            }
            p {
                margin: 1.8em 0;
                line-height: 1.6em;
            }
            h1.main-heading {
                margin-top: 1em;
                border-bottom: 4px solid;
            }
            h2.sub-heading {
                margin-top: 1.5em;
                padding: .25em .5em;
                color: #5cb85c;
                border-bottom: 2px dotted #5cb85c;
            }
            h3 {
                line-height: 1.4em;
            }
            dt {
                font-size: 1.1em;
            }
            dd {
                margin-bottom: 1.4em;
                margin-left: 2em;
                font-size: .9em;
            }
            img {
                max-width: 100%;
            }
            blockquote {
                margin-top: 2em;
                color: #666;
                font-size: 1em;
                background-color: #fafafa;
            }
            .navbar-brand {
                padding:5px 15px 0 15px;
            }
            .value-prop {
                margin-bottom: 1.5em;
            }
            .jumbotron {
                padding-bottom: 0;
                border-bottom: 5px solid;
            }
            .jumbotron h1 {
                margin-top: .4em;
                font-size: 3.4em;
            }
            .screenshot {
                border: 1px solid #ccc;
                border-bottom: none;
            }
            .intro-text {
                font-size: 1.2em;
            }
            .green-text {
                color: #5cb85c;
            }
            .glyphicon-apple {
                font-size: 1.2em;
            }
            .first-apple {
                color: #b74b45;
            }
            .second-apple {
                color: #ff6961;
            }
            .logo-row .col-md-4 {
                text-align: center;
            }
            @media (min-width: 992px) {
                .logo-row .col-md-4 {
                    text-align: left;
                }
                .logo-row img {
                    margin: 1em 0;
                }
            }
            .logo-row img {
                margin-bottom: 1em;
            }
            .logo-row h3 {
                margin: 0;
            }
            .highlight-heading {
                padding: 1em;
                margin-left: 0;
                margin-right: 0;
                background: #eee;
                border-radius: 5px;
                font-weight: normal;
            }
            .highlight-heading .glyphicon {
                font-size: 1.4em;
            }
            .intro-list-heading {
                margin-top: .9em;
                margin-left: .6em;
                font-variant: small-caps;
                font-weight: normal;
            }
            .intro-list {
                margin-top: 1.2em;
                padding-left: 0;
                list-style: none;
                border-left: 5px solid #eee;
            }
            .intro-list li {
                margin-bottom: 1em;
                padding: 0 1em 1em 1em;
                border-bottom: 1px solid #ccc;
            }
            .intro-list li:last-child {
                border-bottom: none;
            }
            .intro-list li a {
                display: inline-block;
                font-weight: bold;
                border-bottom: 1px dotted;
            }
            .intro-list li a:hover {
                text-decoration: none;
            }
            .intro-list .btn-primary {
                margin-bottom: 1em;
                border-bottom: none;
            }
            .intro-list .side-selected i {
                margin-top: .25em;
            }
            .intro-list .side-selected span {
                display: inline-block;
                margin: 0 0 0 1em;
                width: 80%;
            }
            .fixed-position {
                position: fixed;
                width: 33.33%;
            }
            .thumbnail {
                margin-left: 2%;
                width: 96%;
            }
            .thumbnail .caption {
                color: #888;
                text-align: center;
            }
            .list-group {
                margin: 2em 0;
            }
            .list-group-item-light,
            .alert-light {
                background-color: #fafafa;
            }
            .list-group .indented {
                display: inline-block;
                margin: .75em 1em 1em 1em;
                font-size: .9em;
            }