            body {
                padding-top: 50px;
                padding-bottom: 20px;
                font-size: 1.6em;
            }
            p {
                margin: 1.4em 0;
                line-height: 1.6em;
            }
            h1.main-heading {
                margin-top: 1em;
                border-bottom: 4px solid;
            }
            h3 {
                line-height: 1.4em;
            }
            img {
                max-width: 100%;
            }
            .value-prop {
                margin-bottom: 1.5em; 
            }
            .jumbotron {
                padding-bottom: 0;
                border-bottom: 5px solid;
            }
            .jumbotron h1 {
                margin-top: .4em;
                font-size: 3.4em;
            }
            .screenshot {
                border: 1px solid #ccc;
                border-bottom: none;
            }
            .green-text {
                color: #5cb85c;
            }
            .glyphicon-apple {
                font-size: 1.2em;
            }
            .first-apple {
                color: #b74b45;
            }
            .second-apple {
                color: #ff6961;
            }
            .highlight-heading {
                padding: .8em;
                background: #eee;
                border-radius: 5px;
            }
            .intro-list-heading {
                margin-top: .9em;
            }
            .intro-list {
                margin-top: 1.2em;
                padding-left: 0;
                font-size: 1.05em;
                list-style: none;
                border-left: 5px solid #eee;
            }
            .intro-list li {
                margin-bottom: 1em;
                padding: 0 1em 1em 1em;
                border-bottom: 1px solid #ccc;
            }
            .intro-list li:last-child {
                border-bottom: none;
            }
            .intro-list li a {
                display: inline-block;
                font-weight: bold;
                border-bottom: 1px dotted;
            }
            .intro-list li a:hover {
                text-decoration: none;
            }
            .intro-list .side-selected i {
                margin-top: .25em;
            }
            .intro-list .side-selected span {
                display: inline-block;
                margin: 0 0 0 1em;
                width: 80%;
            }
            .fixed-position {
                position: fixed;
                width: 33.33%;
            }
            .thumbnail .caption {
                color: #888;
                text-align: center;
            }