<div ng-controller="UserViewController">
	<h2>{{user.displayname}}</h2>
	<hr>
	<div class="col-md-4">
		<div class="row">
			<img class="media-object" src="//www.gravatar.com/avatar/{{user.avatar}}?s=200&d=retro">
		</div/>
		<div class="row optionsFooter" ng-if="ownProfile">
			<a ng-href="#/user/{{user.id}}/edit" class="btn btn-sm btn-primary">
				<i class="fa fa-edit"></i> Edit
			</a>
		</div>
	</div>
	<div class="col-md-8">
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Name:</strong>
			<div class="col-md-9">{{user.fullname}}</div>
		</div>
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">User Type:</strong>
			<div class="col-md-9">{{user.usertypeforsystem.name}}</div>
		</div>
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Email:</strong>
			<div class="col-md-9">{{user.email}}</div>
		</div>
		<div class="row">
			<strong class="col-md-3">Last Online:</strong>
			<div class="col-md-9">{{user.lastonline}}</div>
		</div>
		<div class="row">
			<strong class="col-md-3">Created On:</strong>
			<div class="col-md-9">{{user.created}}</div>
		</div>
		</div>
	</div>
</div>
