<div ng-controller="UserViewController">
	<div class="pull-right" ng-if="canManageUser || ownProfile">
		<a ng-href="#/user/{{user.id}}/edit" class="btn btn-primary">
			<i class="fa fa-edit"></i> Edit
		</a>
	</div>
	<h1><i class="fa fa-user"></i> {{user.displayname}}'s Profile</h1>
	<p ng-if="!canCreateUser && ownProfile" class="intro-text">Instructors can always see your profile information in the application. Students can only see your display name, icon, and the last time you logged in. To make yourself anonymous to other students, click the "Edit" button and change what appears in the "Display Name" field. (If your icon below is personalized, you can remove your email address or log in to <a href="https://en.gravatar.com/">Gravatar</a> to change the icon.)</p>
	<p ng-if="canCreateUser" class="intro-text">Instructors can always see student profile information in the application. Students can only see each other's display name, icon, and the last time a student logged in. To ensure student anonymity, have your students check what appears as their icon and display name. To edit student information, please contact a system administrator.</p>
	<hr>
	<div class="col-md-4">
		<a href="https://en.gravatar.com/" title="Add or edit your user image with Gravatar">
		   <img class="media-object" src="//www.gravatar.com/avatar/{{user.avatar}}?s=200&d=retro">
		</a>
	</div>
	<div class="col-md-8">
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Application Role:</strong>
			<div class="col-md-9">{{user.usertypeforsystem.name}}</div>
		</div>
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Username:</strong>
			<div class="col-md-9">{{user.username}}</div>
		</div>
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Student Number:</strong>
			<div class="col-md-9">{{user.student_no}}</div>
		</div>
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Name:</strong>
			<div class="col-md-9">{{user.fullname}}</div>
		</div>
		<div class="row">
			<strong class="col-md-3">Display Name:</strong>
			<div class="col-md-9">{{user.displayname}}</div>
		</div>
		<div class="row" ng-if="canCreateUser || ownProfile">
			<strong class="col-md-3">Email:</strong>
			<div class="col-md-9">{{user.email}}</div>
		</div>
		<div class="row">
			<strong class="col-md-3">Last Online:</strong>
			<div ng-show="readDate" class="col-md-9">{{readDate | date:"EEEE, MMM d, yyyy @ h:mm a"}}</div>
		</div>
		<!-- <div class="row">
			<strong class="col-md-3">Created On:</strong>
			<div class="col-md-9">{{user.created}}</div>
		</div> -->
	</div>
</div>
