[Unit]
Description=Celery instance to perform delayed ComPAIR tasks
After=network.target

[Service]
WorkingDirectory=/www_data/compair
Environment="PATH=/www_data/compair/.env/bin"
Environment="C_FORCE_ROOT=1"
Environment="DATABASE_URI=mysql+pymysql://compair:compair_password@localhost/compair"
Environment="CELERY_BROKER_URL=redis://0.0.0.0:6379"
Environment="ASSET_LOCATION=local"
ExecStart=/www_data/compair/.env/bin/celery -A celery_worker.celery worker --logfile=/var/log/worker.log

[Install]
WantedBy=multi-user.target
