
<script src="script-assignment-search.js"></script>

<div class="users-screen">
    <div class="row">
        <h1 class="col-sm-8">Plan Release Date</h1>

        <form class="col-sm-4 search-users text-right" role="search">

            <div class="form-group">
                <span class="input-group">
                    <!--calendar-->
                    <div ng-app="ubc.ctlt.compair.assignment" ng-controller="AssignmentSearchEndDateController as ctrlEndDate" >
                            <div class="input-group" >
                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MMM-dd" ng-model="dt" is-open="isDatepickerOpen" ng-change="searchDate();" min-date="{{minDate}}" datepicker-options="datepickerOptions" ng-required="true" ng-readonly="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="isDatepickerOpen = !isDatepickerOpen">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                  </span>

                                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MMM-dd" ng-model="dt2" is-open="isDatepickerOpen2" ng-change="searchDate2();"  datepicker-options="datepickerOptions" ng-required="true" ng-readonly="true" close-text="Close" alt-input-formats="altInputFormats"/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="isDatepickerOpen2 = !isDatepickerOpen2">
                                      <i class="glyphicon glyphicon-calendar"></i>
                                    </button>
                                  </span>
                            </div>
                    </div>

            </div>

        </form>

        <div></div>
    </div>

    <!-- Here a loader is created which
        loads till response comes -->
    <div class="d-flex justify-content-center">
        <div class="spinner-border"
             role="status" id="loading">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

    <div class="instructional-text">
        <p class="intro-text">The purpose of this page is to search for ongoing or active assignments on a given date, to help plan potential schedules for testing, staging, and production environments. <br/><br/>If you plan to release from <b id="searchDay"></b> to <b id="searchDayEnd"></b>, there will be <b id="numberOfAssignment"></b>. Enter another date to check for active assignments then.
        </p>

    </div>

    <div>
    <table id="apiresults" class="table table-striped"></table>
    </div>

</div>
