<div ng-controller="ClassViewController" class="manage-screen">
	
	<div class="row">	
		<header class="col-md-6">
			<h1><i class="fa fa-users"></i> Manage Users</h1>
		</header>
		<div class="col-md-6 sub-nav">
			<a ng-href="#/course/{{courseId}}/user/import" class="btn btn-primary">
				<i class="fa fa-upload"></i>
				Import Users
			</a>
            <a href="" class="btn btn-primary" ng-click="export()">
                <i class="fa fa-download"></i>
                Export Users
            </a>
			<a ng-href="#/course/{{courseId}}/user/group/import" class="btn btn-primary">
				<i class="fa fa-list-ul"></i>
				Assign Groups
			</a>
			<!-- TO DO: button should compile the CSV file -->
			<!-- <a href="" class="btn btn-primary">
				<i class="fa fa-download"></i>
				Export Users
			</a> -->
		</div>
	</div>
	
	<p class="intro-text">Drop or enrol individual users&mdash;who are already in the application&mdash;below. To create, drop, or enrol multiple users in a course at the same time, click Import Users above.</p>
	
	<h2 >Enrolled in {{course_name}}</h2>
	<hr />

	<div class="row">
		<h3 class="col-md-2">{{ classlist.length }} Users</h3>
		<div class="col-md-10">
			<ng-include src="'modules/classlist/classlist-enrol-partial.html'"></ng-include>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr class>
					<th>Actions</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'user.firstname' && !reverse; predicate = 'user.firstname'">
							First Name</a>
					</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'user.lastname' && !reverse; predicate = 'user.lastname'">
							Last Name</a>
					</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'user.student_no' && ! reverse; predicate = 'user.student_no'">
							Student Number</a>
					</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'user.displayname' && !reverse; predicate = 'user.displayname'">
							Display Name</a>
					</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'user.email' && !reverse; predicate = 'user.email'">
							Email</a>
					</th>
					<th>
						<a href="" ng-click="reverse = predicate == 'course_role' && !reverse; predicate = 'course_role'">
							Course Role</a>
					</th>
					<th ng-if="groups.length > 0">Group</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in classlist | orderBy:predicate:reverse">
					<td>
						<a href="#/user/{{user.id}}/edit" target="_blank">
							Edit
						</a>
						&nbsp;|&nbsp;
						<a href="" confirmation-needed ng-click="unenrol(user.id)" keyword="user">
							Drop
						</a>
					</td>
					<td>{{user.firstname}}</td>
					<td>{{user.lastname}}</td>
					<td>{{user.student_no}}</td>
					<td><a ng-href="#/user/{{user.id}}">{{user.displayname}}</a></td>
					<td>{{user.email}}</td>
					<td>
						<select ng-if="loggedInUserId != user.id" ng-model="user.course_role" ng-options="r.name for r in roles track by r.name"
								ng-change="enrol(user, user.course_role)"></select>
						<span ng-if="loggedInUserId == user.id">{{ user.course_role }}</span>
					</td>
					<td ng-if="groups.length > 0">
						<select ng-model="user.groups[0].groups_id" ng-options="g.id as g.name for g in groups"
								ng-change="update(user.id, user.groups[0].groups_id)">
							<option value="">- None -</option>
						</select>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
</div>
