<div ng-controller="EnrolInstructorController">

	<h1>Enrol Instructors for {{course.name}}</h1>
	<br />
	<h3>Enroled Instructors</h3>
	<ul>
		<li ng-repeat="(id, name) in enroled"><span>{{ name }}</span><a ng-click="remove(id)"> Unenrol</a></li>
	</ul>
	<form name="enrolForm" class="form" ng-submit="enrolSubmit()" novalidate>
		<fieldset>
			<div class="form-group">
				<label for="user">User</label>
				<select class="form-control" ng-model="user.user_id" name="user" required ng-options="id as name for (id, name) in instructors"></select>
			</div>
		</fieldset>
		<input type="submit" class="btn btn-success btn-lg center-block" value="Enrol" ng-disabled="submitted || enrolForm.$invalid"/>
	</form>
</div>