<div ng-controller="GroupImportController">

	<h1>Assign Groups</h1>
	<p class="intro-text">Assign users who are already enrolled in your course to specific groups in the course.</p>
	<p>Note the following guidelines:</p>
	<ul class="li-spacing">
		<li>Groups are assigned by importing a <strong>CSV (comma-separated values) file</strong>.</li>
		<li>Data is expected in this order: <strong>User Identifier, Group Name</strong>. Both fields are required.</li>
		<li>The user identifier can be the username in the application <em>or</em> the student number.</li>
		<li>To export a list of student numbers to use for a CSV file, UBC instructors can log in to the <a href="https://ssc.adm.ubc.ca/fsc/home">Faculty Service Centre</a>.</li>
	</ul>
	<div class="form-group">
		<fieldset>
			<legend>For {{ course_name }}</legend>
			<label>User Identifier in CSV file</label>
			<select class="form-control" ng-model="userIdentifier" id="userIdentifier"
					ng-options="u.key as u.label for u in userIdentifiers" required></select>
			<br />
			<label for="importFile">Choose CSV File</label>
			<input type="file" nv-file-select uploader="uploader"
				   id="importFile" ng-click="uploader.clearQueue()"/>
		</fieldset>
	</div>
	<input type="submit" class="btn btn-success btn-lg center-block" value="Import"
		   ng-click="upload();"
		   ng-disabled="!uploader.queue[0] || submitted" />
	<p ng-if="submitted" class="text-center">
		<i class="fa fa-spin fa-spinner"></i>
		&nbsp; Importing
	</p>
</div>