<div class="evaluate-screen">

	<h1>Compare Answers</h1>

	<p class="intro-text">For each round, you'll give helpful feedback on the answers in the pair, choose which better matches the criteria below, and submit the comparison. Please note <strong>answers are not automatically saved</strong> as you type.</p>

	<p class="assignment-toggle"><a href="" ng-click="showAssignment = !showAssignment">
		<i class="fa fa-chevron-down" ng-show="showAssignment "></i>
		<i class="fa fa-chevron-right" ng-hide="showAssignment "></i>
		Show assignment "{{assignment.name}}"
	</a></p>

	<div ng-show="showAssignment " class="standalone-assignment">
		<h2><i class="fa fa-comments"></i> {{assignment.name}}</h2>
		<div mathjax="assignment.description"
			ng-bind-html="assignment.description">
		</div>
		<!-- Attachment -->
		<acj-pdf-inline label="See assignment details:" pdf="assignment.file">
		</acj-pdf-inline>
	</div>

	<div class="row answer-pair">

		<hr />

		<h2 class="col-md-6">Answer Pair</h2>
		<h2 class="col-md-6 text-right rounds"><span ng-hide="comparisonsError" class="label label-warning">Round {{current}} / {{total}}</span></h2>

		<div ng-show="comparisonsError" class="alert alert-info" role="alert">
			<p><strong>Break time!</strong> You've compared the currently available answer pairs. Please check back later to compare new pairs after more answers have been submitted.</p>
		</div>

		<div class="col-md-6" ng-hide="comparisonsError">
			<div class="answer-choice clearfix">
				<h3 class="text-center">Answer {{firstAnsNum}}</h3>
				<div mathjax="answer1.content"
					ng-bind-html="answer1.content">
				</div>
				<!-- Attachment -->
				<acj-pdf-inline label="See detail:"
					pdf="answer1.file">
				</acj-pdf-inline>
				<!-- Flagging -->
				<a href="" class="btn btn-default btn-xs pull-right"
					title="Flag as incomplete or inappropriate."
					ng-class="{'btn-danger': answer1.flagged}"
					ng-click="toggleAnswerFlag(answer1)">
					<i class="fa fa-warning"></i>
					<span ng-if="answer1.flagged">Flagged</span>
					<span ng-if="!answer1.flagged">Flag</span>
				</a>
			</div>
		</div>

		<div class="col-md-6" ng-hide="comparisonsError">
			<div class="answer-choice clearfix">
				<h3 class="text-center">Answer {{secondAnsNum}}</h3>
				<div mathjax="answer2.content"
					ng-bind-html="answer2.content">
				</div>
				<!-- Attachment -->
				<acj-pdf-inline label="See detail:"
					pdf="answer2.file">
				</acj-pdf-inline>
				<!-- Flagging -->
				<a href="" class="btn btn-default btn-xs pull-right"
					title="Flag as incomplete or inappropriate."
					ng-class="{'btn-danger': answer2.flagged}"
					ng-click="toggleAnswerFlag(answer2)">
					<i class="fa fa-warning"></i>
					<span ng-if="answer2.flagged">Flagged</span>
					<span ng-if="!answer2.flagged">Flag</span>
				</a>
			</div>
		</div>

	</div>

	<form name="comparisonForm" ng-submit="comparisonSubmit()" novalidate ng-hide="comparisonsError" confirm-form-exit form-type="compare">

		<div>

			<hr />

			<h3>1) Give detailed feedback to the author of each answer</h3>

			<div class="row sub-step">

				<p class="intro-text">Use any instructor-provided guidelines or answer the general questions: What did the author do well? Where might the author improve? Remember to make your comments&mdash;including criticisms&mdash;<strong>encouraging, respectful, and specific</strong>. Instructors do read what you write here.</p>

				<div class="col-md-6">
					<label class="cke-label">
						Your feedback for Answer {{firstAnsNum}} (shown to instructors and author)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answer1.comment.content" rows="8" ckeditor required>
					</textarea>
				</div>
				<div class="col-md-6">
					<label class="cke-label">
						Your feedback for Answer {{secondAnsNum}} (shown to instructors and author)
						<i class="fa fa-arrow-down"></i>
					</label>
					<textarea
						ng-model="answer2.comment.content" rows="8" ckeditor required>
					</textarea>
				</div>
			</div>

			<!-- <div class="form-group">
				<input
					ng-disabled="!(!!answer1.comment.content && !!answer2.comment.content)"
					ng-click="isStep2Shown = !isStep2Shown; showNext('#step-2');"
					ng-show="!isStep2Shown"
					value="Next" class="btn btn-success btn-lg center-block" />
			</div> -->

		</div>

		<!--<div ng-show="isStep2Shown" id="step-2">-->
		<div>

			<hr />

			<h3>2) Choose the answer that best meets the criteria below</h3>

			<p class="intro-text">Your selection helps determine a criteria-based student ranking of the answers. Include a <strong>detailed critical explanation</strong>, which can re-use points made in the feedback section above and be more direct. Other students <em>do not</em> see what you write here.</p>

			<div ng-if="assignment.criteria.length == 0" class="text-center">
				<p>No criteria have been set for this assignment yet. Please select one or more criteria.</p>
				<br />
			</div>

			<div class="form-group sub-step" ng-repeat="comparison in comparisons">

				<div class="each-criterion sub-step">
					<fieldset>
						<div class="row">
							<div class="col-sm-6 text-center">
								<h4><i class="fa fa-gavel"></i> {{comparison.criterion.name}}</h4>
								<div class="criteria"
									ng-bind-html="comparison.criterion.description">
								</div>
								<p><strong>Select one:</strong></p>
								<div class="btn-group">
									<label class="btn btn-primary" ng-class=
										"{active:comparison.winner_id==answer1.id}">
										<input type="radio" class="hideRadio"
											name="answer{{answer1.id}}" required
											ng-model="comparison.winner_id"
											ng-value="answer1.id">
										Answer {{firstAnsNum}}
									</label>
									<label class="btn btn-primary" ng-class=
										"{active:comparison.winner_id==answer2.id}">
										<input type="radio" class="hideRadio"
											name="answer{{answer2.id}}" required
											ng-model="comparison.winner_id"
											ng-value="answer2.id">
										Answer {{secondAnsNum}}
									</label>
								</div>
							</div>
							<div class="col-sm-6">
								<label class="text-left cke-label">
									Explain your selection (shown only to instructors)
									<i class="fa fa-arrow-down"></i>
								</label>
								<textarea
									ng-model="comparison.content" rows="4" ckeditor required>
								</textarea>
							</div>
						</div>
					</fieldset>
				</div>

			</div>

			<div class="form-group sub-step">
				<!-- button to submit and refresh page IF evaluations remain for user -->
				<input ng-disabled="comparisonForm.$invalid || submitted" type="submit"
					value="Submit" class="btn btn-success btn-lg center-block" />
				<p ng-if="submitted" class="text-center" >
					<i class="fa fa-spin fa-spinner"></i>
					&nbsp; Saving comparison...
				</p>

			</div>


		</div>

	</form>

</div>

