
<div>
    <label>Comparison Criteria</label>

    <div ng-repeat="(key, criterion) in assignment.criteria" class="row">
        <div class="col-sm-2" ng-if="assignmentId">
            <hr class="visible-xs" />
            <p>
                <a href=""
                   ng-click="changeCriterion(criterion)"
                   ng-if="(canManageCriteriaAssignment || criterion.user_id==loggedInUserId) && criterion.id != 1">
                Edit
                </a>
                <span ng-if="criterion.id == 1" class="text-muted">
                    (not editable)
                </span>
            </p>
        </div> 
        <div class="col-sm-2">
            <p>
                <a href="" confirmation-needed="remove(key)" keyword="criterion" ng-if="!assignment.compared">
                    <i class="fa fa-minus-circle"></i> Drop <i class="visible-xs fa fa-arrow-down"></i>
                </a>
            </p><!-- disable from assignment / add to dropdown -->
        </div>
        <div class="col-sm-8">
            <strong>{{ key + 1 }}. {{ criterion.name }}</strong>
            <div mathjax hljs ng-bind-html="criterion.description"></div>
        </div>
    </div>

    <div ng-show="assignment.criteria.length < 1">
        <p>No criteria added yet for this assignment. Please select or create a new one below.</p>
    </div>

    <div ng-if="!assignment.compared">
        <hr/>

        <!-- dropdown with leftover criteria / Add button-->
        <label>Add Criteria</label>

        <br /><br />

        <div class="row">
            <div class="col-sm-2">
                <p><a id="add-new-criteria" href="" class="btn btn-small btn-link" ng-click="changeCriterion()">Add New</a></p>
            </div>
            <div class="col-sm-1">
                <p>OR</p>
            </div>
            <div class="form-group col-sm-6">
                <select id="select-default-criteria" class="form-control" ng-model="selected" ng-options="key as c.name for (key, c) in availableCriteria">
                    <option value="">- select a default -</option>
                </select>
            </div>
            <div class="col-sm-3">
                <!-- used length because when list is empty the empty option gets a value of 0 which is valid -->
                <p><a id="add-default-criteria" class="btn btn-small btn-primary" ng-click="add(selected)" ng-disabled="!selected || !availableCriteria.length">Add Selected</a></p>
            </div>
        </div>
    </div>


</div>