<form name="duplicateCourseForm" class="form" ng-submit="duplicate()" novalidate>

    <h1>Duplicate: {{originalCourse.name}}</h1>
    <br />
    <p class="intro-text">Please provide the required fields below to duplicate your course and its assignments. All assignments will be editable after duplication. This process will <em>not</em> copy enrolled students, submitted answers, or comparisons.</p>

    <fieldset ng-show="!showAssignments">
        <legend>Course Details</legend>
        <compair-field-with-feedback form-control="duplicateCourseForm.courseName">
            <label for="courseName" class="required-star">Course Name</label>
            <input id="courseName" name="courseName" ng-model="duplicateCourse.name"
                type="text" class="form-control" required maxlength="255" />
        </compair-field-with-feedback>
        <div class="row">
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="duplicateCourseForm.courseYear">
                    <label for="courseYear" class="required-star">Year</label>
                    <input id="courseYear" name="courseYear" ng-model="duplicateCourse.year"
                    type="number" class="form-control" required min="1900" />
                </compair-field-with-feedback>
            </div>
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="duplicateCourseForm.courseTerm">
                    <label for="courseTerm" class="required-star">Term/Semester</label>
                    <input id="courseTerm" name="courseTerm" ng-model="duplicateCourse.term"
                    type="text" class="form-control" required maxlength="255" />
                </compair-field-with-feedback>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="courseSandbox">
                    <input type="checkbox" id="courseSandbox" name="courseSandbox" value="1" ng-model="duplicateCourse.sandbox">&nbsp;
                    This course is only for trying out ComPAIR (a "sandbox" course)
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset ng-show="!showAssignments">
        <legend>Schedule</legend>
        <div class="row">
            <div class="col-md-6 form-group">
                <label class="required-star">Course Begins</label><br />
                <div class="assignment-date">
                    <span class="input-group">
                        <input type="text" class="form-control" required uib-datepicker-popup="{{format}}" ng-model="duplicateCourse.date.course_start.date"
                            is-open="duplicateCourse.date.course_start.opened"
                            datepicker-options="{ maxDate: duplicateCourse.date.course_end.date }" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, duplicateCourse.date.course_start)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="assignment-date">
                    <div uib-timepicker ng-model="duplicateCourse.date.course_start.time" minute-step="1" mousewheel="false"></div>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label>Course Ends</label><br />
                <div class="assignment-date">
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="duplicateCourse.date.course_end.date"
                            is-open="duplicateCourse.date.course_end.opened"
                            datepicker-options="{ minDate: duplicateCourse.date.course_start.date }" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, duplicateCourse.date.course_end)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="assignment-date">
                    <div uib-timepicker ng-model="duplicateCourse.date.course_end.time" minute-step="1" mousewheel="false"></div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset ng-show="showAssignments">
        <legend>Assignment Dates</legend>

        <div class="instructional-text">
            <p>
                You are <strong>duplicating {{duplicateAssignments.length}} assignments</strong> with this course. You can update the assignment dates manually in bulk below or update them after duplication by editing each individual assignment.
            </p>
        </div>

        <!-- Assignments List -->
        <div ng-show="duplicateAssignments.length" class="each-assignment" ng-class="{'first-child': $first}"
            ng-repeat="assignment in duplicateAssignments | orderBy:'':true">

            <hr ng-hide="$first" />

            <h3 class="media-heading">
                Assignment: "{{assignment.name}}"
            </h3>
            <div class="form-group">
                <input id="availableCheck-{{assignment.id}}" type="checkbox" ng-model="assignment.availableCheck">
                <label for="availableCheck-{{assignment.id}}">Set a comparison period for this assignment below<span ng-show="assignment.availableCheck">:</span></label>
            </div>

            <div class="row">
                <div class="col-md-6 form-group">
                    <label class="required-star">
                        Answering Begins
                        <span ng-if="duplicateCourse.date.course_start.date">
                            (in course week #{{(assignment.date.astart.date | amDifference : duplicateCourse.date.course_start.date : 'weeks') + 1 }})
                        </span>
                    </label><br />
                    <div class="assignment-date">
                        <span class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.astart.date"
                                is-open="assignment.date.astart.opened" required
                                datepicker-options="{ minDate: datePickerMinDate(duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(assignment.date.aend.date, duplicateCourse.date.course_end.date) }"
                                />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.astart)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                    </div>
                    <div class="assignment-date">
                        <div uib-timepicker ng-model="assignment.date.astart.time" minute-step="1" mousewheel="false"></div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="required-star">
                        Answering Ends
                        <!-- <span ng-if="duplicateCourse.date.course_start.date">
                            (Course week #{{assignment.date.aend.date | amDifference : duplicateCourse.date.course_start.date : 'weeks' }})
                        </span> -->
                    </label><br />
                    <div class="assignment-date">
                        <span class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.aend.date"
                                is-open="assignment.date.aend.opened" required
                                datepicker-options="{ minDate: datePickerMinDate(assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.aend)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                    </div>
                    <div class="assignment-date">
                        <div uib-timepicker ng-model="assignment.date.aend.time" minute-step="1" mousewheel="false"></div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="assignment.availableCheck">
                <div class="col-md-6 form-group">
                    <label class="required-star">
                        Comparing Begins
                        <span ng-if="duplicateCourse.date.course_start.date">
                            (in course week #{{(assignment.date.cstart.date | amDifference : duplicateCourse.date.course_start.date : 'weeks') + 1 }})
                        </span>
                    </label><br />
                    <div class="assignment-date">
                        <span class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.cstart.date"
                                is-open="assignment.date.cstart.opened" ng-required="assignment.availableCheck"
                                datepicker-options="{ minDate: datePickerMinDate(assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(assignment.date.cend.date, duplicateCourse.date.course_end.date) }"
                                />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.cstart)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                    </div>
                    <div class="assignment-date">
                        <div uib-timepicker ng-model="assignment.date.cstart.time" minute-step="1" mousewheel="false"></div>
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label class="required-star">
                        Comparing Ends
                        <!-- <span ng-if="duplicateCourse.date.course_start.date">
                            (Course week #{{assignment.date.cend.date | amDifference : duplicateCourse.date.course_start.date : 'weeks' }})
                        </span> -->
                    </label><br />
                    <div class="assignment-date">
                        <span class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.cend.date"
                                is-open="assignment.date.cend.opened" ng-required="assignment.availableCheck"
                                datepicker-options="{ minDate: datePickerMinDate(assignment.date.cstart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.cend)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                    </div>
                    <div class="assignment-date">
                        <div uib-timepicker ng-model="assignment.date.cend.time" minute-step="1" mousewheel="false"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="required-star">Self-Evaluation</label>
                    <br>
                    <label class="form-check-label not-bold">
                        <input class="form-check-input" type="radio"
                                ng-model="assignment.enable_self_evaluation" ng-value="true">
                        &nbsp;Include self-evaluation for students &nbsp;&nbsp;
                    </label>
                    <label class="form-check-label not-bold">
                        <input class="form-check-input" type="radio"
                                ng-model="assignment.enable_self_evaluation" ng-value="false">
                        &nbsp;Do not include self-evaluation
                    </label>
                </div>
            </div>
            <div class="row" ng-show="assignment.enable_self_evaluation">
                <div class="col-md-12 form-group">
                    <input type="checkbox" ng-model="assignment.selfEvalCheck">
                    <label for="selfEvalCheck">Manually set when students self-evaluate<span ng-show="assignment.selfEvalCheck">:</span></label>
                    <br /><br />

                    <div ng-show="assignment.selfEvalCheck">
                        <div class="row">
                            <div class="col-md-6 form-group">
                                <label class="required-star">Self-Evaluation Begins</label><br />
                                <div class="assignment-date">
                                    <span class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.sestart.date"
                                            is-open="assignment.date.sestart.opened" ng-required="assignment.enable_self_evaluation && assignment.selfEvalCheck"
                                            datepicker-options="{ minDate: datePickerMinDate(assignment.date.sestart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(assignment.date.seend.date, duplicateCourse.date.course_end.date) }"
                                            />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.sestart)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </span>
                                </div>
                                <div class="assignment-date">
                                    <div uib-timepicker ng-model="assignment.date.sestart.time" minute-step="1" mousewheel="false"></div>
                                </div>
                            </div>
                            <div class="col-md-6 form-group">
                                <label class="required-star">Self-Evaluation Ends</label><br />
                                <div class="assignment-date">
                                    <span class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.seend.date"
                                            is-open="assignment.date.seend.opened" ng-required="assignment.enable_self_evaluation && assignment.selfEvalCheck"
                                            datepicker-options="{ minDate: datePickerMinDate(assignment.date.sestart.date, assignment.date.sestart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                            />
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.seend)"><i class="glyphicon glyphicon-calendar"></i></button>
                                        </span>
                                    </span>
                                </div>
                                <div class="assignment-date">
                                    <div uib-timepicker ng-model="assignment.date.seend.time" minute-step="1" mousewheel="false"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <p class="text-center text-muted"><span class="required-star "></span> = required (please make sure these areas are filled in)</p>
    <div class="form-group text-center">
        <a class="btn btn-success btn-lg" value="Next" ng-click="duplicateCourseForm.$invalid || duplicateNext()"
            ng-disabled="duplicateCourseForm.$invalid" ng-show="!showAssignments">Next &raquo;</a>
        <a class="btn btn-default btn-lg mirror-submit" value="Back" ng-click="showAssignments= canGoBack(duplicateCourseForm) ? !showAssignments : showAssignments;"
            ng-show="showAssignments">&laquo; Back</a>
        &nbsp; &nbsp;
        <input type="submit" class="btn btn-success btn-lg" value="Duplicate"
            ng-disabled="duplicateCourseForm.$invalid || submitted" ng-show="showAssignments" />
    </div>
    <br />

</form>