<h1 ng-if="!course.id">Add Course</h1>
<h1 ng-if="course.id">Edit Course</h1>

<form name="courseForm" class="form" ng-submit="save()" novalidate>

    <fieldset>
        <legend>Course Details</legend>
        <compair-field-with-feedback form-control="courseForm.courseName">
            <label for="courseName" class="required-star">Course Name</label>
            <input id="courseName" name="courseName" ng-model="course.name"
                    type="text" class="form-control" required maxlength="255" placeholder="e.g. BIOL 112 - Biology of the Cell" ng-model="course.name" auto-focus />
        </compair-field-with-feedback>
        <div class="row">
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="courseForm.courseYear">
                    <label for="courseYear" class="required-star">Year</label>
                    <input id="courseYear" name="courseYear" ng-model="course.year"
                    type="number" class="form-control" required min="1900" />
                </compair-field-with-feedback>
            </div>
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="courseForm.courseTerm">
                    <label for="courseTerm" class="required-star">Term/Semester</label>
                    <input id="courseTerm" name="courseTerm" ng-model="course.term"
                    type="text" class="form-control" required maxlength="255" placeholder="e.g. W1" />
                </compair-field-with-feedback>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Schedule</legend>
        <div class="instructional-text" ng-hide="status">
        <p>
            <strong>Optionally set the course dates</strong> during which enrolled students can see and access the course content when they log in. Setting no dates means the course is always accessible to students. (You will be able to set different dates for individual assignments when you create them.)
        </p>
        </div>
        <div class="row">
            <div class="col-md-6 form-group">
                <label>Course Begins</label><br />
                <div class="assignment-date">
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date.course_start.date" is-open="date.course_start.opened" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, date.course_start)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="assignment-date">
                    <uib-timepicker ng-model="date.course_start.time" minute-step="1" mousewheel="false"></uib-timepicker>
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label>Course Ends</label><br />
                <div class="assignment-date">
                    <span class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="date.course_end.date" is-open="date.course_end.opened" />
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, date.course_end)"><i class="glyphicon glyphicon-calendar"></i></button>
                        </span>
                    </span>
                </div>
                <div class="assignment-date">
                    <uib-timepicker ng-model="date.course_end.time" minute-step="1" mousewheel="false"></uib-timepicker>
                </div>
            </div>
        </div>
    </fieldset>

    <input type="submit" class="btn btn-success btn-lg center-block" value="Save"
            ng-disabled="courseForm.$invalid || submitted" />
</form>