<form name="duplicateCourseForm" class="form" ng-submit="duplicate()" novalidate>

    <h1>Duplicate: {{originalCourse.name}}</h1>
    <br />
    <p class="intro-text">Please provide the information below to duplicate your course and its assignments. All assignments will be editable after duplication. And don't worry, this process will <em>not</em> copy enrolled students or submitted answers, comparisons, or self-evaluations.</p>

    <fieldset ng-show="!showAssignments">
        <legend>Course Details</legend>
        <compair-field-with-feedback form-control="duplicateCourseForm.courseName" is-date="false">
            <label for="courseName" class="required-star">Course Name</label>
            <input id="courseName" name="courseName" ng-model="duplicateCourse.name" placeholder="e.g. BIOL 112 - Biology of the Cell"
                type="text" class="form-control" required maxlength="255" />
            <!-- if the field is empty AND a next attempted -->
            <p ng-if="duplicateCourseForm.courseName.$invalid && saveAttempted" class="alert alert-warning">What will you call this course?</p>
        </compair-field-with-feedback>
        <div class="row">
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="duplicateCourseForm.courseYear" is-date="false">
                    <label for="courseYear" class="required-star">Year</label>
                    <input id="courseYear" name="courseYear" ng-model="duplicateCourse.year"
                    type="number" class="form-control" required min="1900" max="9999" placeholder="YYYY" />
                    <!-- if the field is empty/incomplete AND a next attempted -->
                    <p ng-if="duplicateCourseForm.courseYear.$invalid && saveAttempted" class="alert alert-warning">What year does this course take place (YYYY)?</p>
                </compair-field-with-feedback>
            </div>
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="duplicateCourseForm.courseTerm" is-date="false">
                    <label for="courseTerm" class="required-star">Term/Semester</label>
                    <input id="courseTerm" name="courseTerm" placeholder="e.g. W1" ng-model="duplicateCourse.term"
                    type="text" class="form-control" required maxlength="255" />
                    <!-- if the field is empty AND a next attempted -->
                    <p ng-if="duplicateCourseForm.courseTerm.$invalid && saveAttempted" class="alert alert-warning">In which academic period does this course take place?</p>
                </compair-field-with-feedback>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 form-group">
                <label for="courseSandbox">
                    <input type="checkbox" id="courseSandbox" name="courseSandbox" value="1" ng-model="duplicateCourse.sandbox">&nbsp;
                    This course is only for trying out ComPAIR (a "sandbox" course)
                </label>
            </div>
        </div>
    </fieldset>

    <fieldset ng-show="!showAssignments">
        <legend>Schedule</legend>
        <div class="row">
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="duplicateCourseForm.courseStart" is-date="true">
                    <label class="required-star" for="courseStart">Course Begins</label><br />
                    <div class="assignment-date">
                        <span class="input-group">
                            <input id="courseStart" name="courseStart" placeholder="DD-Month-YYYY" type="text" class="form-control" required uib-datepicker-popup="{{format}}" ng-model="duplicateCourse.date.course_start.date" is-open="duplicateCourse.date.course_start.opened" datepicker-options="{}" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, duplicateCourse.date.course_start)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                    </div>
                    <div class="assignment-date">
                        <div uib-timepicker ng-model="duplicateCourse.date.course_start.time" minute-step="1" mousewheel="false"></div>
                    </div>
                    <!-- if the field is empty/incomplete AND a next attempted -->
                    <p ng-if="(duplicateCourseForm.courseStart.$invalid || !duplicateCourse.date.course_start.time) && saveAttempted" class="alert alert-warning">What day (DD-Month-YYYY) and time does this course start?</p>
                    <!-- if course start/end mismatch AND a next attempted -->
                    <p ng-if="dateMismatch(duplicateCourse.date.course_start, duplicateCourse.date.course_end, false) && saveAttempted" class="alert alert-warning">Make sure this course starts before it ends...</p>
                </compair-field-with-feedback>
            </div>
            <div class="col-md-6 form-group">
                <compair-field-with-feedback form-control="duplicateCourseForm.courseEnd" is-date="true">
                    <label>Course Ends <span class="optional">(optional)</span></label><br />
                    <div class="assignment-date">
                        <span class="input-group">
                            <input id="courseEnd" name="courseEnd" placeholder="DD-Month-YYYY" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="duplicateCourse.date.course_end.date"
                                is-open="duplicateCourse.date.course_end.opened"
                                datepicker-options="{ minDate: duplicateCourse.date.course_start.date }" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, duplicateCourse.date.course_end)"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </span>
                    </div>
                    <div class="assignment-date">
                        <div uib-timepicker ng-model="duplicateCourse.date.course_end.time" minute-step="1" mousewheel="false"></div>
                    </div>
                    <!-- if the field is incomplete AND a next attempted -->
                    <p ng-if="(duplicateCourseForm.courseEnd.$invalid || !duplicateCourse.date.course_end.time) && saveAttempted" class="alert alert-warning">Make sure to fill in a day (DD-Month-YYYY) and time, if you set this.</p>
                </compair-field-with-feedback>
            </div>
        </div>
    </fieldset>
    
    <fieldset ng-show="showAssignments">
        <legend>Assignment Dates</legend>

        <div class="instructional-text">
            <p>
                You are <strong>duplicating {{duplicateAssignments.length}} assignments</strong> with this course. You can update the assignment dates manually in bulk below now or update them after duplication by editing each individual assignment. Note that assignment dates must fall within the course dates you set in the previous step.
            </p>
        </div>

        <!-- Assignments List -->
        <div ng-show="duplicateAssignments.length" class="each-assignment" ng-class="{'first-child': $first}"
            ng-repeat="assignment in duplicateAssignments | orderBy:'':true">

            <hr ng-hide="$first" />

            <h3 class="media-heading">
                Assignment: "{{assignment.name}}"
            </h3>
            <br /><br />

            <div class="row">
                <div class="col-md-6 form-group">
                     <compair-field-with-feedback form-control="duplicateCourseForm['answer' + ($index+1) + 'Start']" is-date="true">
                        <label class="required-star">
                            Answering Begins
                            <span ng-if="duplicateCourse.date.course_start.date && assignment.date.astart.date" class="text-muted">
                                (currently in course week #{{(assignment.date.astart.date | amDifference : duplicateCourse.date.course_start.date : 'weeks') + 1 }})
                            </span>
                        </label><br />
                        <div class="assignment-date">
                            <span class="input-group">
                                <input id="answer{{$index+1}}Start" name="answer{{$index+1}}Start" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.astart.date"
                                    is-open="assignment.date.astart.opened" required placeholder="DD-Month-YYYY"
                                    datepicker-options="{ minDate: datePickerMinDate(duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                    />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.astart)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>
                        <div class="assignment-date">
                            <div uib-timepicker ng-model="assignment.date.astart.time" minute-step="1" mousewheel="false"></div>
                        </div>
                        <!-- if the field is empty/incomplete AND save attempted -->
                        <p ng-if="(duplicateCourseForm['answer' + ($index+1) + 'Start'].$invalid || !assignment.date.astart.time) && saveAttempted" class="alert alert-warning">What day (DD-Month-YYYY) and time can students start answering?</p>
                        <!-- if assignment start/end mismatch OR course/assignment start mismatch AND save attempted -->
                        <p ng-if="(dateMismatch(assignment.date.astart, assignment.date.aend, false) || dateMismatch(duplicateCourse.date.course_start, assignment.date.astart, true)) && saveAttempted" class="alert alert-warning">
                            Make sure answering starts
                            <span ng-if="dateMismatch(assignment.date.astart, assignment.date.aend, false)">before it ends<span ng-if="!dateMismatch(duplicateCourse.date.course_start, assignment.date.astart, true)">...</span></span>
                            <span ng-if="dateMismatch(assignment.date.astart, assignment.date.aend, false) && dateMismatch(duplicateCourse.date.course_start, assignment.date.astart, true)"> and </span>
                            <span ng-if="dateMismatch(duplicateCourse.date.course_start, assignment.date.astart, true)">after the course starts ({{duplicateCourse.start_date | date:'dd-MMMM-yyyy'}} at {{duplicateCourse.start_date | date:'h:mm a'}} - <a href="" ng-click="canGoBack();">change this?</a>).</span>
                        </p>
                    </compair-field-with-feedback>
                </div>
                <div class="col-md-6 form-group">
                    <compair-field-with-feedback form-control="duplicateCourseForm['answer' + ($index+1) + 'End']" is-date="true">
                        <label class="required-star">
                            Answering Ends
                            <!-- <span ng-if="duplicateCourse.date.course_start.date">
                                (Course week #{{assignment.date.aend.date | amDifference : duplicateCourse.date.course_start.date : 'weeks' }})
                            </span> -->
                        </label><br />
                        <div class="assignment-date">
                            <span class="input-group">
                                <input id="answer{{$index+1}}End" name="answer{{$index+1}}End" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.aend.date"
                                    is-open="assignment.date.aend.opened" required placeholder="DD-Month-YYYY"
                                    datepicker-options="{ minDate: datePickerMinDate(assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                    />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.aend)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>
                        <div class="assignment-date">
                            <div uib-timepicker ng-model="assignment.date.aend.time" minute-step="1" mousewheel="false"></div>
                        </div>
                        <!-- if the field is incomplete AND save attempted -->
                        <p ng-if="(duplicateCourseForm['answer' + ($index+1) + 'End'].$invalid || !assignment.date.aend.time) && saveAttempted" class="alert alert-warning">What day (DD-Month-YYYY) and time must students finish answering?</p>
                        <!-- if course/assignment end mismatch AND save attempted -->
                        <p ng-if="dateMismatch(assignment.date.aend, duplicateCourse.date.course_end) && saveAttempted" class="alert alert-warning">Make sure answering ends before the course ends ({{duplicateCourse.end_date | date:'dd-MMMM-yyyy'}} at {{duplicateCourse.end_date | date:'h:mm a'}} - <a href="" ng-click="canGoBack();">change this?</a>).</p>
                    </compair-field-with-feedback>
                </div>
            </div>
            
            <div class="form-group">
                <input id="availableCheck-{{assignment.id}}" type="checkbox" ng-model="assignment.availableCheck">
                <label class="not-bold" for="availableCheck-{{assignment.id}}">Manually set when students compare answers<span ng-show="assignment.availableCheck">:</span></label>
            </div>

            <div class="row" ng-show="assignment.availableCheck">
                <div class="col-md-1"></div>
                <div class="col-md-5 form-group">
                    <compair-field-with-feedback form-control="duplicateCourseForm['compare' + ($index+1) + 'Start']" is-date="true">
                        <label class="required-star">
                            Comparing Begins
                            <span ng-if="duplicateCourse.date.course_start.date" class="text-muted">
                                (currently in course week #{{(assignment.date.cstart.date | amDifference : duplicateCourse.date.course_start.date : 'weeks') + 1 }})
                            </span>
                        </label><br />
                        <div class="assignment-date">
                            <span class="input-group">
                                <input id="compare{{$index+1}}Start" name="compare{{$index+1}}Start" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.cstart.date"
                                    is-open="assignment.date.cstart.opened" ng-required="assignment.availableCheck" placeholder="DD-Month-YYYY"
                                    datepicker-options="{ minDate: datePickerMinDate(assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                    />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.cstart)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>
                        <div class="assignment-date">
                            <div uib-timepicker ng-model="assignment.date.cstart.time" minute-step="1" mousewheel="false"></div>
                        </div>
                        <!-- if the field is empty/incomplete AND comparing enabled AND save attempted -->
                        <p ng-if="(duplicateCourseForm['compare' + ($index+1) + 'Start'].$invalid || !assignment.date.cstart.time) && assignment.availableCheck && saveAttempted" class="alert alert-warning">What day (DD-Month-YYYY) and time can students start comparing?</p>
                        <!-- if end is before the start date OR start is before answer start AND comparing enabled AND save attempted -->
                        <p ng-if="(dateMismatch(assignment.date.cstart, assignment.date.cend, false) || dateMismatch(assignment.date.astart, assignment.date.cstart, true)) && assignment.availableCheck && saveAttempted" class="alert alert-warning">
                            Make sure comparing starts
                            <span ng-if="dateMismatch(assignment.date.cstart, assignment.date.cend, false)">before it ends<span ng-if="!dateMismatch(assignment.date.astart, assignment.date.cstart, true)">...</span></span>
                            <span ng-if="dateMismatch(assignment.date.cstart, assignment.date.cend, false) && dateMismatch(assignment.date.astart, assignment.date.cstart, true)"> and </span>
                            <span ng-if="dateMismatch(assignment.date.astart, assignment.date.cstart, true)">after answering starts.</span>
                        </p>
                    </compair-field-with-feedback>
                </div>
                <div class="col-md-5 form-group">
                    <compair-field-with-feedback form-control="duplicateCourseForm['compare' + ($index+1) + 'End']" is-date="true">
                        <label class="required-star">
                            Comparing Ends
                            <!-- <span ng-if="duplicateCourse.date.course_start.date">
                                (Course week #{{assignment.date.cend.date | amDifference : duplicateCourse.date.course_start.date : 'weeks' }})
                            </span> -->
                        </label><br />
                        <div class="assignment-date">
                            <span class="input-group">
                                <input id="compare{{$index+1}}End" name="compare{{$index+1}}End" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.cend.date"
                                    is-open="assignment.date.cend.opened" ng-required="assignment.availableCheck" placeholder="DD-Month-YYYY"
                                    datepicker-options="{ minDate: datePickerMinDate(assignment.date.cstart.date, assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                    />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.cend)"><i class="glyphicon glyphicon-calendar"></i></button>
                                </span>
                            </span>
                        </div>
                        <div class="assignment-date">
                            <div uib-timepicker ng-model="assignment.date.cend.time" minute-step="1" mousewheel="false"></div>
                        </div>
                        <!-- if the field is incomplete AND compare enabled AND save attempted -->
                        <p ng-if="(duplicateCourseForm['compare' + ($index+1) + 'End'].$invalid || !assignment.date.cend.time) && assignment.availableCheck && saveAttempted" class="alert alert-warning">What day (DD-Month-YYYY) and time must students finish comparing?</p>
                        <!-- if end after course end AND compare enabled AND save attempted -->
                        <p ng-if="dateMismatch(assignment.date.cend, duplicateCourse.date.course_end, true) && assignment.availableCheck && saveAttempted" class="alert alert-warning">Make sure comparing ends before the course ends ({{duplicateCourse.end_date | date:'dd-MMMM-yyyy'}} at {{duplicateCourse.end_date | date:'h:mm a'}}} - <a href="" ng-click="canGoBack();">change this?</a>).</p>
                    </compair-field-with-feedback>
                </div>
                <div class="col-md-1"></div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    <label class="required-star">Self-Evaluation</label>
                    <br>
                    <label class="form-check-label not-bold">
                        <input class="form-check-input" type="radio"
                                ng-model="assignment.enable_self_evaluation" ng-value="true">
                        &nbsp;Include self-evaluation for students &nbsp;&nbsp;
                    </label>
                    <label class="form-check-label not-bold">
                        <input class="form-check-input" type="radio"
                                ng-model="assignment.enable_self_evaluation" ng-value="false">
                        &nbsp;Do not include self-evaluation
                    </label>
                </div>
            </div>
            <div class="row" ng-show="assignment.enable_self_evaluation">
                <div class="col-md-12 form-group">
                    <input id="selfEvalCheck-{{assignment.id}}" type="checkbox" ng-model="assignment.selfEvalCheck">
                    <label class="not-bold" for="selfEvalCheck-{{assignment.id}}">Manually set when students self-evaluate<span ng-show="assignment.selfEvalCheck">:</span></label>
                    <br /><br />

                    <div ng-show="assignment.selfEvalCheck">
                        <div class="row">
                            <div class="col-md-1"></div>
                            <div class="col-md-5 form-group">
                                <compair-field-with-feedback form-control="duplicateCourseForm['selfeval' + ($index+1) + 'Start']" is-date="true">
                                    <label class="required-star">Self-Evaluation Begins {{assignment.date.astart.time.toTimeString()}} {{assignment.date.cstart.time.toTimeString()}} {{assignment.date.sestart.time.toTimeString()}}</label><br />
                                    <div class="assignment-date">
                                        <span class="input-group">
                                            <input id="selfeval{{$index+1}}Start" name="selfeval{{$index+1}}Start" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.sestart.date"
                                                is-open="assignment.date.sestart.opened" ng-required="assignment.enable_self_evaluation && assignment.selfEvalCheck" placeholder="DD-Month-YYYY"
                                                datepicker-options="{ minDate: datePickerMinDate(assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                                />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.sestart)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="assignment-date">
                                        <div uib-timepicker ng-model="assignment.date.sestart.time" minute-step="1" mousewheel="false"></div>
                                    </div>
                                    <!-- if the field is empty/incomplete AND self-eval enabled AND a save attempted -->
                                    <p ng-if="(duplicateCourseForm['selfeval' + ($index+1) + 'Start'].$invalid || !assignment.date.sestart.time) && assignment.selfEvalCheck && saveAttempted" class="alert alert-warning">What date (DD-Month-YYYY) and time can students start self-evaluating?</p>
                                    <!-- if end is before start OR start is before answer start OR start is before compare start AND self-enabled AND save attempted -->
                                    <p ng-if="(dateMismatch(assignment.date.sestart, assignment.date.seend, false) || dateMismatch(assignment.date.astart, assignment.date.sestart, true) || dateMismatch(assignment.date.cstart, assignment.date.sestart, true)) && assignment.selfEvalCheck && saveAttempted" class="alert alert-warning">
                                        Make sure self-evaluating starts
                                        <span ng-if="dateMismatch(assignment.date.sestart, assignment.date.seend, false)">before it ends<span ng-if="!dateMismatch(assignment.date.astart, assignment.date.sestart, true) && !dateMismatch(assignment.date.cstart, assignment.date.sestart, true)">...</span></span>
                                        <span ng-if="dateMismatch(assignment.date.sestart, assignment.date.seend, false) && (dateMismatch(assignment.date.astart, assignment.date.sestart, true) || (dateMismatch(assignment.date.cstart, assignment.date.sestart, true) && assignment.availableCheck))"> and </span>
                                        <span ng-if="dateMismatch(assignment.date.astart, assignment.date.sestart, true) || (dateMismatch(assignment.date.cstart, assignment.date.sestart, true) && assignment.availableCheck)">after <span ng-if="dateMismatch(assignment.date.astart, assignment.date.sestart, true)">answering</span> <span ng-if="dateMismatch(assignment.date.astart, assignment.date.sestart, true) && (dateMismatch(assignment.date.cstart, assignment.date.sestart, true) && assignment.availableCheck)">and</span> <span ng-if="dateMismatch(assignment.date.cstart, assignment.date.sestart, true) && assignment.availableCheck">comparing</span> start<span ng-if="!(dateMismatch(assignment.date.astart, assignment.date.sestart, true) && (dateMismatch(assignment.date.cstart, assignment.date.sestart, true) && assignment.availableCheck))">s</span>.</span>
                                    </p>
                                </compair-field-with-feedback>
                            </div>
                            <div class="col-md-5 form-group">
                                <compair-field-with-feedback form-control="duplicateCourseForm['selfeval' + ($index+1) + 'End']" is-date="true">
                                    <label class="required-star">Self-Evaluation Ends</label><br />
                                    <div class="assignment-date">
                                        <span class="input-group">
                                            <input id="selfeval{{$index+1}}End" name="selfeval{{$index+1}}End" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="assignment.date.seend.date"
                                                is-open="assignment.date.seend.opened" ng-required="assignment.enable_self_evaluation && assignment.selfEvalCheck" placeholder="DD-Month-YYYY"
                                                datepicker-options="{ minDate: datePickerMinDate(assignment.date.sestart.date, assignment.date.astart.date, duplicateCourse.date.course_start.date), maxDate: datePickerMaxDate(duplicateCourse.date.course_end.date) }"
                                                />
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default" ng-click="datePickerOpen($event, assignment.date.seend)"><i class="glyphicon glyphicon-calendar"></i></button>
                                            </span>
                                        </span>
                                    </div>
                                    <div class="assignment-date">
                                        <div uib-timepicker ng-model="assignment.date.seend.time" minute-step="1" mousewheel="false"></div>
                                    </div>
                                    <!-- if the field is incomplete AND self-eval enabled AND save attempted -->
                                    <p ng-if="(duplicateCourseForm['selfeval' + ($index+1) + 'End'].$invalid || !assignment.date.seend.time) && assignment.selfEvalCheck && saveAttempted" class="alert alert-warning">What date (DD-Month-YYYY) and time must students finish self-evaluating?</p>
                                     <!-- if end after course end AND self-eval enabled AND save attempted -->
                                    <p ng-if="dateMismatch(assignment.date.seend, duplicateCourse.date.course_end, true) && assignment.selfEvalCheck && saveAttempted" class="alert alert-warning">Make sure self-evaluating ends before the course ends ({{duplicateCourse.date.course_end.date | date:'dd-MMMM-yyyy'}} at {{duplicateCourse.end_date | date:'h:mm a'}} - <a href="" ng-click="canGoBack();">change this?</a>).</p>
                                </compair-field-with-feedback>
                            </div>
                            <div class="col-md-1"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    
    <!-- different helper messages for pre or post save attempts -->
    <p class="text-center text-muted" ng-if="!saveAttempted"><span class="required-star "></span> = required (please make sure these areas are filled in)</p>
    <p class="text-center text-warning" ng-if="saveAttempted"><strong><i class="glyphicon glyphicon-warning-sign"></i></strong> {{helperMsg}}</p>

    <div class="form-group text-center">
       
        <input type="button" class="btn btn-success btn-lg mirror-submit" value="Next &raquo;" ng-click="showFirstErrors(partialValidity(duplicateCourseForm.courseName.$valid && duplicateCourseForm.courseYear.$valid && duplicateCourseForm.courseTerm.$valid && duplicateCourseForm.courseStart.$valid && duplicateCourseForm.courseEnd.$valid), duplicateCourse.date.course_start, duplicateCourse.date.course_end)"
            ng-if="!showAssignments" />
        
        <input type="button" class="btn btn-default btn-lg mirror-submit" value="&laquo; Back" ng-click="canGoBack();"
            ng-if="showAssignments" />
        &nbsp; &nbsp;
        <input type="submit" class="btn btn-success btn-lg mirror-submit" value="Duplicate" ng-click="showSecondErrors($event, duplicateCourseForm.$valid, duplicateAssignments)"
            ng-if="showAssignments" ng-disabled="submitted"/>
   
    </div>

</form>