/***** VARIABLES & MIXINS *****/

@bkgrd-blue: #EDF5FC;        /*   bkgrd-blue = #EDF5FC       */
@link-blue: #428BCA;         /*   link-blue = #428BCA        */
@hover-blue: #2A6496;        /*   hover-blue = #2A6496       */
@breadcrumb-gray: #5D5D5D;   /*   breadcrumb-gray = #5D5D5D  */
@bkgrd-gray: #F9F9F9;        /*   bkgrd-gray = #F9F9F9       */
@border-gray: #E7E7E7;       /*   border-gray = #E7E7E7      */
@text-color: #333;           /*   text-color = #333          */

/* border radius */
.border-radius(@l-top:5px, @r-top:5px, @r-bottom:5px, @l-bottom:5px) {
  -webkit-border-radius: @l-top @r-top @r-bottom @l-bottom;
  -moz-border-radius: @l-top @r-top @r-bottom @l-bottom;
  border-radius: @l-top @r-top @r-bottom @l-bottom;
}

/* gray-colored boxes */
.gray-box() {
  background: @bkgrd-gray;
  border: 1px solid @border-gray;
}

/* blue-colored boxes */
.blue-box() {
  background: @bkgrd-blue;
  border: 2px solid @link-blue;
  .border-radius();
}


/***** AngularStrap's Modal *****/

.modal-backdrop.am-fade {
  
  opacity: .5;
  transition: opacity .15s linear;
  
  &.ng-enter {
  
    opacity: 0;
    
    &.ng-enter-active {
      opacity: .5;
    }
  
  }//closes ng-enter
  
  &.ng-leave {
    
    opacity: .5;
    
    &.ng-leave-active {
      opacity: 0;
    }
  
  }//closes ng-leave
  
}//closes am-fade


/***** UNIVERSAL *****/

body {
  margin-bottom: 1em;
}

/* serif font for headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Clarendon Std', 'Century Old Style Std', 'Century Schoolbook', Georgia, serif;
  font-weight: bold;
}

/* fieldsets like blue box */
fieldset {
  margin: 2em 0;
  padding: 1.5em;
  background: @bkgrd-blue;
  .border-radius();
}

fieldset + fieldset {
  margin-top: 0;
}

/* legends like blue buttons */
legend {
  padding: .3em .6em;
  position: relative;
  top:.5em;
  color: #fff;
  font-size: 1.2em;
  width: auto;
  background: @link-blue;  
}

dt {
  font-size: 1.1em;
  font-style: italic;
  font-weight: normal;
}

dd {
  margin-bottom: .5em;
  padding-left: 2em;
}

/* submit buttons need spacing */
.btn[type=submit] {
  margin-bottom: 2em;
}

/* class for sub-navigation, i.e., header action buttons */
.sub-nav {
  margin: 1.5em 0 2em 0;
  text-align: right;
}


/***** LOGIN SCREEN *****/

.login-screen {
  
  /* application title */
  h1 {
    margin-top: .2em;
  }
  
  /* override green input showing success */
  .has-success .form-control {
    
    border-color: #ccc;
    
    &:focus {
      box-shadow: 0 1px 1px #ccc;
    }
  
  }//closes form-control
  
  /* change default alert margin for bottom placement */
  .alert {
    margin: 1em 0 0 0;
  }

}//closes login-screen


/***** NAVIGATION & BREADCRUMBS  *****/

/* outermost containing div for the navigation */
.navbar {
  margin-bottom: 0.5em;
}

/* ul for breadcrumbs */
.breadcrumb-trail {
  
  margin: 0 0 1em 1em;
  padding: 0;
  color: @breadcrumb-gray;
  
  /* breadcrumbs */
  li {
    display: inline-block;
    list-style: none;
  }
  
  /* class for the last li */
  .last-crumb {
    color: @breadcrumb-gray;
  }
  
}//closes breadcrumb-trail


/***** HOME SCREEN *****/

.home-screen {
  
  /* intro paragraph */
  .intro-text {
    margin: 1em 0 2em 0;
    font-size: 1.2em;
  }
  
  /* div surrounding list of courses */
  .course-list {
    
    .blue-box();
    
    /* class for div surrounding each course */
    .each-course {
      
      display: block;
      padding: 1em;
      text-shadow: 0 -1px 0 #eee;
      border-bottom: 1px solid @link-blue;
      
      &:last-child {
        border-bottom: none;
      }
      
      &:hover {
        color: @link-blue;
        text-decoration: none;
        background: #DBEBF9;
      }
      
      /* need to allow course descriptions to show links */
      a {
        text-decoration: underline;
      }
      
    }//closes each-course
    
    /* course names */
    h3 {
      margin-top: .5em;
    }
    
    /* right-side arrow icon */
    .fa-arrow-right {
      margin-right: .5em;
      font-size: 1.5em;
    }
  
  }//closes course-list
  
}//closes home-screen


/***** VIEW SINGLE QUESTION PAGE *****/

a.nounderline {
  text-decoration: none;
}

hr.questionFooterSeparator {
  margin: 0.5em 0;
}

div.postFooter {
  margin: 0.5em 0;
}

div.quesAnsComments {
  margin-left: 4em;
}


/***** COURSES SCREEN *****/

.course-screen {
  
  /* search box */
  .searchCourse {
    margin-top: 1.5em;
  }
  
  /* class for div surrounding each question */
  .each-question {
    
    padding: 1.5em 0;
    .gray-box();
    border-bottom: none;
    
    /* alternating rows */
    &:nth-child(odd) {
      background: #fff;
    }
    
    &:last-child {
      border-bottom: 1px solid @border-gray;
    }
    
    /* div for question description */
    .question-desc {
      margin: 1em 0 1.5em 0;
      font-size: 1.1em;
    }
    
    /* ul for metadata */
    .list-inline {
      
      margin-bottom: 0;
      padding-top: .5em;
      color: @breadcrumb-gray;
      border-top: 2px dotted @border-gray;
    
      /* each piece of data */
      li {
        
        padding: .2em .5em;
        border-right: 1px solid @border-gray;
        
        &:last-child {
          border-right: none;
        }
          
      }//closes li

     /* label is applied when evaluations needed */
      .label {
        font-size: 100%;
      }
    
    }//closes list-inline
    
  }//closes each-question
  
}//closes course-screen


/***** JUDGEMENTS PAGE *****/
.hideRadio {
  opacity: 0;
}
