/***** AngularStrap's Modal *****/
.modal-backdrop.am-fade {
  opacity: .5;
  transition: opacity .15s linear;
  &.ng-enter {
    opacity: 0;
    &.ng-enter-active {
      opacity: .5;
    }
  }
  &.ng-leave {
    opacity: .5;
    &.ng-leave-active {
      opacity: 0;
    }
  }
}

/***** UNIVERSAL *****/
.navbar {
  margin-bottom: 0.5em;
}
body {
  margin-bottom: 1em;
}

/***** VIEW SINGLE QUESTION PAGE *****/
a.nounderline {
  text-decoration: none;
}

hr.questionFooterSeparator {
  margin: 0.5em 0;
}

div.postFooter {
  margin: 0.5em 0;
}

div.quesAnsComments {
  margin-left: 4em;
}

/***** COURSES PAGE *****/
li.answer-comment-count {
  padding-left: 0;
}

/***** JUDGEMENTS PAGE *****/
.hideRadio {
  opacity: 0;
}

/***** IMPORT PAGE *****/
p.format {
  margin-left: 2em;
}

ul.helptext {
  margin-left: 3em;
}

/***** USER PAGE *****/
div.optionsFooter {
  margin-top: 0.5em;
}
