<div>
	<h2>Create User</h2>
	
	<form name=createUser novalidate class="form-horizontal" role="form" ng-submit="submit()">
		<div class="form-group">
			<label class="col-sm-3">Role</label>
			<div class="col-sm-3">
				<select name="type" ng-model="role" id="roleInput" required class="form-control">
					<option ng-repeat="type in usertypes" value="{{type}}">{{ type }}</option>
				</select>
			</div>
			<span class="required" ng-show="createUser.type.$invalid">A user type is required</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3">Username</label>
			<div class="col-sm-3">
				<input type="text" name="username" ng-model="username" required id="usernameInput" class="form-control">
			</div>
			<span class="required" ng-show="createUser.username.$error.required">A username is required.</span>		
		</div>
		<div class="form-group">
			<label class="col-sm-3">First Name</label>
			<div class="col-sm-3">
				<input type="text" name="firstname" ng-model="firstname" required id="firstnameInput" class="form-control">
			</div>
			<span class="required" ng-show="createUser.firstname.$error.required">First name is required.</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3">Last Name</label>
			<div class="col-sm-3">
				<input type="text" name="lastname" ng-model="lastname" required id="lastnameInput" class="form-control">
			</div>
			<span class="required" ng-show="createUser.lastname.$error.required">Last name is required.</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3">Display Name</label>
			<div class="col-sm-3">
				<input type="text" name="display" ng-model="display" required id="displaynameInput" class="form-control">
			</div>
			<span class="required" ng-show="createUser.display.$error.required">Display name is required.</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3">Email</label>
			<div class="col-sm-3">
				<input type="text" name="email" ng-model="email" required id="emailInput" class="form-control" ng-click="formaterr=false">
			</div>
			<span class="required" ng-show="formaterr">Incorrect email format.</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3">Password</label>
			<div class="col-sm-3">
				<input type="text" name="password" ng-model="password" required id="passwordInput" class="form-control">
			</div>
			<span class="required" ng-show="createUser.password.$error.required">A password is required.</span>
		</div>
		<div class="form-group">
			<label class="col-sm-3">Retype Password</label>
			<div class="col-sm-3">
				<input type="text" name="retypepw" ng-model="retypepw" required id="retypepwInput" class="form-control">
			</div>
			<span class="required" ng-show="(password != retypepw)">The passwords do not match.</span>
		</div>

		<div class="form-group">
			<div class="col-sm-3">
				<input class="btn btn-primary" type=submit name="submit" value="Confirm" ng-disabled="createUser.$invalid">
			</div>
		</div>
	</form>
</div>
