<div>
	<h2>Edit Course - {{name}}</h2>
	<div class="errFlash" ng-show="flash">{{flash}}</div>
	<form name=editCourse novalidate>
		Course Name: 
		<div class="row">
			<div class="col-sm-4">
				<input type="text" name="coursename" ng-model="newname" value="newname" class="form-control" required maxlength="80">
			</div>
		</div>
		<span class=errMsg ng-show="submitted && editCourse.coursename.$error.required">Course name is required.</span>
	
	<div  class="marginT50">
		<span>Limit answer and comment length: </span>
		<div class="row">
			<div class="col-sm-3">
				<div class="input-group">
					<span class="input-group-addon"> <input type="checkbox" name="contentLengthCheck" ng-model="contentLengthCheck">
					</span> <input type="number" class="form-control" min="0" name="contentLength" ng-model="contentLength" ng-disabled="!contentLengthCheck">
				</div>
			</div>
		</div>
	</div>
				
	<div class="tab-content marginT50">
		<div class="row">
			<div class="col-sm-4">
			<label>Tags:</label>
				<table ng-table="tagParams" class="table">
					<tr class="tr" ng-repeat="tag in tags">
						<td data-title="" class=width50>
							<button class="btn btn-danger btn-xs"
								ng-click="removeTag({{tag.id}})">
								<span class="glyphicon glyphicon-remove"> </span>
							</button>
						</td>
						<td data-title="Tag" sortable="name">{{tag.name}}</td>
					</tr>
				</table>
			</div>
			
			<div class="col-sm-4 col-sm-offset-2">
				<label>Judgement categories:</label>
				<table ng-table="critParams" class="table">
					<tr class="tr" ng-repeat="cat in categories">
						<td data-title="" class=width50>
							<button class="btn btn-danger btn-xs" ng-disabled="categories.length <= 1"
								ng-click="removeCat({{cat.id}})">
								<span class="glyphicon glyphicon-remove"> </span>
							</button>
						</td>
						<td data-title="Category" sortable="name">{{cat.name}}</td>
					</tr>
				</table>
			</div>
			
		</div>
		<div class="row">
			<div class="col-sm-3">
				<input type="text" ng-model="newtag" class="form-control">
			</div>
			<div class="col-sm-1 padding0">
				<button class="btn btn-primary btn-sm" ng-click="addTag()">
					<span class="glyphicon glyphicon-plus"> </span> Add Tag
				</button>
			</div>

			<div class="col-sm-3 col-sm-offset-2">
				<input type="text" ng-model="newcrit" class="form-control">
			</div>
			<div class="col-sm-1 padding0">
				<button class="btn btn-primary btn-sm" ng-click="addCat()">
					<span class="glyphicon glyphicon-plus"> </span> Add Category
				</button>
			</div>
		</div>
	</div>
	
	</form>
	<button class="btn btn-primary btn-sm marginT50" ng-click="submit();submitted=true">
		<span class="glyphicon glyphicon-ok"> </span> Submit
	</button>
	<button class="btn btn-danger btn-sm marginT50" ng-click="remove()">
		<span class="glyphicon glyphicon-remove"> </span> Delete
	</button>
</div>