<div>
	<h2>Enrollment Page</h2>
	<br>
	<br>
	<p>
		Course: <b>{{course}}</b>
	</p>
	<br>
	<div class="enroll">
		<div class="tablewrapper">

			<div class="marginB15">
				Search Teacher:
				<div class="row">
					<div class="col-lg-3">
						<input class="form-control" type="text" ng-model="tquery">
					</div>
				</div>
			</div>
			<table ng-table="teacherParams" class="table">
				<tr class="tr" ng-repeat="teacher in teachers">
					<td data-title="'Name'" sortable="username"><a
						href="#/userprofile/{{teacher.uid}}" ng-click="storeReferer()">{{teacher.username}}</a></td>
					<td ng-switch on="teacher.enrolled" data-title="'Status'"
						sortable="enrolled" class="centered">
						<div ng-switch-default>
							<p class="btn btn-success btn-xs btnWidth"
								ng-click="drop(teacher, 'T')">Enrolled</p>
						</div>
						<div ng-switch-when="">
							<p class="btn btn-default btn-xs btnWidth"
								ng-click="add(teacher, 'T')">Unenrolled</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<br>
	<br>
	<div class="enroll">
		<div class="tablewrapper">
			<div class="marginB15">
				Search Student:
				<div class="row">
					<div class="col-lg-3">
						<input class="form-control" type="text" ng-model="squery">
					</div>
				</div>
			</div>
			<table ng-table="studentParams" class="table">
				<tr class="tr" ng-repeat="student in students">
					<td data-title="Name" sortable="username"><a
						href="#/userprofile/{{student.uid}}" ng-click="storeReferer()">{{student.username}}</a></td>
					<td ng-switch on="student.enrolled" data-title="Status"
						sortable="enrolled" class="centered">
						<div ng-switch-default>
							<p class="btn btn-success btn-xs btnWidth"
								ng-click="drop(student, 'S')">Enrolled</p>
						</div>
						<div ng-switch-when="">
							<p class="btn btn-default btn-xs btnWidth"
								ng-click="add(student, 'S')">Unenrolled</p>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>
