<div>
	<div class="errFlash" ng-show="flash">{{ flash }}</div>
	<div class="successFlash" ng-show="done">{{ success }}</div>
	<h2>Step 2: Create an Administrator</h2>
	
	<form ng-submit="submit()" name="createAdmin" novalidate>
		<p>Username: <input type=text name="username" ng-model="username" required></p>
		<span class=errMsg ng-show="submitted && createAdmin.username.$error.required">
			A username is required.</span>
		<p>First Name: <input type="text" name="firstname" ng-model="firstname" required></p>
		<span class=errMsg ng-show="submitted && createAdmin.firstname.$error.required">
			First name is required.</span>
		<p>Last Name: <input type="text" name="lastname" ng-model="lastname" required></p>
		<span class=errMsg ng-show="submitted && createAdmin.lastname.$error.required">
			Last name is required.</span>
		<p>Display Name: <input type="text" name="display" ng-model="display" required></p>
		<span class=errMsg ng-show="submitted && createAdmin.display.$error.required">
			Display name is required.</span>
		<p>Email: <input type=text name="email" ng-model="email" ng-click="formaterr=false"></p>
		<span class=errMsg ng-show="formaterr">
			Incorrect email format.</span>
		<p>Password: <input type=password name="password" ng-model="password" required></p>
		<span class=errMsg ng-show="submitted && createAdmin.password.$error.required">
			A password is required.</span>
		<p>RetypePW: <input type=password name="retypepw" ng-model="retypepw"></p>
		<span class=errMsg ng-show="submitted && (password != retypepw)">
			The passwords do not match.</span>
		<p><input type=submit name="submit" value=Confirm ng-hide="done" ng-click="submitted=true"></p>
	</form>
</div>
<div class="next" ng-show="done">
<a href="#/login">
	<input type="button" class="next" value="Login">
</a>
</div>