<h1>Add Group</h1>
<p class="intro-text">Add a group and then add any users from your course to it. Groups can be used to <strong>filter completed student answers and comparisons into smaller subsets</strong> to help with grading.</p>
<ng-form name="groupForm" class="form">
    <fieldset>
        <legend>Group Details</legend>
        <compair-field-with-feedback form-control="groupForm.groupName">
            <label class="required-star" for="criterionName">Group Name</label>
            <input type="text" maxlength="255" ng-model="group.name" id="groupName" name="groupName" class="form-control" required/>
        </compair-field-with-feedback>
    </fieldset>
    <div class="text-center">
        <input type="button" ng-click="groupSubmit()" class="btn btn-success btn-lg" value="Save"
        ng-disabled="groupForm.$invalid" />
    </div>
    <br />
</ng-form>