<div ng-controller="HomeController">

<h1>
	My Courses
</h1>

<div class="panel panel-default">
	<!-- Course listing toolbar -->
	<div class="panel-body">
		<form class="form-inline" role="search">
			<div class="form-group" ng-if="canAddCourse">
				<a class="btn btn-default" href="#/course/new">
					<i class="fa fa-plus"></i> New Course
				</a>
			</div>
			<div class="form-group pull-right">
				<input class="form-control" type="text" 
					placeholder="Search Course" ng-model="courseFilter">
			</div>
		</form>
	</div>
	<!-- Course listing -->
	<div class="list-group">
		<a ng-repeat="course in courses | filter:courseFilter" 
			ng-href="/questionpage/{{course.course.id}}" class="list-group-item">
			<h3 class="list-group-item-heading">
				{{course.course.name}}
			</h3>
			<div class="list-group-item-text" 
				ng-bind-html="course.course.description">
			</div>
		</a>
	</div>
</div>
</div>
