<div ng-controller="HomeController" class="home-screen">

	<h1>Adaptive Comparative Judgement</h1>
	
	<p class="intro-text">Welcome to the ACJ application! With this application, you will show your mastery of course content by answering course-related questions and anonymously evaluating the answers given by your classmates.</p>
	
	<form class="form-inline" role="search" ng-show="canAddCourse && courses.length">
		<div class="form-group pull-right">
			<input class="form-control" type="text" 
				placeholder="Search for courses" ng-model="courseFilter">
		</div>
	</form>
	
	<h2>Select a course</h2>
	
	<!-- Course listing -->
	<div class="course-list" ng-if="courses.length">
		<a ng-repeat="course in courses | filter:courseFilter" 
			ng-href="#/course/{{course.course.id}}" class="each-course">
			<h3>
				<i class="fa fa-book"></i>
				{{course.course.name}}
				<i class="fa fa-arrow-right fa-2x pull-right"></i>
			</h3>
			<div ng-bind-html="course.course.description"></div>
		</a>
	</div>

	<div ng-if="!courses.length">
		<hr />
		<p>No courses currently available.</p>
		<p ng-if="canAddCourse">Would you like to <a href="#/course/new">add a course</a>?</p>
	</div>

</div>
