<div ng-controller="QuestionViewController">

<h2>{{question.title}}</h2>
<hr />
<div mathjax="question.post.content" ng-bind-html="question.post.content">
</div>
<hr class="questionFooterSeparator" />
<div class="row questionFooter">
	<div class="col-sm-6">
		<a ng-href="#/course/{{courseId}}/question/{{question.id}}/answer/create" class="btn btn-sm btn-success">
			<i class="fa fa-lightbulb-o"></i> Answer
		</a>
		<a href="#/course/{{courseId}}/question/{{question.id}}/comment/create" class="btn btn-sm btn-info">
			<i class="fa fa-comment-o"></i> Comment
		</a>
		<a class="btn btn-default" title="Evaluate Answers"
		 ng-href="#/course/{{courseId}}/question/{{question.id}}/judgement">
			<i class="fa fa-gavel"></i> Judge
		</a>
		<a ng-if="canManagePosts || question.post.user.id == loggedInUserId" href="#/course/{{courseId}}/question/{{question.id}}/edit" class="btn btn-sm btn-primary">
			<i class="fa fa-edit"></i> Edit
		</a>
		<a ng-if="canManagePosts || question.post.user.id == loggedInUserId" href="" class="btn btn-xs btn-danger">
			<i class="fa fa-trash-o"></i> Delete
		</a>
	</div>
	<div class="col-sm-6">
		<a ng-href="#/user/{{question.post.user.id}}" class="nounderline">
			<img src="//www.gravatar.com/avatar/{{question.post.user.avatar}}?s=32&d=retro" />
		</a>
		<a ng-href="#/user/{{question.post.user.id}}">
			{{question.post.user.displayname}}
		</a>
		- {{question.post.created | amDateFormat: 'lll'}}
	</div>
</div>

<hr />
<div ng-repeat="comment in comments" class="quesAnsComments">
	<div mathjax="comment.content" ng-bind-html="comment.content">
	</div>
	<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}" class="nounderline">
		<img src="//www.gravatar.com/avatar/{{question.post.user.avatar}}?s=32&d=retro" />
	</a>
	<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}" class="nounderline">
		{{comment.postsforcomments.post.user.displayname}}</a>
	- {{comment.postsforcomments.post.created | amDateFormat: 'lll'}}
	<div class="postFooter">
		<a ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId" href="#/course/{{courseId}}/question/{{question.id}}/comment/{{comment.id}}/edit" class="btn btn-sm btn-primary">
			<i class="fa fa-edit"></i> Edit
		</a>
	</div>
	<hr />
</div>

<select ng-hide=true ng-model="sortby" ng-options="key as c.criterion.name for (key, c) in criteria"></select>
<div ng-repeat="answer in answers | orderBy:order:reverse">
	<div mathjax="answer.post.content" ng-bind-html="answer.post.content">
	</div>
	<div>
		<a ng-href="#/user/{{answer.post.user.id}}" class="nounderline">
			<img src="//www.gravatar.com/avatar/{{answer.post.user.avatar}}?s=32&d=retro" />
		</a>
		<a ng-href="#/user/{{answer.post.user.id}}">
			{{answer.post.user.displayname}}
		</a>
		- {{answer.post.created | amDateFormat: 'lll'}}
		<span ng-show="key==sortby && answer.scores.length > 0" ng-repeat="(key, score) in answer.scores">
		- Score: {{score.score | number: 3}}
		</span>
	</div>
	<div class="postFooter">
		<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/create" class="btn btn-sm btn-info">
			<i class="fa fa-comment-o"></i> Comment
		</a>
		<a ng-if="canManagePosts || answer.post.user.id == loggedInUserId" href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/edit" class="btn btn-sm btn-primary">
			<i class="fa fa-edit"></i> Edit
		</a>
	</div>
	<hr />
	<div ng-repeat="comment in answer.comments" class="quesAnsComments">
		<div mathjax="comment.content" ng-bind-html="comment.content">
		</div>
		<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}" class="nounderline">
			<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
		</a>
		<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}" class="nounderline">
			{{comment.postsforcomments.post.user.displayname}}
		</a>
		- {{comment.postsforcomments.post.created | amDateFormat: 'lll'}}
		<div class="postFooter">
			<a ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId" href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit" class="btn btn-sm btn-primary">
				<i class="fa fa-edit"></i> Edit
			</a>
		</div>
		<hr />
	</div>
</div>
	
</div>
