<div ng-controller="QuestionViewController" class="question-screen">
	
	<div class="standalone-question">
		
		<!-- Question -->
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		
		<!-- Question Details -->
		<div class="questionmathjax question-desc" mathjax="question.post.content"
			 ng-bind-html="question.post.content">
		</div>
		
		<!-- Question Attachment -->
		<acj-pdf-inline label="See assignment details:" pdfs="question.post.files">
		</acj-pdf-inline>
		
		<!-- Question Answer/Evaluation Periods -->
		<div ng-show="canManagePosts">
			<p><em>Answering Period: {{question.answer_start | amDateFormat: 'MMM D @ h:mm a'}} - {{question.answer_end | amDateFormat: 'MMM D @ h:mm a'}}
			<span ng-if="question.judge_start > 0 && question.judge_end > 0"><br />Comparing Period: {{question.judge_start | amDateFormat: 'MMM D @ h:mm a'}} - {{question.judge_end | amDateFormat: 'MMM D @ h:mm a'}}</em></p>
		</div>
		
		<!-- Question Metadata Footer -->
		<ul class="list-inline question-metadata-list">
			<li ng-if="canManagePosts || question.post.user.id == loggedInUserId">	
				<a ng-href="#/course/{{courseId}}/question/{{question.id}}/edit" ng-if="canManagePosts || question.post.user.id == loggedInUserId" title="Edit">
					Edit
				</a> 
			</li>
			<li>
				Posted by 
				<a ng-href="#/user/{{question.post.user.id}}">
					{{question.post.user.displayname}}
					<span ng-if="canManagePosts && question.post.user.fullname">
						({{question.post.user.fullname}})
					</span>
				</a>
			</li>
			<li ng-if="!canManagePosts && ((evaluation + selfEval == 0) || answered)">
				You have
				<span ng-if="answered">answered <span ng-if="evaluation + selfEval == 0">and </span></span>
				<span ng-if="evaluation + selfEval == 0">compared</span>
			</li>
			<li ng-if="!canManagePosts && question.answer_period && !answered">
				<strong>Answer due {{question.answer_end | amDateFormat: 'MMM D @ h:mm a'}}</strong>
			</li>
			<li ng-if="availPairsLogic && !canManagePosts && question.judging_period && (evaluation + selfEval > 0) && ((question.answer_period && answered) || !question.answer_period) && question.judgeEnd">
				Comparisons due {{question.judgeEnd | amDateFormat: 'MMM D @ h:mm a'}}
			</li>
			<li ng-if="!canManagePosts && question.judging_period && (evaluation + selfEval > 0) && ((question.answer_period && answered) || !question.answer_period)">
				<strong>{{ evaluation + selfEval }} comparison<span ng-if="(evaluation + selfEval) != 1">s</span> needed from you</strong>
			</li>
			<li ng-if="canManagePosts || question.post.user.id == loggedInUserId">
				<a ng-if="canManagePosts || question.post.user.id == loggedInUserId" title="Delete" confirmation-needed="deleteQuestion(courseId, question.id)" keyword="question" href="">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>
		
		<!-- Question Actions -->
		
		<!-- BUTTON when user has not answered AND (user is an admin OR the answer period is active) -->
		<a ng-href="#/course/{{courseId}}/question/{{question.id}}/answer/create" class="btn btn-success" title="Answer Question"
		   ng-show="!answered && (canManagePosts || question.answer_period)">
			Answer
		</a>
		
		<!-- BUTTON when user is not an admin AND the comparison period is active AND the user has not finished pair comparisons AND either (the answer period is active AND the question has been answered) OR (the answer period is not active)
			 basically we force users to answer first, if they can
			 enabled only when answer pairs are available for comparison (so when no logic is false)
		-->
		<a class="btn" ng-class="{'btn-success': availPairsLogic, 'btn-default': !availPairsLogic}" title="Compare Answers" ng-href="#/course/{{courseId}}/question/{{question.id}}/compare"
		   ng-show="!canManagePosts && question.judging_period && !judged_req_met && ((question.answer_period && answered) || !question.answer_period)" ng-disabled="!availPairsLogic">
			Compare Answers
		</a>
		
		<!-- BUTTON when user is not an admin AND the comparison period is active AND user has finished pair comparisons AND has a self-evaluation remaining AND either (the answer period is active AND the question has been answered) OR (the answer period is not active)
			 basically we force users to answer first, if they can
			 enabled only when user has answered question
		-->
		<a class="btn" ng-class="{'btn-success': answered, 'btn-default': !answered}" title="Self-Evaluation" ng-href="#/course/{{courseId}}/question/{{question.id}}/selfevaluation"
		   ng-show="!canManagePosts && question.judging_period && judged_req_met && !selfEval_req_met && ((question.answer_period && answered) || !question.answer_period)" ng-disabled="!answered">
			Compare Answers
		</a>
		
		<!-- BUTTON when user is an admin AND (the comparison period is active OR is complete) -->
		<a class="btn btn-success" title="Comparisons" ng-href="#/course/{{courseId}}/question/{{question.id}}/comparisons"
		   ng-show="canManagePosts && (question.judging_period || question.after_judging)">
			See Comparisons
		</a>
		
		<!-- ADDITIONAL TEXT when answer pairs are not available for comparison AND user is not admin AND the comparison period is active AND user has comparisons remaining AND either (the answer period is active AND the question has been answered) OR (the answer period is not active)-->
		<p ng-if="!availPairsLogic && !canManagePosts && question.judging_period && (evaluation + selfEval > 0) && ((question.answer_period && answered) || !question.answer_period)"><br /><em>Not enough answers to compare (Refresh the page to check again) </em></p>
		
		<!-- ADDITIONAL TEXT when user is not an admin AND the comparison period is active AND user has completed pair comparisons AND has a self-evaluation remaining AND has not answered question -->
		<p ng-if="!canManagePosts && question.judging_period && judged_req_met && !selfEval_req_met && !answered"><br /><em>Self-evaluation comparison unavailable (You have not answered the assignment)</em></p>
		
	</div><!-- closes question box -->
	
	<!-- Tabs -->
	<ul class="nav nav-tabs" role="tablist">
	  <li id="answers" ng-class="{active:showTab('answers')}">
		<a ng-click="setTab('answers')" href="">Answers <span ng-show="canManagePosts || (!question.answer_period && see_answers)">({{answers.length}})</span></a>
	  </li>
	  <li id="comments" ng-class="{active:showTab('help')}">
		<a ng-click="setTab('help')" href="">Help</a>
	  </li>
	  <li ng-show="canManagePosts" id="participation" ng-class="{active:showTab('participation')}">
		<a ng-click="setTab('participation')" href="">Participation</a>
	  </li>
	  <li ng-show="!canManagePosts && comparisons.length > 0" id="comparisons" ng-class="{active:showTab('comparisons')}">
		<a ng-click="setTab('comparisons')" href="">Your Comparisons</a>
	  </li>
	</ul>
	
	<!-- Tab Content -->
	<div class="tab-content">
		
		<div class="tab-pane" ng-class="{active: showTab('answers')}" id="answers-tab">
			
			<!-- Answers Tab Header -->
			<div class="tab-header">
			
				<div class="row">
					<h2 class="col-sm-6">
						Answers
						<span ng-show="canManagePosts && grade.group && !grade.author">for "{{grade.group.name}}"</span>
						<span ng-show="grade.author">for "{{ grade.author.user.name }}"</span>
					</h2>
					
					<div class="col-sm-6 text-right multi-filters">
						<div ng-if="question.answers_count && (canManagePosts || see_answers)">
							<span class="filter">
								<label>Show: &nbsp;</label>
								<select ng-if="groups.length > 0 && canManagePosts" ng-model="grade.group" class="nullable"
									ng-options="g as g.name for g in groups | orderBy: 'name'" ng-change="groupChange()">
									<option value="">All groups</option>
								</select>
								<select ng-model="grade.author" class="nullable"
										ng-options="u as u.user.name for u in students | orderBy: 'user.name'" ng-change="userChange()">
									<option value="">All answers</option>
								</select>
							</span><br />
							<span class="filter">
								<label>Order by ranking for: &nbsp;</label>
								<select ng-model="grade.sortby"
									ng-options="key as c.criterion.name for (key, c) in criteria" ng-change="criteriaChange()">
								</select>
							</span>
						</div>
					</div>
				</div>

				<!-- Instructors should see before the answer period -->
				<p class="intro-text"
				   ng-if="canManagePosts && !question.answer_period && !question.available">
					Answering period begins {{question.answer_start | amDateFormat: 'MMM D @ h:mm a'}}. Would you like to <a ng-href="#/course/{{courseId}}/question/{{question.id}}/edit" title="Edit the question">change the answer date</a> for this assignment?
				</p>
				
				<!-- Students should see before answering during the answer period -->
				<p class="intro-text"
				   ng-if="!canManagePosts && !answered && question.answer_period">
					<a ng-href="#/course/{{courseId}}/question/{{question.id}}/answer/create" title="Answer the question">Answer</a> and compare answer pairs for the assignment first, then read all answers written by your classmates and instructors here.
				</p>
				
				<!-- Students should see before evaluating before the evaluation period -->
				<p class="intro-text"
				   ng-if="!canManagePosts && ((answered && question.answer_period) || (!question.answer_period)) && !question.judging_period && !question.after_judging">
					Comparison period begins <span ng-if="question.judge_start > 0">{{question.judge_start | amDateFormat: 'MMM D @ h:mm a'}}</span> <span ng-if="question.judge_start <= 0">after the answer period ends</span>. After comparing answer pairs, you will be able to read all answers written by your classmates and instructors here.
				</p>
				
				<!-- Students should see before evaluating during the evaluation period (regular comparison) -->
				<p class="intro-text" ng-if="!canManagePosts && question.judging_period && !judged_req_met && ((answered && question.answer_period) || !question.answer_period)">
					<a ng-href="#/course/{{courseId}}/question/{{question.id}}/compare" title="Compare answers">Compare answers</a> for the assignment first, then read answers written by your classmates and instructors here.
				</p>
				
				<!-- Students should see before evaluating during the evaluation period (self-evaluation) -->
				<p class="intro-text" ng-if="!canManagePosts && question.judging_period && judged_req_met && !selfEval_req_met">
					<a ng-href="#/course/{{courseId}}/question/{{question.id}}/judgement" title="Compare answers">Compare answers</a> for the assignment first, then read answers written by your classmates and instructors here.
				</p>
				
				<!-- Anyone sees during the answer period, if no answers provided yet -->
				<p class="intro-text" ng-if="question.answer_period && !question.answers_count">
					No answers given for this assignment yet.
				</p>
				
				<!-- Students see after evaluating before the evaluation period is over -->
				<p class="intro-text" ng-if="!canManagePosts && judged_req_met && selfEval_req_met && !see_answers">
					You have successfully finished comparisons for this assignment! Answers written by your classmates and instructors will be available here beginning <strong>{{ answerAvail | amDateFormat: 'MMM D @ h:mm a'}}</strong>.
				</p>
				
			</div>
			
			<div class="all-answers">
			
				<!-- Instructor Answers Section -->
				<div class="each-answer clearfix" ng-repeat="answer in answers | filter:adminFilter()" ng-if="instructors[answer.post.user.id] && (see_answers || canManagePosts)">
					
					<!-- Instructor Answer Metadata Header -->
					<div class="each-header clearfix">
						<a ng-href="#/user/{{answer.post.user.id}}">
							<img src="//www.gravatar.com/avatar/{{answer.post.user.avatar}}?s=32&d=retro" />
						</a>
						<a ng-href="#/user/{{answer.post.user.id}}">
							{{answer.post.user.displayname}}
							<span ng-if="canManagePosts && answer.post.user.fullname">
								({{answer.post.user.fullname}})
							</span>
						</a>
						<span class="label label-info" ng-if="instructors[answer.post.user.id]">{{instructors[answer.post.user.id]}}&nbsp;</span>
						<strong>said</strong>:
						<div class="manager-actions pull-right" ng-if="canManagePosts">
							<a href="" confirmation-needed="deleteAnswer(answer, courseId, question.id, answer.id)" keyword="instructor answer">
								<i class="fa fa-trash-o"></i>
							</a>
							<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/edit">
								Edit
							</a>
						</div>
					</div>
					
					<!-- Instructor Answer -->
					<div class="content instructor-answer">
						<div mathjax="answer.post.content"
							ng-bind-html="answer.post.content">
						</div>
						<!-- Instructor Attachment -->
						<acj-pdf-inline label="See assignment details:" 
							pdfs="answer.post.files">
						</acj-pdf-inline>
					</div>
					
					<!-- Instructor Answer Replies Section -->
					<a href="" ng-click="showReplies = !showReplies">			
						<h3 class="reply-heading" ng-if="instResults.length">
							<i class="fa fa-chevron-down" ng-show="showReplies"></i>
							<i class="fa fa-chevron-right" ng-hide="showReplies"></i>
							{{instResults.length}}
							<span ng-if="instResults.length == 1">reply</span>
							<span ng-if="instResults.length > 1">replies</span>
							to instructor's answer
						</h3>
					</a>
					
					<div ng-show="showReplies">
						
						<div ng-repeat="(commentKey, comment) in answer.comments | filter:commentFilter(answer) as instResults" class="each-reply" >
							
							<hr ng-hide="$first" />
							
							<!-- Instructor Reply Metadata Header -->
							<div class="each-header clearfix">
								<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
									<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
								</a>
								<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
									{{comment.postsforcomments.post.user.displayname}}
									<span ng-if="canManagePosts && comment.postsforcomments.post.user.fullname">
										({{comment.postsforcomments.post.user.fullname}})
									</span>
								</a>
								<span class="label label-info" ng-if="instructors[comment.postsforcomments.post.user.id]">
									{{instructors[comment.postsforcomments.post.user.id]}} 
								</span>
								<strong>replied</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM D @ h:mm a'}}:
								<div class="manager-actions pull-right" ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId">
									<a href="" confirmation-needed="deleteReply(answer, commentKey, courseId, question.id, answer.id, comment.id)" keyword="reply">
										<i class="fa fa-trash-o"></i>
									</a>
									<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
										Edit
									</a>
								</div>
							</div>
							
							<!-- Instructor Reply -->
							<div class="content" mathjax="comment.content"
								 ng-bind-html="comment.content">
							</div>
						
						</div><!-- closes each-reply (instructor) -->
						
					</div><!--closes toggle div -->
					
					<p><a ng-if="question.can_reply || canManagePosts" href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/create" class="btn btn-sm btn-primary pull-left btn-reply">
						Reply
					</a></p>
				
				</div><!-- closes each-answer (instructor) -->
				
				<!-- Student Answers Section -->
				<div class="each-answer clearfix" ng-repeat="answer in answers | filter:groupFilter() | orderBy:order:reverse | notScoredEnd:grade.sortby as results" ng-if="!instructors[answer.post.user.id] && (see_answers || answer.post.user.id == loggedInUserId || canManagePosts)">
				<!-- <div class="each-answer clearfix" ng-repeat="(answerKey, answer) in answers" ng-if="!instructors[answer.post.user.id] && (see_answers || (answer.post.user.id == loggedInUserId && question.answer_period) || canManagePosts)"> -->
					<!-- Student Answer Metadata Header -->
					<div class="each-header clearfix">
						<a ng-href="#/user/{{answer.post.user.id}}">
							<img src="//www.gravatar.com/avatar/{{answer.post.user.avatar}}?s=32&d=retro" />
						</a>
						<a ng-href="#/user/{{answer.post.user.id}}">
							{{answer.post.user.displayname}}
							<span ng-if="!canManagePosts && answer.post.user.id == loggedInUserId">
								(You)
							</span>
							<span ng-if="canManagePosts && answer.post.user.fullname">
								({{answer.post.user.fullname}})
							</span>
						</a>
						<strong>answered</strong> on {{answer.post.created | amDateFormat: 'MMM D @ h:mm a'}}:
						<div class="manager-actions pull-right" ng-if="canManagePosts || (answer.post.user.id == loggedInUserId && question.answer_period && !question.judging_period)">
							<span ng-show="answer.flagged" class="text-warning" title="Answer was flagged by a student as incomplete or inappropriate">
								<i class="fa fa-warning"></i>
								Flagged
								<a href="" title="Unflag this answer" ng-click="unflagAnswer(answer, courseId, question.id, answer.id)">
									Unflag?
								</a>
							</span>
							<a href="" confirmation-needed="deleteAnswer(answer, courseId, question.id, answer.id)" keyword="answer">
								<i class="fa fa-trash-o"></i>
							</a>
							<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/edit">
								Edit
							</a>
						</div>
					</div>

					<!-- Student Answer -->
					<div class="content {{answer.post.id}}" get-height>
						<div mathjax="answer.post.content"
							 ng-bind-html="answer.post.content">
						</div>
						<!-- Student Attachment -->
						<acj-pdf-inline label="See answer details:"
							pdfs="answer.post.files" ng-click="revealAnswer(answer.post.id)">
						</acj-pdf-inline>
					</div>
					<!-- Student Answer Read More Button (not used for instructor answers) -->
					<p ng-show="showReadMore" class="read-more" ng-click="revealAnswer(answer.post.id)"><a href="" class="btn btn-sm btn-default">Read More...</a></p>
					<!-- <p ng-show="!showReadMore">No More To Read!!! ({{thisHeight}})</p> -->

					<!-- Student Score (not used for instructor answers) -->
					<p class="pull-right score-display" ng-show="canManagePosts && key==grade.sortby && answer.scores.length > 0" ng-repeat="(key, score) in answer.scores">
						<em>Score: {{score.normalized_score}}%</em>
						<a tool-tip href="" data-placement="left" data-toggle="tooltip" class="score-tooltip" title="The top-ranked answer or&mdash;in the case of a tie&mdash;answers for the assignment receive 100%. All other answers receive a lower percentage based on how well they did compared to the top-ranked answer.">
							<i class="fa fa-question-circle"></i>
						</a>
					</p>
					<p class="pull-right" ng-show="canManagePosts && answer.scores.length == 0" class="score-display">
						<em>Not Evaluated</em>
					</p>

					<!-- Student Answer Replies Section -->
					<a href="" ng-click="showReplies = !showReplies">
						<h3 class="reply-heading" ng-if="studentResults.length && (see_answers || canManagePosts)">
							<i class="fa fa-chevron-down" ng-show="showReplies"></i>
							<i class="fa fa-chevron-right" ng-hide="showReplies"></i>
							{{studentResults.length}}
							<span ng-if="studentResults.length == 1">reply</span>
							<span ng-if="studentResults.length > 1">replies</span>
							to this answer
							<span ng-if="canManagePosts || answer.post.user.id == loggedInUserId">({{ answer.private_comments_count }} private, {{ answer.public_comments_count }} public)</span>
						</h3>
					</a>

					<div ng-show="showReplies">

						<div ng-repeat="(commentKey, comment) in answer.comments | filter:commentFilter(answer) as studentResults" class="each-reply" ng-if="see_answers || canManagePosts">

							<hr ng-hide="$first" />

							<!-- Student Reply Metadata Header -->
							<div class="each-header clearfix">
								<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
									<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
								</a>
								<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
									{{comment.postsforcomments.post.user.displayname}}
									<span ng-if="canManagePosts && comment.postsforcomments.post.user.fullname">
										({{comment.postsforcomments.post.user.fullname}})
									</span>
								</a>
								<span class="label label-info" ng-if="instructors[comment.postsforcomments.post.user.id]">
									{{instructors[comment.postsforcomments.post.user.id]}}
								</span>
								<strong ng-if="comment.evaluation">gave private feedback</strong>
								<strong ng-if="comment.selfeval">self-evaluated</strong>
								<strong ng-if="!comment.evaluation && !comment.selfeval">replied <span ng-if="canManagePosts || answer.post.user.id == loggedInUserId" class="label label-info">Public</span></strong>
								on {{comment.postsforcomments.post.created | amDateFormat: 'MMM D @ h:mm a'}}:
								<div class="manager-actions pull-right" ng-if="canManagePosts || (comment.postsforcomments.post.user.id == loggedInUserId && !(comment.selfeval || comment.evaluation))">
									<a href="" confirmation-needed="deleteReply(answer, commentKey, courseId, question.id, answer.id, comment.id)" keyword="reply">
										<i class="fa fa-trash-o"></i>
									</a>
									<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
										Edit
									</a>
								</div>
							</div>

							<!-- Student Reply -->
							<div class="content" mathjax="comment.content"
								 ng-bind-html="comment.content">
							</div>

						</div><!-- closes each-reply (student) -->

					</div><!-- closes toggle div -->

					<p><a ng-if="question.can_reply || canManagePosts" href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/create" class="btn btn-sm btn-primary btn-reply">
						Reply
					</a></p>

				</div><!-- closes each-answer (student) -->

				<div class="each-answer clearfix" ng-if="question.answers_count && results.length < 1 && (see_answers || canManagePosts)">
					<p>No answers were found with these filter settings. Try another choice above.</p>
				</div>
				
			</div><!-- closes answered show-hide div -->
		
		</div><!-- closes answers-tab -->
		
		<div class="tab-pane" ng-class="{active: showTab('help')}" id="comments-tab">
		
			<!-- Comments Tab Header -->
			<div class="tab-header">
				<div class="row">
					<div class="col-sm-9">
						<h2>Help for this assignment</h2>
						<p class="intro-text">Ask or answer a question about the assignment by adding a comment here.</p>
						<p ng-if="!question.comments_count">
							No help comments have been left for this assignment yet. <span class="hidden-xs">Would you like to <a href="#/course/{{courseId}}/question/{{question.id}}/comment/create">add a comment</a> for this assignment?</span>
						</p>
					</div>
					<div class="col-sm-3 text-right comment-btn">
						<a href="#/course/{{courseId}}/question/{{question.id}}/comment/create" class="btn btn-primary">
							Comment
						</a>
					</div>
				</div>
			</div>
			
			<!-- Comments Section -->
			<div ng-repeat="(commentKey, comment) in comments" class="each-comment">
				
				<!-- Comment Metadata Header -->
				<div class="each-header clearfix">
					<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
						<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
					</a>
					<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
						{{comment.postsforcomments.post.user.displayname}}
						<span ng-if="!canManagePosts && comment.postsforcomments.post.user.id == loggedInUserId">
							(You)
						</span>
						<span ng-if="canManagePosts && comment.postsforcomments.post.user.fullname">
							({{comment.postsforcomments.post.user.fullname}})
						</span>
					</a>
					<span class="label label-info" ng-if="instructors[comment.postsforcomments.post.user.id]">
						{{instructors[comment.postsforcomments.post.user.id]}} 
					</span>
					<strong>commented</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM D @ h:mm a'}}:
					<div class="manager-actions pull-right" ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId">
						<a confirmation-needed="deleteComment(commentKey, courseId, question.id, comment.id)" keyword="comment" href="">
							<i class="fa fa-trash-o"></i>
						</a>
						<a href="#/course/{{courseId}}/question/{{question.id}}/comment/{{comment.id}}/edit">
							Edit
						</a>
					</div>
				</div>
				
				<!-- Comment -->
				<div class="content" mathjax="comment.content"
					 ng-bind-html="comment.content">
				</div>
			
			</div><!-- closes each-comment -->
			
		</div><!-- closes comments-tab -->

		<div class="tab-pane" ng-class="{active: showTab('comparisons')}" id="comparisons-tab">
		
			<!-- Comparisons Tab Header -->
			<div class="tab-header">
				<div>
					<h2>Your comparisons</h2>
					<p class="intro-text">Comparisons you have submitted for this assignment appear below.</p>
				</div>
			</div>
			
			<!-- Comparisons Section -->
			<div class="each-evaluation" ng-repeat="comment in comparisons">
				
				<!-- Comparison Header -->
				<div class="each-header">
					<a ng-href="#/user/{{ comment[0].user_id }}">
						<img src="//www.gravatar.com/avatar/{{ comment[0].avatar }}?s=32&d=retro" />
					</a>
					You
					<strong>submitted</strong> on {{ comment[0].created | amDateFormat: 'MMM D @ h:mm a'}}:
				</div>
				
				<div ng-if="!comment[0].selfeval">
					
					<div ng-repeat="criterion in comment">
						
						<h5 class="content">Comparison for "{{evalcriteria[criterion.criteriaandquestions_id]}}"</h5>
						
						<div class="content" mathjax="criterion.content"
							ng-bind-html="criterion.content">
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="answer-choice clearfix">
									<h4 class="text-center">Odd-Numbered Answer
										<span ng-show="criterion.winner == criterion.answer1.id">(Chosen)</span>
									</h4>
									<div mathjax="ans[criterion.answer1.id].content" ng-if="ans[criterion.answer1.id]"
										 ng-bind-html="ans[criterion.answer1.id].content"></div>
									<div ng-if="!ans[criterion.answer1.id]" ng-bind-html="deletedAnsMsg"></div>
									<!-- Attachments -->
									<acj-pdf-inline label="See details:" pdfs="ans[criterion.answer1.id].file"></acj-pdf-inline>
								</div>
							</div>
							<div class="col-md-6">
							<div class="answer-choice clearfix">
									<h4 class="text-center">Even-Numbered Answer
										<span ng-show="criterion.winner == criterion.answer2.id">(Chosen)</span>
									</h4>
									<div mathjax="ans[criterion.answer2.id].content" ng-if="ans[criterion.answer2.id]"
										 ng-bind-html="ans[criterion.answer2.id].content"></div>
									<div ng-if="!ans[criterion.answer2.id]" ng-bind-html="deletedAnsMsg"></div>
									<!-- Attachments -->
									<acj-pdf-inline label="See details:" pdfs="ans[criterion.answer2.id].file"></acj-pdf-inline>
								</div>
							</div>
						</div>
						
					</div>


					
					<h5 class="content">Feedback for Odd-Numbered Answer</h5>
					
					<!-- feedback for odd-numbered answer -->
					<div class="content" mathjax="comment[0].answer1.feedback"
						ng-bind-html="comment[0].answer1.feedback">
					</div>
					
					<h5 class="content">Feedback for Even-Numbered Answer</h5>
					
					<!-- feedback for even-numbered answer -->
					<div class="content" mathjax="comment[0].answer2.feedback"
						ng-bind-html="comment[0].answer2.feedback"></div>
						
				</div>
				
				<div ng-if="comment[0].selfeval">
					<h5 class="content">Self-Evaluation</h5>
					<div class="content" mathjax="comment[0].content"
						ng-bind-html="comment[0].content">
					</div>
				</div>
				
			</div><!-- closes each-evaluation -->
			
		</div><!-- closes comparisons-tab -->
		
		<div class="tab-pane" ng-class="{active: showTab('participation')}" id="participation-tab" ng-if="canManagePosts && showTab('participation')">
			<ng-include src="'modules/gradebook/gradebook-partial.html'"></ng-include>
		</div><!-- closes gradebook-tab -->

	</div><!-- closes tab-content -->
	
</div>
