<form name="questionForm" class="form" ng-submit="questionSubmit()" novalidate>
	
	<fieldset>
		<legend>Question</legend>
		<acj-field-with-feedback form-control="questionForm.questionTitle">
			<label for="questionTitle" class="required-star">Question</label>
			<input class="form-control" id="questionTitle" type="text"
				name="questionTitle" ng-model="question.title" placeholder="short form of the question"
				required ng-maxlength="255" auto-focus />
			<span ng-if="questionForm.questionTitle.$error.maxlength" class="help-block has-error">Maximum length is 255 characters</span>
		</acj-field-with-feedback>
		<div>
			<label for="importFile">Attach PDF</label>
			<input type="file" nv-file-select uploader="uploader" id="importFile" ng-disabled="uploader.queue.length || question.uploadedFile" multiple/>
			<div class="row" ng-repeat="item in uploader.queue">
				<div class="col-md-7"><strong>{{item.file.name}}</strong></div>
				<div class="col-md-1">{{item.file.size/1024/1024|number:2}} MB</div>
				<strong class="col-md-2" ng-if="item.progress < 100">{{item.progress}}% uploaded</strong>
				<strong class="col-md-2" ng-if="item.progress == 100 && !item.isSuccess">File saving ... </strong>
				<strong class="col-md-2" ng-if="item.progress == 100 && item.isSuccess">File saved.</strong>
				<div class="col-md-1">
					<a class="btn btn-danger btn-xs" ng-click="item.cancel();item.remove();resetName();">
						<i class="fa fa-trash-o"></i> Remove
					</a>
				</div>
			</div>
		</div>
		<br>
		<div ng-if="question.uploadedFile">
			<div class="row">
				<div class="col-md-4">
					<strong>{{question.uploadedFile.alias}}</strong>
				</div>
				<div class="col-md-1">
					<a ng-click="deleteFile(question.uploadedFile.posts_id, question.uploadedFile.id)" class="btn btn-danger btn-xs">
						<i class="fa fa-trash-o"></i> Delete
					</a>
				</div>
			</div>
			<br>
		</div>
		<div class="form-group">
			<label for="questionContent">Additional Information</label>
			<textarea ckeditor rows="8"
				ng-model="question.post.content" class="form-control" id="questionContent">
			</textarea>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Schedule</legend>
		<div class="instructional-text">
			<p><strong>Students can answer and edit their answers only during the dates and times you set below.</strong> Students do not see a question in the application until the answering period begins. Students can read all answers only <em>after</em> they have completed the required number of answer comparisons.</p>
			<p><strong>By default, students can compare answers after the answer period ends.</strong> You may instead set specific dates and times for the comparison period. Note that if you manually set a comparison period, students can read all answers only <em>after</em> the comparison period ends.</p>
		</div>

		<div class="row">
			<div class="col-md-6 form-group">
				<label class="required-star">Answering Begins</label><br />
				<div class="question-date">
					<span class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.astart.date" is-open="date.astart.opened" required />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="date.astart.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</span>
				</div>
				<div class="question-date">
					<timepicker ng-model="date.astart.time" minute-step="1" mousewheel="false"></timepicker>
				</div>
			</div>
			<div class="col-md-6 form-group">
				<label class="required-star">Answering Ends</label><br />
				<div class="question-date">
					<span class="input-group">
						<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.aend.date" is-open="date.aend.opened" required />
						<span class="input-group-btn">
							<button type="button" class="btn btn-default" ng-click="date.aend.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
						</span>
					</span>
				</div>
				<div class="question-date">
					<timepicker ng-model="date.aend.time" minute-step="1" mousewheel="false"></timepicker>
				</div>
			</div>
		</div>
		
		<hr />
		
		<input id="availableCheck" type="checkbox" ng-model="question.availableCheck">
		<label for="availableCheck">Manually set when students can compare answers for this question</label>
		<br /><br />
		
		<div ng-if="question.availableCheck">

			<div class="row">
				<div class="col-md-6 form-group">
					<label class="required-star">Comparing Begins</label><br />
					<div class="question-date">
						<span class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.jstart.date" is-open="date.jstart.opened" required />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="date.jstart.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</span>
					</div>
					<div class="question-date">
						<timepicker ng-model="date.jstart.time" minute-step="1" mousewheel="false"></timepicker>
					</div>
				</div>
				<div class="col-md-6 form-group">
					<label class="required-star">Comparing Ends</label><br />
					<div class="question-date">
						<span class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="date.jend.date" is-open="date.jend.opened" required />
							<span class="input-group-btn">
								<button type="button" class="btn btn-default" ng-click="date.jend.open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
							</span>
						</span>
					</div>
					<div class="question-date">
						<timepicker ng-model="date.jend.time" minute-step="1" mousewheel="false"></timepicker>
					</div>
				</div>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Criteria</legend>
		<p class="instructional-text"><strong>Selected criteria appear when students compare answers</strong> for this question to help guide them in their comparison. For each criterion you check off below, students will need to 1) choose a preferred answer and 2) write a comparison rationale. (To create new or edit existing criteria, please go to the edit course page for this course.)</p>

		<p><strong>Your Course Criteria List:</strong></p>
		<div ng-repeat="courseCriterion in courseCriteria">
			<input type="checkbox" name="criteria{{ courseCriterion.id }}" id="criteria{{ courseCriterion.id }}"
				   ng-model="selectedCriteria[courseCriterion.criterion.id]"
				   ng-change="selectCriteria(courseCriterion.criterion.id)" ng-disabled="judged"/>
			<label for="criteria{{ courseCriterion.id }}">{{ courseCriterion.criterion.name }}</label>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Comparisons</legend>
		<div class="instructional-text">
			<p>The <strong>recommended minimum number of comparisons per student is {{recommended_eval}}</strong>. Using this number (or higher) creates a more accurate ranking of the answers. If you set a lower number, the answers will not be ranked as accurately.</p>
			<p>For each comparison, students will need to 1) choose a preferred answer, 2) write a comparison rationale for each criterion listed, and 3) write feedback for each answer in the comparison.</p>
		</div>
				
		<div class="form-group">
			<acj-field-with-feedback form-control="questionForm.reqJudge">
				<label class="required-star">Number of answer comparisons required from each student</label>
				<input type="text" id="reqJudge" name="reqJudge" class="form-control" ng-model="question.num_judgement_req" ng-pattern="/^[1-9]\d*$/" required>
			</acj-field-with-feedback>
		</div>
		
		<hr />
		
		<input id="selfEvalCheck" type="checkbox" ng-model="question.selfEvalCheck">
		<label for="selfEvalCheck">Also require students to reflect on their own answer (after completing comparisons)</label>
		<br /><br />
		
		<div ng-if="question.selfEvalCheck">
			
			<div class="form-group">
				<label for="user">Self-Evaluation Type</label>
				<select type="text" name="selfevaltype" ng-model="question.selfevaltype_id"
						ng-options="t.id as t.name for t in selfevaltypes" class="form-control"
						ng-required="question.selfEvalCheck">
				</select>
			</div>
		</div>
	</fieldset>
	
	<fieldset>
		<legend>Discussion</legend>
		<div class="form-group">
			<input id="canReply" type="checkbox" ng-model="question.can_reply">
			<label for="canReply">Allow students to reply to any answer</label>
		</div>
	</fieldset>
	
	<input type="submit" class="btn btn-success btn-lg center-block" value="Save"
		ng-disabled="questionForm.$invalid || !oneSelected || submitted || (uploader.queue.length && !uploader.queue[0].isSuccess)" />

</form>
