<div ng-controller="QuestionViewController" class="question-screen">
	
	<div class="standalone-question">
		
		<h2><i class="fa fa-comments"></i> {{question.title}}</h2>
		
		<div class="content" class="questionmathjax question-desc"
		     ng-bind-html="question.post.content">
		</div>
		
		<div ng-show="question.date_set">
			<div><span class="h4">Answering Period:</span> {{question.answer_start | date: 'MMM d, y h:mm a'}} - {{question.answer_end | date: 'MMM d, y h:mm a'}}</div>
			<div><span class="h4">Judging Period:</span> {{question.judge_start | date: 'MMM d, y h:mm a'}} - {{question.judge_end | date: 'MMM d, y h:mm a'}}</div>
		</div>
		
		<ul class="list-inline">
			<li ng-if="canManagePosts || question.post.user.id == loggedInUserId">	
				<a ng-href="#/course/{{course.id}}/question/{{question.id}}/edit" ng-if="canManagePosts || question.post.user.id == loggedInUserId" title="Edit">
					Edit
				</a> 
			</li>
			<li>
				Posted by 
				<a ng-href="#/user/{{question.post.user.id}}">
					{{question.post.user.displayname}}
					<span ng-if="canManagePosts && question.post.user.fullname">
						({{question.post.user.fullname}})
					</span>
					<span ng-if="canManagePosts && !question.post.user.fullname">
						({{question.post.user.username}})
					</span>
				</a>
			</li>
			<li>
				{{question.post.created | amDateFormat: "MMM d @ h:mm a"}}
			</li>
			<li ng-if="canManagePosts || question.post.user.id == loggedInUserId">
				<a ng-href="#/course/{{course.id}}/question/{{question.id}}/delete" ng-if="canManagePosts || question.post.user.id == loggedInUserId" title="Delete">
					<i class="fa fa-trash-o"></i>
				</a>
			</li>
		</ul>
		
		<a ng-href="#/course/{{courseId}}/question/{{question.id}}/answer/create" class="btn btn-success" title="Answer" ng-show="!answered && (canManagePosts || question.answer_period)">
			Answer
		</a>
		<a class="btn btn-success" ng-show="answered" title="You have answered" disabled>
			Answered
		</a>
		<a class="btn btn-success" title="Evaluate Answers" ng-href="#/course/{{courseId}}/question/{{question.id}}/judgement" ng-show="question.judging_period">
			Evaluate
		</a>
		
	</div><!-- closes question box -->
	
	<ul class="nav nav-tabs" role="tablist">
	  <li id="answers" class="active">
		<a href="#answers-tab">Answers ({{question.answers_count}})</a>
	  </li>
	  <li id="comments">
		<a href="#comments-tab">Comments ({{question.total_comments_count}})</a>
	  </li>
	</ul>
	
	<div class="tab-content">
		
		<div class="tab-pane active" id="answers-tab">
			
			<div class="tab-header">
				<select ng-hide=true ng-model="sortby" ng-options="key as c.criterion.name for (key, c) in criteria" class="pull-right"></select>
				<label class="pull-right" ng-hide=true>Sort by: &nbsp;</label>
				<h2>Answers</h2>
				<p ng-if="!canManagePosts && !answered && question.answer_period"><a ng-href="#/course/{{courseId}}/question/{{question.id}}/answer/create" title="Answer the question">Answer</a> the question first, then read answers written by your classmates here.</p>
			</div>
			
			<div class="each-answer" ng-repeat="answer in instructor_answers" ng-show="canManagePosts || question.after_judging">
		
				<a ng-href="#/user/{{answer.post.user.id}}">
					<img src="//www.gravatar.com/avatar/{{answer.post.user.avatar}}?s=32&d=retro" />
				</a>
				<a ng-href="#/user/{{answer.post.user.id}}">
					{{answer.post.user.displayname}}
					<span ng-if="canManagePosts && answer.post.user.fullname">
						({{answer.post.user.fullname}})
					</span>
					<span ng-if="canManagePosts && !answer.post.user.fullname">
						({{answer.post.user.username}})
					</span>
				</a>
				<span class="label label-info" ng-if="instructors[answer.post.user.id]">{{instructors[answer.post.user.id]}}&nbsp;</span>
				answered on {{answer.post.created | amDateFormat: 'MMM d @ h:mm a'}}:
				<div class="manager-actions pull-right" ng-if="canManagePosts">
					<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/delete">
						<i class="fa fa-trash-o"></i>
					</a>
					<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/edit">
						Edit
					</a>
				</div>
				
				<div clas="content" mathjax="answer.post.content"
				     ng-bind-html="answer.post.content">
					
				</div>
				
				<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/create" class="btn btn-primary" ng-if="judged_req_met">
					Reply
				</a>
				
				<div ng-repeat="comment in answer.comments" class="each-reply" ng-if="judged_req_met">
					
					<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
						<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
					</a>
					<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
						{{comment.postsforcomments.post.user.displayname}}
						<span ng-if="canManagePosts && comment.postsforcomments.post.user.fullname">
							({{comment.postsforcomments.post.user.fullname}})
						</span>
						<span ng-if="canManagePosts && !comment.postsforcomments.post.user.fullname">
							({{comment.postsforcomments.post.user.username}})
						</span>
					</a>
					<span class="label label-info" ng-if="instructors[comment.postsforcomments.post.user.id]">
						{{instructors[comment.postsforcomments.post.user.id]}} 
					</span>
					<strong>replied</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM d @ h:mm a'}}:
					<div class="manager-actions pull-right" ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId">
						<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/delete">
							<i class="fa fa-trash-o"></i>
						</a>
						<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
							Edit
						</a>
					</div>
					
					<div class="content" mathjax="comment.content"
					     ng-bind-html="comment.content">
					</div>
		
				</div>
			
			</div><!-- closes each-answer (instructor) -->
			
			<div ng-if="answered || canManagePosts">
				
				<div class="each-answer" ng-repeat="answer in answers | orderBy:order:reverse | notScoredEnd:sortby" ng-hide="instructors[answer.post.user.id]">
					
					<a ng-href="#/user/{{answer.post.user.id}}">
						<img src="//www.gravatar.com/avatar/{{answer.post.user.avatar}}?s=32&d=retro" />
					</a>
					<a ng-href="#/user/{{answer.post.user.id}}">
						{{answer.post.user.displayname}}
						<span ng-if="canManagePosts && answer.post.user.fullname">
							({{answer.post.user.fullname}})
						</span>
						<span ng-if="canManagePosts && !answer.post.user.fullname">
							({{answer.post.user.username}})
						</span>
					</a>
					<strong>answered</strong> on {{answer.post.created | amDateFormat: 'MMM d @ h:mm a'}}:
					<div class="manager-actions pull-right" ng-if="canManagePosts || (answer.post.user.id == loggedInUserId && question.answer_period)">
						<a ng-if="canManagePosts || (answer.post.user.id == loggedInUserId && question.answer_period)" href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/delete">
							<i class="fa fa-trash-o"></i>
						</a>
						<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/edit">
							Edit
						</a>
					</div>
						
					<div class="content" mathjax="answer.post.content"
					     ng-bind-html="answer.post.content">
					</div>
					
					<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/create" class="btn btn-primary" ng-if="judged_req_met">
						Reply
					</a>
					<span ng-show="key==sortby && answer.scores.length > 0" ng-repeat="(key, score) in answer.scores" class="pull-right">
						<em>Score: {{score.score | number: 3}}</em>
					</span>
					
					<div ng-repeat="comment in answer.comments" class="each-reply" ng-if="judged_req_met">
						<hr />
						<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
							<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
						</a>
						<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
							{{comment.postsforcomments.post.user.displayname}}
							<span ng-if="canManagePosts && comment.postsforcomments.post.user.fullname">
								({{comment.postsforcomments.post.user.fullname}})
							</span>
							<span ng-if="canManagePosts && !comment.postsforcomments.post.user.fullname">
								({{comment.postsforcomments.post.user.username}})
							</span>
						</a>
						<span class="label label-info" ng-if="instructors[comment.postsforcomments.post.user.id]">
							{{instructors[comment.postsforcomments.post.user.id]}} 
						</span>
						<strong>replied</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM d @ h:mm a'}}:
						<div class="manager-actions pull-right" ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId">
							<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/delete">
								<i class="fa fa-trash-o"></i>
							</a>
							<a href="#/course/{{courseId}}/question/{{question.id}}/answer/{{answer.id}}/comment/{{comment.id}}/edit">
								Edit
							</a>
						</div>
						
						<div class="content" mathjax="comment.content"
						     ng-bind-html="comment.content">
						</div>
						
					</div><!-- closes each-reply -->
					
				</div><!-- closes each-answer (student) -->
				
			</div><!-- closes answered -->
		
		</div><!-- closes answers-tab -->
		
		<div class="tab-pane" id="comments-tab">
		
			<div class="tab-header">
				<a href="#/course/{{courseId}}/question/{{question.id}}/comment/create" class="btn btn-primary pull-right">
					Comment
				</a>
				<h2>Question comments</h2>
				<p>Ask your instructor about the question or leave a question-related comment for classmates.</p>
			</div>
			
			<div ng-repeat="comment in comments" class="each-comment">
				
				<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
					<img src="//www.gravatar.com/avatar/{{question.post.user.avatar}}?s=32&d=retro" />
				</a>
				<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
					{{comment.postsforcomments.post.user.displayname}}
					<span ng-if="canManagePosts && comment.postsforcomments.post.user.fullname">
						({{comment.postsforcomments.post.user.fullname}})
					</span>
					<span ng-if="canManagePosts && !comment.postsforcomments.post.user.fullname">
						({{comment.postsforcomments.post.user.username}})
					</span>
				</a>
				<span class="label label-info" ng-if="instructors[comment.postsforcomments.post.user.id]">
					{{instructors[comment.postsforcomments.post.user.id]}} 
				</span>
				<strong>commented</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM d @ h:mm a'}}:
				<div class="manager-actions pull-right" ng-if="canManagePosts || comment.postsforcomments.post.user.id == loggedInUserId">
					<a href="#/course/{{courseId}}/question/{{question.id}}/comment/{{comment.id}}/delete">
						<i class="fa fa-trash-o"></i>
					</a>
					<a href="#/course/{{courseId}}/question/{{question.id}}/comment/{{comment.id}}/edit">
						Edit
					</a>
				</div>
				
				<div class="content" mathjax="comment.content"
				     ng-bind-html="comment.content">
				</div>
			
			</div><!-- closes each-comment -->
			
		</div><!-- closes comments-tab -->
		
	</div><!-- closes tab-content -->
	
</div>
