<div ng-controller="GradebookController">
	<h2>Gradebook</h2>
	<p class="intro-text" ng-if="canManagePosts">To export data reports for participation or other statistics, go to <a ng-href="#/report">Run Reports</a>.</p>
	<div>
		<span class="filter" ng-if="groups.length > 0 && canManagePosts">
			<label>Filter by group: &nbsp</label>
			<select ng-model="gb.group" class="nullable"
					ng-options="g as g.name for g in groups | orderBy: 'name'" ng-change="groupChange()">
				<option value="">All groups</option>
			</select>
		</span>
		<span class="filter">
			<label>Filter by students: &nbsp</label>
			<select ng-model="gb.student" class="nullable"
					ng-options="u as u.user.name for u in users | orderBy: 'user.name'" ng-change="userChange()">
				<option value="">All students</option>
			</select>
		</span>
	</div>
	<br />
	<table class="table table-striped">
		<tbody>
			<tr>
				<th>
					<a href="" ng-click="reverse = predicate == 'firstname' && !reverse; predicate='firstname'">
					First Name</a>
				</th>
				<th><a href="" ng-click="reverse = predicate == 'lastname' && !reverse; predicate='lastname'">
					Last Name</a>
				</th>
				<th><a href="" ng-click="reverse = predicate == 'student_no' && !reverse; predicate='student_no'">
					Student Number</a>
				</th>
				<th><a href="" ng-click="reverse = predicate == 'displayname' && !reverse; predicate='displayname'">
					Display Name</a>
				</th>
				<th class="text-center">Answered</th>
				<th class="text-center">Evaluations</th>
				<th class="text-center" ng-if="includeSelfEval">Self-Evaluation</th>
			</tr>
			<tr ng-repeat="entry in gradebook | filter:groupFilter() | orderBy:predicate:reverse">
				<td>{{entry.firstname}}</td>
				<td>{{entry.lastname}}</td>
				<td>{{entry.student_no}}</td>
				<td>
					<a ng-href="#/user/{{entry.userid}}">
						{{entry.displayname}}
					</a>
				</td>
				<td class="text-center text-success" ng-if="entry.num_answers > 0"><strong>Yes</strong></td>
				<td class="text-center text-danger" ng-if="entry.num_answers == 0"><strong>No</strong></td>
				<td class="text-center" ng-class="{
					'text-danger': entry.num_judgements == 0, 
					'text-warning': entry.num_judgements > 0 && 
							 entry.num_judgements < numJudgementsRequired,
					'text-success': entry.num_judgements >= numJudgementsRequired
					}">
					<strong>{{entry.num_judgements}} / {{ numJudgementsRequired }}</strong>
				</td>
				<td class="text-center text-success" ng-if="includeSelfEval && entry.num_selfeval > 0"><strong>Yes</strong></td>
				<td class="text-center text-danger" ng-if="includeSelfEval && entry.num_selfeval == 0"><strong>No</strong></td>
			</tr>
		</tbody>
	</table>
</div>
