<div class="col-md-6">
    <div class="answer-choice clearfix">
        <h4 class="text-center">{{ name }}
            <span ng-show="isChosen">(Chosen)</span>
            <span ng-repeat="score in answer.scores">
                <span class="label label-warning pull-right score-display"
                    ng-if="answer && showScore && score.criterion_id == criterion">
                    Score: {{ score.normalized_score }}%
                </span>
            </span>
        </h4>
        <div mathjax hljs ng-if="answer" ng-bind-html="answer.content"></div>
        <div ng-if="!answer"><i>(This answer has been deleted.)</i></div>
        <!-- Attachments -->
        <compair-attachment-inline label="See details:" attachment="answer.file"></compair-attachment-inline>
    </div>
</div>