<div class="col-md-6">
    <div class="answer-choice clearfix">
        <h4>
            <compair-logo type="'scale'"></compair-logo> {{ name }}
            <span ng-show="isChosen">(Chosen)</span>
            <span ng-if="answer.score">
                <span class="label label-warning pull-right score-display"
                    ng-if="answer && showScore">
                    Score: {{answer.score.normalized_score|number:0}}%
                </span>
            </span>
        </h4>

        <rich-content content="answer.content" attachment="answer.file" ng-if="answer"></rich-content>
        <div ng-if="!answer"><i>(This answer has been deleted.)</i></div>
    </div>
</div>