<modal-cancel-button modal-instance="modalInstance" ng-show="modalInstance !== undefined"></modal-cancel-button>
<h1 ng-if="method == 'create'">Add <span ng-show="comment.comment_type == 'Private'">Private</span><span ng-show="comment.comment_type == 'Public'">Public</span> Feedback</h1>
<h1 ng-if="method == 'edit'">Edit <span ng-show="comment.comment_type == 'Public'">Public</span><span ng-show="comment.comment_type != 'Public'">Private</span> Feedback</h1>
<ng-include src="'modules/comment/comment-form-partial.html'"></ng-include>