<div class="text-right inline-enrol">
    <form name="enrolForm" class="form-inline row" ng-submit="$ctrl.enrolSubmit()" novalidate role="form">
        <div class="form-group">
            <label>Add: </label>
            <div class="input-group">
                <label class="sr-only" for="user">Name</label>
                <input type="text" ng-model="$ctrl.user" name="user" required uib-typeahead="u as u.fullname_sortable+' - '+u.system_role for u in $ctrl.getUsersAhead($viewValue)"
                   placeholder="display or first name" class="form-control" autocomplete="off"
                   typeahead-editable="false" typeahead-min-length="2" typeahead-wait-ms="300">
            </div>
            <label>as</label>
            <div class="input-group">
                <select id="enrol-select-course-role" class="form-control" name="role" ng-model="$ctrl.course_role" required
                    ng-options="course_role as course_role for course_role in $ctrl.course_roles">
                    <option value="">- Select course role -</option>
                </select>
            </div>
        </div>
        <div class="input-group">
            <input value="Enrol" type="submit" class="inline-submit btn btn-success" ng-disabled="$ctrl.submitted || enrolForm.$invalid"/>
        </div>
    </form>
    <br />
</div>