<div class="manage-screen">
    <div class="row">
        <header class="col-md-6">
            <h1>Manage Users</h1>
        </header>
        <div class="col-md-6 sub-nav">
            <span ng-show="!course.lti_linked">
                <a ng-href="#/course/{{courseId}}/user/import" class="btn btn-primary">
                    <i class="fa fa-download"></i>
                    Import Users
                </a>
                <a href="" class="btn btn-primary" ng-click="export()">
                    <i class="fa fa-upload"></i>
                    Export Users
                </a>
            </span>
        </div>
    </div>
    <p class="intro-text" ng-if="course.lti_linked">
        Your class list is managed externally. This means users need to enroll themselves by clicking a special link in your existing external course. This link sends registration information from your external course to ComPAIR that confirms the user should be enrolled. To manually update the list below to the latest enrollment numbers, click "Refresh List" below.
    </p>
    <p class="intro-text" ng-if="!course.lti_linked">
        <strong>Edit or drop users from the course and manage course groups</strong> below. To make significant changes to the <em>full</em> course user list at once, click "Import Users" above and follow the directions on the next screen. To generate a file with all the currently enrolled users, click "Export Users" above.
    </p>
    <h2>Enrolled in {{course.name}}</h2>

    <div class="row">
        <h3 class="col-md-2">{{ classlist.length + lti_membership_pending }} users</h3>
        <div class="col-md-10">
            <div ng-show="lti_membership_enabled" class="text-right">
                <a id="lti_refresh_btn" ng-click="updateLTIMembership()" class="btn btn-primary" ng-disabled="submitted">
                    <i class="fa fa-refresh"></i> Refresh List
                </a>
            </div>
            <div ng-show="!course.lti_linked && canCreateUsers">
                <enrol-component course-id="courseId"></enrol-component>
            </div>
        </div>
    </div>
    <p class="alert alert-info" ng-show="lti_membership_pending > 0">
        <i class="glyphicon glyphicon-info-sign"></i> Currently, <strong>{{lti_membership_pending}} user<span ng-show="lti_membership_pending != 1">s</span></strong> are pending registration (registered in your external course but not yet in ComPAIR). To register, <strong>each student must follow the link from your external course</strong> the first time they access ComPAIR. Once they have followed this link and registered, they may log in through the link or directly at this site.
    </p>
    <p class="alert alert-info" ng-show="course.lti_linked && !lti_membership_enabled">
        <i class="glyphicon glyphicon-info-sign"></i> There may be users pending registration (registered in your external course but not yet in ComPAIR). To register, <strong>each student must follow the link from your external course</strong> the first time they access ComPAIR. Once they have followed this link and registered, they may log in through the link or directly at this site.
    </p>

    <p class="alert alert-info" ng-show="course.groups_locked">
        <i class="glyphicon glyphicon-info-sign"></i> One or more group assignments have started their comparison period. You may <strong>no longer remove users from the group they are assigned to</strong>.
    </p>

    <hr />

    <div class="row" ng-show="classlist.length > 0">
        <div class="col-sm-3 form-group">
            <select class="form-control" ng-model="bulkActions" ng-init="bulkActions = 'none'">
                <option value="none">- Select bulk action -</option>
                <option value="add">Add selected users to a group</option>
                <option value="drop">Drop selected users from course</option>
                <option value="update">Update role for selected users</option>
            </select>
        </div>
        <div class="col-sm-9" ng-show="bulkActions == 'add'">
            <div class="col-sm-3">
                <button id="add-new-group" href="" class="btn btn-sm btn-primary" ng-click="addUsersToNewGroup()"><i class="fa fa-plus"></i> Add New Group</button>
            </div>
            <div class="col-sm-2">
                OR
            </div>
            <div class="form-group col-sm-4">
                <select id="select-group" class="form-control" ng-model="selectedGroup"
                    ng-options="group.id as group.name disable when group.disabled for group in groups.concat(bulkGroupAddOptions)"
                    ng-disabled="!groups.length" ng-change="bulkGroupSelected(selectedGroup)">
                    <option value="">- Select existing group -</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button id="add-select-group" class="btn btn-sm btn-success" ng-click="addUsersToGroup(selectedGroup)"
                    ng-disabled="!selectedGroup || selectedGroup=='manage'">Apply</button>
            </div>
        </div>
        <div class="col-sm-9" ng-show="bulkActions == 'drop'">
            <div class="col-sm-2">
                <button id="drop-users" href="" class="btn btn-small btn-success" confirmation-needed="updateUsers()" keyword="group of users">Apply</button>
            </div>
        </div>
        <div class="col-sm-9" ng-show="bulkActions == 'update'">
            <div class="form-group col-sm-6">
                <select id="select-group" class="form-control" ng-model="selectedCourseRole"
                    ng-options="course_role as course_role for course_role in course_roles">
                    <option value="">- Select course role -</option>
                </select>
            </div>
            <div class="col-sm-3">
                <button id="add-select-group" class="btn btn-small btn-success" ng-click="updateUsers(selectedCourseRole)"
                      ng-disabled="!selectedCourseRole">Apply</button>
            </div>
        </div>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Actions</th>
                    <th><input type="checkbox" ng-model="selectedAll" ng-click="selectAll()" /></th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('displayname')">Display Name</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('firstname')">First Name</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('lastname')">Last Name</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('student_number')">Student Number</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('course_role')">Course Role</a>
                    </th>
                    <th>
                        <a href="" ng-click="updateTableOrderBy('group_name')">Course Group</a>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{'success': user.selected}" ng-repeat="user in classlist | orderBy:[predicate, 'lastname', 'firstname'] | emptyToEnd:predicate | orderBy:'':reverse">
                    <td class="nowrap">
                        <a href="#/user/{{user.id}}/edit" target="_blank">Edit</a>
                        <span>&nbsp;|&nbsp;</span>
                        <a href="" confirmation-needed="unenrol(user.id)" keyword="user" ng-if="loggedInUserId != user.id || canManageUsers">Drop</a>
                        <span ng-if="loggedInUserId == user.id && !canManageUsers" class="text-muted">&mdash;  &nbsp; &nbsp;</span>
                        <span>&nbsp;|&nbsp;</span>
                    </td>
                    <td>
                        <input ng-click="user.selected = !user.selected; checkIfAllSelected()" type="checkbox" ng-checked="user.selected">
                    </td>
                    <td><i class="fa fa-user"></i> {{user.displayname}}</td>
                    <td>{{user.firstname}}</td>
                    <td>{{user.lastname}}</td>
                    <td>{{user.student_number}}</td>
                    <td>
                        <select ng-if="loggedInUserId != user.id || canManageUsers" ng-model="user.course_role"
                                ng-options="course_role as course_role for course_role in course_roles"
                                ng-change="enrol(user)"></select>
                        <span ng-if="loggedInUserId == user.id && !canManageUsers">{{ user.course_role }}</span>
                    </td>
                    <td>
                        <select ng-model="user.group_id" ng-options="group.id as group.name disable when group.disabled for group in groups.concat(groupAddOptions)"
                                ng-change="updateGroup(user, false, '{{user.group_id}}')">
                            <option value="">( none )</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>