<div class="home-screen">

    <div class="row">

        <div class="col-sm-4 col-lg-3">
            <compair-logo type="'large'"></compair-logo>
        </div>

        <div class="col-sm-8 col-lg-9">
            <h1>ComPAIR Learning Application</h1>
            <p class="intro-text">Welcome to the ComPAIR tool! With this tool,
                <span ng-show="!canAddCourse">you will show your understanding of course content by answering the assignments posted by your instructor and then comparing pairs of your peers' answers and offering constructive feedback on how they can improve.</span>
                <span ng-show="canAddCourse">you can 1) post assignments for students to answer, 2) see how students compare and offer feedback on pairs of their peers' answers, and 3) give individual feedback to each student or to the class as a whole.</span>
            </p>
        </div>

    </div>

    <div class="row">

        <h2 class="col-sm-6">Your courses</h2>

        <form class="col-sm-6 search-courses text-right" role="search" ng-if="!canManageUsers && canAddCourse && (courses.length || courseFilters.search)">
            <input class="form-control" type="text" name="search" placeholder="Filter courses by keyword"
                ng-model="courseFilters.search">
        </form>

        <form class="col-sm-6 search-courses text-right" role="search" ng-if="canManageUsers && canAddCourse && (courses.length || courseFilters.search || courseFilters.includeSandbox!==null)" style="padding-right:0;">
            <div class="input-group">
                <div class="input-group-btn" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                        <span ng-show="courseFilters.includeSandbox===null">All courses</span>
                        <span ng-show="courseFilters.includeSandbox===false">Regular courses</span>
                        <span ng-show="courseFilters.includeSandbox===true">Sandbox courses</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="courseFilters.includeSandbox=null">All courses</a></li>
                        <li><a ng-click="courseFilters.includeSandbox=false">Regular courses</a></li>
                        <li><a ng-click="courseFilters.includeSandbox=true">Sandbox courses</a></li>
                    </ul>
                </div>
                <input class="form-control" type="text" name="search" placeholder="Filter courses by keyword"
                    ng-model="courseFilters.search">
            </div>
        </form>
    </div>

    <!-- Course listing -->
    <div class="course-list" ng-if="courses.length">

        <!-- Courses List -->
        <div class="row each-course" ng-class="{'first-child': $first}"
            ng-repeat="course in courses">

            <!-- Course Display -->
            <div class="col-sm-9 media">

                <!-- Course Info -->
                <div class="media-body">

                    <!-- Name -->
                    <a ng-href="#/course/{{course.id}}/">
                        <h3 class="media-heading">
                            <i class="fa fa-book"></i>{{course.name}} &raquo;
                        </h3>
                    </a>

                    <!-- Metadata -->
                    <ul class="list-inline course-metadata-list">
                        <!-- Edit Link (instructors only) -->
                        <li ng-if="course.canEditCourse">
                            <a ng-href="#/course/{{course.id}}/edit" title="Edit">
                                Edit
                            </a>
                        </li>
                        <!-- Duplicate Link (instructors only) -->
                        <li ng-if="course.canEditCourse">
                            <a ng-href="#/course/{{course.id}}/duplicate" title="Duplicate">
                                Duplicate
                            </a>
                        </li>
                        <!-- Instructor Total Assignments (instructors only) -->
                        <li title="{{course.assignment_count}} assignments" ng-if="course.canManageAssignment">
                                {{course.assignment_count}} assignment<span ng-if="course.assignment_count != 1">s</span>
                        </li>
                        <!-- Student Total Assignments (students only) -->
                        <li title="{{course.student_assignment_count}} assignments" ng-if="!course.canManageAssignment">
                                {{course.student_assignment_count}} assignment<span ng-if="course.student_assignment_count != 1">s</span> total
                        </li>
                        <!-- Total Unfinished (students only) -->
                        <!-- number of unfinished assignments for student user that can still be completed for each course, i.e.,
                             the student has not answered && the answer period is active ||
                             the student has not compared/self-eval'ed && the compare/eval period is active -->
                        <li ng-if="course.status && course.status.incomplete_assignments > 0 && !course.canManageAssignment" title="{{course.status.incomplete_assignments}} unfinished">
                            <label class="label label-warning">{{course.status.incomplete_assignments}} assignment<span ng-if="course.status.incomplete_assignments != 1">s</span> to do</label>
                        </li>
                        <li ng-if="course.status && course.status.incomplete_assignments == 0 && !course.canManageAssignment" title="{{course.status.incomplete_assignments}} unfinished">
                            No assignments to do
                        </li>
                        <!-- Total Users (instructors only) -->
                        <li ng-if="course.canEditCourse" title="{{course.student_count}} students">
                            {{course.student_count}} student<span ng-if="course.student_count != 1">s</span>
                        </li>
                        <!-- Course Dates (all) -->
                        <li title="Course year and term">
                            {{course.year}} {{course.term}}
                        </li>
                        <!-- Course Sandbox -->
                        <li ng-if="course.sandbox && course.canEditCourse">
                            Sandbox Course
                        </li>
                        <!-- Delete Link -->
                        <li ng-if="course.canDeleteCourse">
                            <a confirmation-needed="deleteCourse(course)" confirmation-warning="{{course.delete_warning}}" keyword="course and its assignments" title="Delete" href="">
                                <i class="fa fa-trash-o"></i>
                            </a>
                        </li>
                    </ul>

                </div>

            </div>

            <!-- Assignment Actions -->
            <div class="col-sm-3 text-right action-btns">

                <a ng-href="#/course/{{course.id}}/" class="btn btn-success" title="View Course">
                    View Course
                </a>

            </div>

        </div>

    </div>

    <div class="text-center" ng-if="courses.length">
        <ul uib-pagination total-items="totalNumCourses" ng-model="courseFilters.page"
            max-size="10" class="pagination-sm" boundary-links="true"
            direction-links="false" items-per-page="courseFilters.perPage"
            num-pages="numPages" ng-hide="numPages == 1"></ul>
    </div>

    <div ng-if="!courses.length">
        <hr />
        <p ng-if="!courseFilters.search && courseFilters.includeSandbox===null">No courses currently available. <span ng-if="canAddCourse">Would you like to <a href="#/course/create">add a course</a>?</span></p>
        <p ng-if="!courseFilters.search && courseFilters.includeSandbox!==null">No courses found. Please try another filter above.</p>
        <p ng-if="courseFilters.search">No courses found for this search. Please try another search term above.</p>
    </div>

</div>
