<div class="home-screen">

    <div class="row">

        <div class="col-sm-4 col-lg-3">
            <compair-logo type="'large'"></compair-logo>
        </div>

        <div class="col-sm-8 col-lg-9">
            <h1>ComPAIR Learning Application</h1>
            <p class="intro-text">Welcome to the ComPAIR tool! With this tool,
                <span ng-show="!canAddCourse">you will show your understanding of course content by answering the assignments posted by your instructor and then comparing pairs of your peers' answers and offering constructive feedback on how they can improve.</span>
                <span ng-show="canAddCourse">you can 1) post assignments for students to answer, 2) see how students compare and offer feedback on pairs of their peers' answers, and 3) give individual feedback to each student or to the class as a whole.</span>
            </p>
        </div>

    </div>

    <div class="row">

        <h2 class="col-sm-6"><span ng-if="!canManageUsers">Your</span> <span ng-if="canManageUsers">ComPAIR's</span> {{courseFilters.period}} <span ng-if="courseFilters.includeSandbox">sandbox</span> courses</h2>

        <form class="col-sm-6 search-courses text-right" role="search" ng-if="!canManageUsers && canAddCourse && (courses.length || courseFilters.search || courseFilters.period!==null)">
            <div class="input-group">
                <div class="input-group-btn" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                        <span ng-show="courseFilters.period===null">All courses</span>
                        <span ng-show="courseFilters.period=='upcoming'">Upcoming courses</span>
                        <span ng-show="courseFilters.period=='active'">Active courses</span>
                        <span ng-show="courseFilters.period=='past'">Past courses</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="courseFilters.period=null">All courses</a></li>
                        <li><a ng-click="courseFilters.period='upcoming'">Upcoming courses</a></li>
                        <li><a ng-click="courseFilters.period='active'">Active courses</a></li>
                        <li><a ng-click="courseFilters.period='past'">Past courses</a></li>
                    </ul>
                </div>
                <input class="form-control" type="text" name="search" placeholder="Filter courses by keyword"
                    ng-model="courseFilters.search">
            </div>
        </form>

        <form class="col-sm-6 search-courses text-right" role="search" ng-if="canManageUsers && canAddCourse && (courses.length || courseFilters.search || courseFilters.includeSandbox!==null || courseFilters.period!==null)" style="padding-right:0;">
            <div class="input-group">
                <div class="input-group-btn" uib-dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" uib-dropdown-toggle>
                        <span ng-show="courseFilters.includeSandbox===null && courseFilters.period===null">All courses</span>
                        <span ng-show="courseFilters.period=='upcoming'">Upcoming courses</span>
                        <span ng-show="courseFilters.period=='active'">Active courses</span>
                        <span ng-show="courseFilters.period=='past'">Past courses</span>
                        <span ng-show="courseFilters.includeSandbox===true">Sandbox courses</span>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="courseFilters.includeSandbox=null; courseFilters.period=null">All courses</a></li>
                        <li><a ng-click="courseFilters.period='upcoming'; courseFilters.includeSandbox=null">Upcoming courses</a></li>
                        <li><a ng-click="courseFilters.period='active'; courseFilters.includeSandbox=null">Active courses</a></li>
                        <li><a ng-click="courseFilters.period='past'; courseFilters.includeSandbox=null">Past courses</a></li>
                        <li><a ng-click="courseFilters.period=null; courseFilters.includeSandbox=true">Sandbox courses</a></li>
                    </ul>
                </div>
                <input class="form-control" type="text" name="search" placeholder="Filter courses by keyword"
                    ng-model="courseFilters.search">
            </div>
        </form>
        
    </div>
    
    <!-- REMOVE AFTER LTI UPGRADE -->
    <p class="alert text-muted" ng-show="!canAddCourse">If you don't see the course(s) you expect below: 1) check your registration in the course (for example, see if you have access to the course in Canvas) and contact <a href="https://it.ubc.ca/got-question-about-it-products-and-support#helpdesk" target="_blank">UBC IT support</a> to register, then 2) if your course has a Canvas site, click the ComPAIR link from there once. For further help, contact <a href="mailto:compair.support@ubc.ca" target="_self">ComPAIR technical support</a>.</p>

    <!-- Course listing -->
    <div class="course-list" ng-if="courses.length">

        <!-- Courses List -->
        <div class="row each-course" ng-class="{'first-child': $first}"
            ng-repeat="course in courses">

            <!-- Course Display -->
            <div class="col-sm-9 media">

                <!-- Course Info -->
                <div class="media-body">

                    <!-- Name -->
                    <a ng-href="#/course/{{course.id}}">
                        <h3 class="media-heading">
                            <i class="fa fa-book"></i>{{course.name}} &raquo;
                        </h3>
                    </a>

                    <!-- Metadata -->
                    <ul class="list-inline course-metadata-list">
                        <course-metadata name="editLink"></course-metadata>
                        <course-metadata name="duplicateLink"></course-metadata>
                        <course-metadata name="assignmentCount"></course-metadata>
                        <course-metadata name="assignmentCountStudent"></course-metadata>
                        <course-metadata name="assignmentsToDo"></course-metadata>
                        <course-metadata name="noAssignmentsToDo"></course-metadata>
                        <course-metadata name="studentCount"></course-metadata>
                        <course-metadata name="courseDates"></course-metadata>
                        <course-metadata name="sandbox"></course-metadata>
                        <course-metadata name="deleteLink"></course-metadata>
                    </ul>

                </div>

            </div>

            <!-- Assignment Actions -->
            <div class="col-sm-3 text-right action-btns">
                <course-action-button name="viewCourse"></course-action-button>
            </div>

        </div>

    </div>

    <div class="text-center" ng-if="courses.length">
        <ul uib-pagination total-items="totalNumCourses" ng-model="courseFilters.page"
            max-size="10" class="pagination-sm" boundary-links="true"
            direction-links="false" items-per-page="courseFilters.perPage"
            num-pages="numPages" ng-hide="numPages == 1"></ul>
    </div>

    <div ng-if="!courses.length">
        <hr />
        <p ng-if="!courseFilters.search && courseFilters.includeSandbox===null && courseFilters.period===null">No courses currently available. <span ng-if="canAddCourse">Would you like to <a href="#/course/create">add a course</a>?</span></p>
        <p ng-if="!courseFilters.search && (courseFilters.includeSandbox!==null || courseFilters.period!==null)">No courses found. Please try another filter above.</p>
        <p ng-if="courseFilters.search">No courses found for this search. Please try another search term above.</p>
    </div>

</div>
