<div ng-controller="CourseQuestionsController" class="course-screen">
	
	<div class="row">
		<header class="col-sm-6">
			<h1><i class="fa fa-book"></i> {{course.name}}</h1>
			<div class="intro-text"
				 ng-bind-html="course.description">
			</div>
		</header>
		<div class="col-sm-6 sub-nav">
			<span ng-if="canCreateQuestions">
				<a ng-href="#/course/{{course.id}}/question/create" 
					class="btn btn-primary" id="stepNav">
					<i class="fa fa-plus"></i>
					Add Question
				</a>
			</span>
			<span ng-if="canEditCourse">
				<a ng-href="#/course/{{course.id}}/configure" class="btn btn-primary">
					<i class="fa fa-edit"></i>
					Edit Course
				</a>
				<a ng-href="#/course/{{course.id}}/user" class="btn btn-primary">
					<i class="fa fa-users"></i>
					Manage Users
				</a>
			</span>
			<!-- <span ng-if="canCreateQuestions">
				<a ng-href="#/course/{{course.id}}/gradebook" 
					class="btn btn-primary">
					<i class="glyphicon glyphicon-tasks"></i>
					See Activity
				</a>
			</span> -->
		</div>
	</div>
	
	<div class="row">
		
		<div class="col-sm-8">
			<h2>{{filter}}</h2>
		</div>
		
		<div class="col-sm-4 text-right">
			<form class="form-inline searchCourse" role="search" ng-show="questions.length">
				<div class="form-group filter">
					<label>Show: &nbsp;</label>
					<!--<input class="form-control" type="text" ng-model="questionFilter.title"
						placeholder="Search question titles">-->
					<select ng-model="filter" ng-options="f for f in filters"></select>
				</div>
			</form>
		</div>
	
	</div>
	
	<div ng-if="!questions.length">
		<hr />
		<p>No questions currently posted.</p>
		<p ng-if="canCreateQuestions">Would you like to <a ng-href="#/course/{{course.id}}/question/create">add a question</a>?</p>
	</div>
	
	<!-- Questions List -->
	<div class="row each-question"
		ng-repeat="(key, question) in questions | filter:questionFilter(filter) as results">
		
		<!-- Question Display -->
		<div class="col-sm-9 media">
		
			<!-- Question Info -->
			<div class="media-body">
				
				<!-- Title -->
				<a ng-href="#/course/{{course.id}}/question/{{question.id}}">
					<h3 class="media-heading">
						<i class="fa fa-comments"></i> {{question.title}} &raquo;
					</h3>
				</a>
				
				<!-- Details -->
				<div class="question-desc">
					<div mathjax
						 ng-bind-html="question.post.content">
					</div>
					<!-- Attachment -->
					<acj-pdf-inline label="See question details:" 
						pdfs="question.post.files">
					</acj-pdf-inline>
				</div>
				
				<!-- Metadata -->
				<ul class="list-inline question-metadata-list">
					<!-- Edit Link -->
					<li ng-if="canManagePosts || question.post.user.id == loggedInUserId">	
						<a ng-href="#/course/{{course.id}}/question/{{question.id}}/edit" title="Edit">
							Edit
						</a> 
					</li>
					<!-- Time Posted and Author -->
					<li>
						Posted by 
						<a ng-href="#/user/{{question.post.user.id}}">
							{{question.post.user.displayname}}
							<!-- <span ng-if="canManagePosts && question.post.user.fullname">
								({{question.post.user.fullname}})
							</span>
							<span ng-if="canManagePosts && !question.post.user.fullname">
								({{question.post.user.username}})
							</span> -->
						</a>
					</li>
					<!-- Total Answers -->
					<li title="{{question.answers_count}} answers">
						{{question.answers_count}} answer<span ng-if="question.answers_count != 1">s</span>
					</li>
					<!-- Total Comparisons -->
					<li ng-if="canManagePosts" title="{{question.evaluation_count}} comments"> 
						{{question.evaluation_count}} comparison<span ng-if="question.evaluation_count != 1">s</span>
					</li>
					<!-- Total Comments -->
					<li title="{{question.comments_count}} comments"> 
						{{question.comments_count}} comment<span ng-if="question.comments_count != 1">s</span>
					</li>
					<!-- Completed Assignment Feedback (for students) -->
					<li ng-if="!canManagePosts && ((question.left + question.selfeval_left == 0) || (answered[question.id]))">
						You have
						<span ng-if="answered[question.id]">answered <span ng-if="question.left + question.selfeval_left == 0">and </span></span>
						<span ng-if="question.left + question.selfeval_left == 0">compared</span>
					</li>
					<!-- Pending Assignment Feedback (for students) -->
					<li ng-if="!canManagePosts && ((question.judging_period && question.left + question.selfeval_left > 0) || (question.answer_period && !answered[question.id]))" class="label label-warning">
						<span ng-if="question.answer_period && !answered[question.id]">1 answer<span ng-if="(question.judging_period && question.left + question.selfeval_left) > 0">, </span></span>
						
						<span ng-if="question.judging_period && question.left + question.selfeval_left > 0">{{question.left + question.selfeval_left}} comparison<span ng-if="(question.left + question.selfeval_left) != 1">s</span></span>
						needed from you
					</li>
					<!-- Answers Active (for instructors) -->
					<li ng-class="{'label label-warning': question.answer_period}" ng-if="canManagePosts">
						<span ng-if="question.answer_period">Students answering until {{question.answer_end | amDateFormat: 'MMM D'}}</span>
						<span ng-if="!question.answer_period">Students answer<span ng-if="question.available">ed</span> {{question.answer_start | amDateFormat: 'MMM D'}}-{{question.answer_end | amDateFormat: 'MMM D'}}</span>
					</li>
					<li ng-if="canManagePosts || question.post.user.id == loggedInUserId">
						<a confirmation-needed="deleteQuestion(key, course.id, question.id)" keyword="question" title="Delete" href="">
							<i class="fa fa-trash-o"></i>
						</a>
					</li>
				</ul>
				
			</div>
			
		</div>
		
		<!-- Question Actions -->
		<div class="col-sm-3 text-right action-btns">
			
			<!-- BUTTON when user has not answered AND (user is an admin OR the answer period is active) -->
			<a class="btn btn-success" title="Answer Question" ng-href="#/course/{{course.id}}/question/{{question.id}}/answer/create"
			   ng-show="!answered[question.id] && (canManagePosts || question.answer_period)">
				Answer
			</a>
			
			<!-- BUTTON when user is not an admin AND the comparison period is active AND the user has not finished pair comparisons AND either (the answer period is active AND the question has been answered) OR (the answer period is not active)
			     basically we force users to answer first, if they can
			     enabled only when answer pairs are available for comparison (a negative number = good)
			     -->
			<a class="btn" ng-class="{'btn-success': availPairsLogic[question.id], 'btn-default': !availPairsLogic[question.id]}" title="Compare Answers" ng-href="#/course/{{course.id}}/question/{{question.id}}/compare"
			   ng-show="!canManagePosts && question.judging_period && question.left && ((question.answer_period && answered[question.id]) || (!question.answer_period))" ng-disabled="!availPairsLogic[question.id]">
				Compare Answers
			</a>

			<!-- BUTTON when user is not an admin AND the comparison period is active AND user has finished pair comparisons AND has a self-evaluation remaining AND either (the answer period is active AND the question has been answered) OR (the answer period is not active)
			     basically we force users to answer first, if they can
			     enabled only when user has answered question -->
			<a class="btn" ng-class="{'btn-success': answered[question.id], 'btn-default': !answered[question.id]}" title="Compare Answers" ng-href="#/course/{{ course.id }}/question/{{ question.id }}/selfevaluation"
			   ng-show="!canManagePosts && question.judging_period && !question.left && question.selfeval_left && ((question.answer_period && answered[question.id]) || (!question.answer_period))" ng-disabled="!answered[question.id]">
				Compare Answers
			</a>

			<!-- BUTTON when user is an admin AND (the comparison period is active OR is complete) -->
			<a class="btn btn-success" title="Comparisons" ng-href="#/course/{{course.id}}/question/{{question.id}}/comparisons"
			   ng-show="canManagePosts && (question.judging_period || question.after_judging)">
				See Comparisons
			</a>
			
			<!-- ADDITIONAL TEXT when user has not answered AND user is not an admin AND answer period is active -->
			<p class="below-button-text"
				ng-show="!answered[question.id] && !canManagePosts && question.answer_period">
				Answer due {{question.answer_end | amDateFormat: 'MMM D'}}
			</p>
			
			<!-- ADDITIONAL TEXT when answer pairs are not available for comparison AND user is not admin AND the comparison period is active AND user has comparisons remaining AND either (the answer period is active AND the question has been answered) OR (the answer period is not active) -->
			<p class="below-button-text"
				ng-show="!availPairsLogic[question.id] && !canManagePosts && question.judging_period && question.left && ((question.answer_period && answered[question.id]) || !question.answer_period)">
				Not enough answers to compare<br />(Refresh the page to check again)
			</p>
			
			<!-- ADDITIONAL TEXT when answer pairs are available for comparison AND user is not admin AND the comparison period is active AND user has comparisons remaining AND either (the answer period is active AND the question has been answered) OR (the answer period is not active) AND the comparison period has an end date set -->
			<p class="below-button-text"
				ng-show="availPairsLogic[question.id] && !canManagePosts && question.judging_period && question.left && ((question.answer_period && answered[question.id]) || !question.answer_period) && question.judge_end">
				Comparisons due {{question.judge_end | amDateFormat: 'MMM D'}}
			</p>
			
			<!-- ADDITIONAL TEXT when user is not an admin AND the comparison period is active AND user has completed pair comparisons AND has a self-evaluation remaining AND has not answered question -->
			<p class="below-button-text"
				ng-show="!canManagePosts && question.judging_period && !question.left && question.selfeval_left && !answered[question.id]">
				Self-evaluation comparison unavailable<br />(You have not answered the question)
			</p>
			
		</div>
		
	</div>
	
	<div ng-show="questions.length && !results.length">
		<hr />
		<p>No questions currently listed in this category. Try another filter choice above.</p>
	</div>

</div>
