<div ng-controller="CourseQuestionsController">
	<h1 class="text-center">{{course.name}}</h1>

	<div class="navbar marginT5">
		<span ng-if="canCreateQuestions">
		<a ng-href="#/course/{{course.id}}/question/create" 
			class="btn btn-primary" id="stepNav">
			<i class="fa fa-plus"></i>
			New Question
		</a>
		</span>
		<form class="form-inline searchCourse pull-right">
			<div class="form-group">
				<input class="form-control" type="text" ng-model="questionFilter"
					placeholder="Search Questions">
			</div>
		</form>
	</div>
	
	<!-- Questions List -->
	<div class="row" style="padding-top: 0.8em; padding-bottom: 0.7em; 
		border-top: 1px solid #ccc;"
		ng-repeat="question in questions | filter:questionFilter">
		<!-- Question Display -->
		<div class="col-sm-10 media">
			<!-- Gravatar, link to user profile -->
			<!-- 
			custom margin to fix tags being cut off on small screens when it goes
			to the second row, moved to padding in question-info
			-->
			<a class="pull-left" ng-href="#/user/" style="margin-right: 0;">
				<img class="media-object" src="//www.gravatar.com/avatar/{{question.post.user.avatar}}?s=48&d=retro">
			</a>
			<!-- Question Info -->
			<div class="media-body" style="padding-left: 0.5em;">
				<!-- Title -->
				<a ng-href="#/course/{{course.id}}/question/{{question.id}}">
					<h3 class="media-heading">
						{{question.title}} 
					</h3>
				</a>
				<ul class="list-inline" style="margin-bottom: 0px;">
					<!-- Time Posted and Author -->
					<li>
						<span am-time-ago="question.post.created"></span> - 
						<a ng-href="#/user/{{question.post.user.id}}">
						{{question.post.user.displayname}}
						</a>
					</li>
					<!-- Total number of answers -->
					<li class="text-success answer-comment-count" title="{{question.answers_count}} answers">
						<i class="fa fa-comment-o"></i>
						{{question.answers_count}}
					</li>
					<!-- Total number of comments -->
					<li class="text-info answer-comment-count" title="6 comments"> 
						<i class="fa fa-comments-o"></i>
						{{question.total_comments_count}}
					</li>
					<!-- Question Tags -->
					<li class="label label-default">
						tag 1
					</li>
					<li class="label label-default">
						tag 2
					</li>
					<li class="label label-default">
						tag 3
					</li>
				</ul>
			</div>
		</div>
		<!-- Question Controls -->
		<div class="col-sm-2">
			<a ng-href="#/course/{{course.id}}/question/{{question.id}}/edit"
				class="btn btn-default" title="Edit">
				<i class="fa fa-edit"></i>
			</a>
			<a ng-href="#/course/{{course.id}}/question/{{question.id}}/delete"
				class="btn btn-danger pull-right btn-xs" title="Delete">
				<i class="fa fa-trash-o"></i>
			</a>
		</div>
	</div>


</div>
