<div>
	<h1 id="view-title" ng-if="!course.id">Add Course</h1>
    <h1 id="view-title" ng-if="course.id">Edit {{course.name}}</h1>

    <form name="courseForm" class="form" ng-submit="save()" novalidate>

        <fieldset>
            <legend>Course Details</legend>
            <acj-field-with-feedback form-control="courseForm.courseName">
                <label for="courseName" class="required-star">Course Name</label>
                <input id="courseName" name="courseName" ng-model="course.name"
                       type="text" class="form-control" required maxlength="255" placeholder="e.g. BIOL 112 - Biology of the Cell" auto-focus />
            </acj-field-with-feedback>

            <input id="descriptionCheck" type="checkbox" ng-model="course.descriptionCheck" ng-checked="course.descriptionCheck || course.description" ng-disabled="course.description">
            <label for="descriptionCheck">Add a course description<span ng-show="course.descriptionCheck || course.description">:</span></label>
            <br />

            <div ng-if="course.descriptionCheck || course.description">
                <div class="form-group">
                    <textarea ng-model="course.description" id="courseDescription" class="form-control" ckeditor="editorOptions" rows="4"></textarea>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <legend>Course Criteria</legend>
            <p class="instructional-text"><strong>Set the criteria you want to use in the course here</strong>, then select one or more of these when you create an assignment. Criteria are the questions and instructions that tell students what to look for when comparing answers. Note that once a criterion has been used in a course, you cannot edit or drop it.</p>
            <ng-include src="'modules/criteria/criteria-course-partial.html'"></ng-include>
        </fieldset>

        <input type="submit" class="btn btn-success btn-lg center-block" value="Save"
               ng-disabled="courseForm.$invalid || submitted" />

    </form>

</div>
