<form name="courseForm" class="form" ng-submit="courseSubmit()" 
	novalidate>
	<h2>Information</h2>
	<acj-field-with-feedback form-control="courseForm.courseName">
		<label for="courseName">Name: </label>
		<input id="courseName" name="courseName" ng-model="course.name" 
			type="text" class="form-control" required maxlength="255" 
			auto-focus />
	</acj-field-with-feedback>
	<div class="form-group">
		<label for="courseDescription">Description: </label>
		<textarea ng-model="course.description" id="courseDescription" class="form-control" ckeditor="editorOptions" rows="4"></textarea>
	</div>
	<div class="form-group">
		<label>Options:</label>
		<div class="btn-group">
			<button type="button" class="btn btn-default" 
				ng-model="course.enable_student_posts" bs-checkbox>
				Allow Students to Post Questions
			</button>
			<button type="button" class="btn btn-default" 
				ng-model="course.enable_student_create_tags" bs-checkbox>
				Allow Students to Create Tags
			</button>
		</div>
	</div>
	<input type="submit" class="btn btn-primary" value="Save" 
		ng-disabled="courseForm.$invalid || submitted" />
</form>

<!-- hide this section when creating new course -->
<div ng-if="course.id">
	<h2>Criterias</h2>
	<div class="list-group">
		<a class="list-group-item">
			<h4 class="list-group-item-heading">
				Criteria Name Test Test Test
			</h4>
			<p class="list-group-item-text">
			Criteria Description
			</p>
		</a>
	</div>
	<a href="#" class="btn btn-default btn-sm">
		<i class="fa fa-plus"></i>
		Add Criteria
	</a>

	<h2>Tags</h2>
	<table ng-table class="table">
		<tr>
			<th data-title="Title">Test</th>
			<th data-title="Title 2">Test2</th>
		</tr>
		<tr>
			<td>Test</td>
			<td>Test2</td>
		</tr>
		<tr>
			<td>Test</td>
			<td>Test2</td>
		</tr>
	</table>
	<a class="btn btn-default btn-sm">
		<i class="fa fa-plus"></i> Add Tag
	</a>
</div>

