<div class="attachmentInline" ng-if="attachment">
    <!-- List of files, user clicks on one to view in iframe -->
    <ul class="list-inline">
        <li>{{label}}</li>
        <li>
            <span ng-if="attachment.extension == 'pdf'">
                <a href="" class="btn btn-primary btn-xs" ng-click="updateInline(attachment);">
                    <i class="fa fa-file-pdf-o"></i> Show PDF Below
                </a>
                &nbsp; <em>or</em> &nbsp;
                <a href="" class="btn btn-primary btn-xs" ng-click="openAttachment(attachment);">
                    Open PDF Pop-up <i class="fa fa-external-link"></i>
                </a>
            </span>
            <span ng-if="attachment.extension != 'pdf'">
                <a href="" class="btn btn-primary btn-xs" ng-click="openAttachment(attachment);">
                    Open Attachment <i class="fa fa-external-link"></i>
                </a>
            </span>
        </li>
        <!--
        <li ng-repeat="attachment in attachments">
            <span ng-if="attachment.extension == 'pdf'">
                <a href="" class="btn btn-primary btn-xs" ng-click="updateInline(attachment);">
                    <i class="fa fa-file-pdf-o"></i> Show PDF Below
                </a>
                &nbsp; <em>or</em> &nbsp;
                <a href="" class="btn btn-primary btn-xs" ng-click="openAttachment(attachment);">
                    Open PDF Pop-up <i class="fa fa-external-link"></i>
                </a>
            </span>
            <span ng-if="attachment.extension != 'pdf'">
                <a href="" class="btn btn-primary btn-xs" ng-click="openAttachment(attachment);">
                    Open Attachment <i class="fa fa-external-link"></i>
                </a>
            </span>
        </li>
        -->
    </ul>
    <!-- Iframe for showing the inline attachment file here -->
    <div class="attachmentIframeWrapper" ng-if="inlineVisible">
        <iframe width="100%" height="550" ng-src="{{inlineUrl}}" allowfullscreen webkitallowfullscreen>
        </iframe>
    </div>
