<li ng-show="!meta.hide">
    <a  ng-if="!meta.hide && meta.confirmationNeeded"
        ng-href="{{ meta.href }}"
        class="{{ meta.class }}"
        title="{{ meta.title }}"
        ng-disabled="{{ meta.disabled }}"
        confirmation-needed="{{ meta.confirmationNeeded }}"
        confirmation-warning="{{ meta.confirmationWarning }}"
        keyword="{{ meta.keyword }}"
        ng-bind-html="meta.label"></a>
    <a  ng-if="!meta.hide && meta.href && !meta.confirmationNeeded"
        ng-href="{{ meta.href }}"
        class="{{ meta.class }}"
        title="{{ meta.title }}"
        ng-disabled="{{ meta.disabled }}"
        ng-bind-html="meta.label"></a>
    <span ng-if="!meta.hide && !meta.href && !meta.confirmationNeeded"
        class="{{ meta.class }}"
        ng-bind-html="meta.label"></span>
</li>