body {
	background-color: rgb(240, 250, 240);
	font-family:"Times New Roman", Times, serif;
}

h1 {
	text-align: center;
}

h2 {
	color: gray;
	text-align: center;
}

textarea {
	resize: none;
	font-family:"Times New Roman", Times, serif;
	margin: 3px;
}

p {
	font-family:"Times New Roman", Times, serif;
	margin: 3px;
}

input[type="radio"] {
	margin-bottom: 0.5em;
}

div.question, p.question {
	width: 90%;
	padding: 7px;
	margin: 3px;
	white-space: pre-wrap;
	margin-left: 4.5em;
}

li.question {
	margin-bottom: 3em;
}

div.qtitle, p.qtitle {
	width: 90%;
	padding: 7px;
	margin-left: 4.5em;
}

p.authorHeader {
	display: inline-block;
	margin-left: 4.5em;
}

div.qbutton {
	display: inline-block;
	margin-left: 2em;
}

div.answer, p.answer {
	width: 90%;
	min-height: 5em;
	max-height: 20em;
	border: 3px solid #F0FAF0;
	border-radius: 1em;
	padding: 7px;
	overflow-y: auto;
	white-space: pre-wrap;
}

div.divtext {
	width: 60%;
	overflow: hidden;
	border: 1px solid rgb(204, 204, 204);
	background-color: rgb(239, 239, 239);
}

.ljanswer {
	width: 45%;
	min-height: 15em;
	max-height: 50em;
	border: 3px solid #FFDF00;
	display: inline-block;
	vertical-align: top;
	background-color: #FDFEFF;
	overflow-y: auto;
	white-space: pre-wrap;
}

.rjanswer {
	width: 45%;
	min-height: 15em;
	max-height: 50em;
	display: inline-block;
	vertical-align: top;
	border: 3px solid #BB0000;
	background-color: #FFFDFE;
	overflow-y: auto;
	white-space: pre-wrap;
}

textarea.edit {
	min-height: 15em;
	max-height: 30em;
	border-radius: 1em;
	padding: 7px;
	border: 3px solid red;
}

textarea.comment {
	min-height: 10em;
	max-height: 20em;
}

div.commentblock {
	margin-left: 4em;
}

div.comment {
	max-height: 20em;
	overflow-y: auto;
	white-space: pre-wrap;
	margin-left: 4.5em;
}

a.comment {
	margin-left: 4.5em;
}

pre {
	width: 40%;
	padding: 10px;
	border: 3px solid red;
	margin: 0px;
}

ul {
	list-style-type: none;
}

.tr:nth-child(even) {
	background: white;
}

.tr:nth-child(odd) {
	background: #FFDDDD;
}

th {
	background: white;
	border-bottom: 1px solid black;
}

a:link {
	text-decoration: none;
	color: black;
}

a:visited {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color:red;
}

a.answer {
	margin-right: 1em;
}

a.answer:hover {
	color: #F0D000;
}

a.delete {
	margin-right: 2em;
}

a.delete:hover {
	color: #FF5050;
}

a.edit {
	margin-right: 1em;
}

a.edit:hover {
	color: #FF9900;
}

a.cedit:hover {
	color: #D0D000;
}

a.comments {
	margin-right: 2em;
}

a.comments:hover {
	color: #9090FF;
}

a.submit:hover {
	color: #00AA00;
}

a.sort {
	margin-left: 1em;
}

a.sort:hover {
	color: gray;
}

a.judge {
	margin-right: 2em;
}

a.judge:hover {
	color: #772A00;
}

a.question:hover {
	color: silver;
}

input.judge {
	border: 1px solid #F0F0F0;
	background-color: #D0D0D0;
	cursor: pointer;
}

input.answer {
	border: 1px solid #E0E0FF;
	background-color: #F8F8FF;
	cursor: pointer;
}

input.create {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	cursor: pointer;
}

input.submit {
	border: 1px solid #000000;
	background-color: #FFFFFF;
	cursor: pointer;
}

input.expand {
	border: 1px solid black;
 	border-radius: 40%;
	background-color: white;
	font-size: 60%;
	font-weight: 600;
	margin: 0px;
	padding: 0px;
}

input.expand:hover {
	background-color: #B0B0FF;
}

.button {
	margin-left: 1em;
	margin-right: 1em;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	cursor: pointer;
}

.toplogo {
	width: 12em;
	height: 7em;
	line-height: 7em;
	text-align: center;
	background-color: silver;
	background-image: url("http://farm4.staticflickr.com/3085/2786778672_3fb8cdd469_o.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: left;
	vertical-align: middle; 
}

.footer {
	width: 100%;
	height: 100px;
	text-align: center;
	background-color: yellow;
}

.nav {
	height: 2em;
	line-height: 2em;
	vertical-align: middle;
	background-color: silver;
}

.option {
	display: inline-block;
	float: left;
	margin-right: 1em;
	margin-left: 1em;
}

.userlogin {
	display: inline-block;
	float: right;
	text-align: right;
}

.inline {
	display: inline-block;
}

.whitespace {
	white-space: pre-wrap;
}

.profile {
	margin-left: 2em;
	font-weight: bold;
}

.opbuttons {
	display: inline-block;
	float: right;
	text-align: right;
}

.bcrumb {
	display: inline-block;
	margin-right: 1em;
}

.block {
	display: block;
} 

.table {
	border-collapse: collapse;
}

.versus {
	text-align: center;
}

.pagination {
  display: inline-block;
  margin: 20px 0;
  border-radius: 4px;
}

.pagination > li {
  display: inline;
}

.pagination > li > a,
.pagination > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination > li > a:hover,
.pagination > li > a:focus,
.pagination > .active > a,
.pagination > .active > span {
  background-color: #f5f5f5;
}

.pagination > .active > a,
.pagination > .active > span {
  color: #999999;
  cursor: default;
}

.pagination > .disabled > span,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  cursor: default;
  background-color: #ffffff;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  border-left-width: 1px;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.pagination-large > li > a,
.pagination-large > li > span {
  padding: 11px 14px;
  font-size: 17.5px;
}

.pagination-large > li:first-child > a,
.pagination-large > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}

.pagination-large > li:last-child > a,
.pagination-large > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.pagination-mini > li:first-child > a,
.pagination-small > li:first-child > a,
.pagination-mini > li:first-child > span,
.pagination-small > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}

.pagination-mini > li:last-child > a,
.pagination-small > li:last-child > a,
.pagination-mini > li:last-child > span,
.pagination-small > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.pagination-small > li > a,
.pagination-small > li > span {
  padding: 2px 10px;
  font-size: 11.9px;
}

.pagination-mini > li > a,
.pagination-mini > li > span {
  padding: 0 6px;
  font-size: 10.5px;
}


#main {
	width: 70em;
	margin: auto;
	background-color: white;
	padding: 1em;
	border: 1em solid gray;
	border-radius: 3em; 
}

#logo {
	width: 12em;
	height: 7em;
}

.errMsg {
    color: #990044;
    display: block;
}

ol#flash-messages {
	list-style-type: none;
}

.error {
    color: #990044;
    display: block;
    text-align: center;
    border: 2px solid #990044;
    padding: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 110%;
    margin-right: 1.5em;
}

.success {
    color: green;
    display: block;
    text-align: center;
    border: 2px solid green;
    padding: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 110%;
    margin-right: 1.5em;
}

table.install {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

table.install td {
	padding-bottom: 0.4em;
	padding-left: 0.4em;
	padding-top: 1em;
	font-size: 125%;
	font-weight: bold;
	width: 50%
}

input.next {
	float: right;
	margin-right: 3em;
}

div.next {
	overflow: hidden;
}

select.filter-select {
	margin-bottom: 0;
	width: 100%;
}

.avatar {
	position: absolute;
}

ul.instructions {
	list-style-type: circle;
}

pre.instructions {
	display: inline-block;
	border: 1px solid black;
	background-color: white;
	border-radius: 0px;
	width: auto;
}

form.import label {
	float: left;
	text-align: right;
	clear: left;
	width: 10em;
	margin-right: 2em;
	margin-top: 0.4em;
	font-size: 150%
}

form.import div {
	display: block;
	margin-bottom: 0.7em;
}

form.import input[type="submit"] {
	display: block;
	margin-right: auto;
	margin-left: auto;
}

form.import span {
	margin-left: 10em;
}

table.results td, table.results th {
	text-align: center;
}

table.results {
	width: 100%;
}