/***** UNIVERSAL *****/
h1, h2 {
  text-align: center; }

form {
  margin-top: 1em;
  margin-bottom: 1em; }

/***** INDEX PAGE *****/
#main {
  padding: 1em; }

/***** QUESTION PAGE *****/
div.questionContent {
  margin-top: 0.5em;
  margin-bottom: 1em; }

/***** ANSWERS PAGE *****/
div.commentsList {
  margin-top: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0 1em 1em 1em;
  background: #f0faf0; }

div.btn_spacing {
  margin-top: 1em; }

/***** COURSES PAGE *****/
form.createCourse {
  display: inline-block;
  margin: 0;
  padding-left: 0.5em; }

form.searchCourse {
  display: inline-block;
  margin: 0; }

table.table {
  border-bottom: 1px solid #ddd; }

/***** USER POSTINGS (COMMENTS, QUESTIONS) *****/
p.authorHeader {
  display: inline-block;
  margin-left: 0.5em; }

div.opbuttons {
  display: inline-block;
  float: right; }

ul.postingsList {
  list-style-type: none;
  margin: 1em 0; }

ul.postingsList li {
  margin-bottom: 1em;
  padding: 0.5em;
  border-radius: 5px;
  background: #fcfcfc;
  border: 1px solid #ccc; }

div.createPosting {
  margin-top: 1em;
  background: white;
  padding: 0.5em;
  border-radius: 5px;
  background: #fcfcfc;
  border: 1px solid #ccc; }

/***** WYSIWYG EDITOR *****/
.entries {
  /* width and height prevent creation of scrollbar and keep math buttons properly sized */
  min-height: 10em;
  border: 1px solid #ccc;
  padding: 0.5em; }

.entries, .preview {
  width: 90%;
  margin: 1em 0;
  border-radius: 4px; }

.preview {
  background: #eee;
  padding: 1em; }

/***** MATH INPUT *****/
.mathtoolbar {
  display: block;
  white-space: normal; }

/***** JUDGE PAGE *****/
ul.judgetabs {
  margin-top: 1em;
  margin-bottom: 0.5em; }

ul.judgetabs li {
  width: 33.33%;
  text-align: center; }

.answer {
  border: 1px solid #eee;
  border-radius: 3px;
  padding: 0.5em; }
  .answer.left {
    background: azure; }
  .answer.right {
    background: ivory; }

/***** FLASH MESSAGES *****/
ol#flash-messages {
	list-style-type: none;}
