<div>
	<h2>Answer Page</h2>
	<a class="bcrumb" href="#/coursepage"> <i class="icon-fighter-jet"></i> Courses </a>
	<a class="bcrumb" href="#/questionpage/{{cid}}"> <i class="icon-fighter-jet"></i> {{course}} </a>
	<br><br>
	<p> <b>Question:</b> <br> <p class="question"><ANY ng-bind-html-unsafe="question"></ANY></p> </p>
	<a title="Comments" href="" class="comments" ng-click="getQcomments();qcomm=!qcomm">
		<i class="icon-comments-alt icon-large"></i> Comments&#160;
	</a> 
	<div class="commentblock" ng-show="qcomm">
		<br>
		<ul>
			<li ng-repeat="comment in questionComments">
				<img src="http://www.gravatar.com/avatar/{{comment.avatar}}?s=50&d=mm" class="avatar">
				<p class="authorHeader"><font color="blue"><b>{{comment.author}}</b></font> - {{comment.time}}&#160;
				<a href="" class="edit" ng-show="instructor || login==comment.author" ng-click="editQC=!editQC;newQcom=comment.content">
					<i class="icon-edit icon-large"></i>
				</a>
				<a href="" ng-show="instructor || login==comment.author" ng-click="delQcom(comment)">
					<i class="icon-remove-sign icon-large"></i>
				</a></p>
				<div class="comment" ng-hide="editQC"><ANY ng-bind-html-unsafe="comment.content"></ANY></div>
				<div ng-show="editQC" class="comment">
					<textarea class="edit" ng-model="newQcom" jqte></textarea>
				</div>
				<a href="" class="submit" ng-show="editQC" ng-click="editQcom(comment, newQcom);editQC=false">
					<i class="icon-ok-sign icon-large"></i> Submit
				</a>
				<br><br>
			</li>
		</ul>	
		<a href="" class="comments" ng-click="lqcomm=!lqcomm">
			<i class="icon-comment-alt icon-large"></i> Leave a Comment
		</a>
		<div ng-show="lqcomm">
			<textarea class="comment" ng-model="myQcomment" jqte></textarea>
			<a href="" class="submit" ng-click="makeQcomment(myQcomment);lqcomm=falst">
				<i class="icon-ok icon-large"></i> Submit
			</a>
		</div>
		<br><br>
	</div>
	<br><br><br><br>
	<a href="" class="answer" ng-click="check=!check">
		<i class="icon-puzzle-piece icon-large"></i> Answer Question
	</a>
	<div ng-show="check">
		<br>
		<textarea ng-model="myanswer" jqte></textarea>
		<br>
		<a href="" class="submit" ng-click="submit()">
			<i class="icon-ok icon-large"></i> Submit
		</a>
	</div>
	<br><br>
	<a href="" class="sort" ng-click="temp=orderProp;orderProp=nextOrder;nextOrder=temp">
		<i class="icon-sort-by-attributes icon-large"></i> By {{nextOrder}}
	</a>
	<br><br>
	<ul>
		<li ng-repeat="script in scripts | orderBy:orderProp:true">
			<img src="http://www.gravatar.com/avatar/{{script.avatar}}?s=50&d=mm" class="avatar">
			<p class="authorHeader">Script Score: <b>{{script.score}}</b></p>
			<br>
			<p class="authorHeader">Author: <b>{{script.author}}</b> - {{script.time}}</p>
			<div class="opbuttons">
				<a href="" class="comments" ng-click="getAcomments(script);scomm=!scomm">
					<i class="icon-comments-alt icon-large"></i> Comments
				</a>
				<a href="" class="edit" ng-show="instructor || login==script.author" ng-click="edit=!edit;newanswer=script.content">
					<i class="icon-edit-sign icon-large"></i> Edit
				</a>
				<a href="" class="delete" ng-show="instructor || login==script.author" ng-click="delete(script)">
					<i class="icon-trash icon-large"></i> Delete&#160;
				</a>
			</div>
			<br><br>
			<div ng-hide="edit" class="answer"><ANY ng-bind-html-unsafe="script.content"></ANY></div>
			<div ng-show="edit">
				<textarea class="edit" ng-model="newanswer" jqte></textarea>
			</div>
			<br>
				<a href="" class="submit" ng-show="edit" ng-click="editscript(script, newanswer);edit=!edit">
					<i class="icon-ok icon-large"></i> Submit
				</a>
			<div class="commentblock" ng-show="scomm">
				<br>
				<ul> 
					<li ng-repeat="comment in script.comments">
						<img src="http://www.gravatar.com/avatar/{{comment.avatar}}?s=50&d=mm" class="avatar">
						<p class="authorHeader"><font color="blue"><b>{{comment.author}}</b></font> - {{comment.time}}&#160;
						<a href="" ng-show="instructor || login==comment.author" class="edit" ng-click="editAC=!editAC;newAcom=comment.content">
							<i class="icon-edit icon-large"></i>
						</a>
						<a href="" ng-show="instructor || login==comment.author" ng-click="delAcom(script, comment)">
							<i class="icon-remove-sign icon-large"></i>
						</a></p>
						<div class="comment" ng-hide="editAC"><ANY ng-bind-html-unsafe="comment.content"></ANY></div>
						<div ng-show="editAC">
							<textarea class="edit" ng-model="newAcom" jqte></textarea>
						</div>
						<a href="" class="submit" ng-show="editAC" ng-click="editAcom(script, comment, newAcom);editAC=false">
							<i class="icon-ok-sign icon-large"></i> Submit
						</a>
						<br><br>
					</li>
				</ul>
				<a href="" class="comments" ng-click="lcomm=!lcomm">
					<i class="icon-comment-alt icon-large"></i> Leave a Comment
				</a>
				<div ng-show="lcomm">
					<textarea class="comment" ng-model="mycomment" jqte></textarea> 
					<a href="" class="submit" ng-click="makeAcomment(script, mycomment);lcomm=false">
						<i class="icon-ok icon-large"></i> Submit
					</a>
				</div>
				<br><br>
			</div>
			<br><br><br>
		</li>
	</ul>
</div>
