<div>
	<h2>Answer Page</h2>

	<div id="stepTitle">
		<h3 id="stepTitle"><div mathjax-bind="qtitle"></h3>
	
		<div class="questionContent" mathjax-bind="question"></div>
	</div>

	<a href="" class="btn btn-success" ng-click="check=!check" id="stepAnswer">
		<i class="icon-puzzle-piece icon-large"></i> Submit Answer
	</a>
	<a href="#/judgepage/{{qid}}" class="btn btn-inverse" id="stepJudge"> 
		<i class="icon-legal icon-large"></i> Judge Answers
	</a>
	<a title="Comments" class="btn" ng-click="qcomm=!qcomm">
		<i class="icon-comments-alt"></i> Show Comments
	</a> 
	
	<div ng-show="qcomm">
		<div ctype="Question" cinstructor="{{instructor}}" clogin="{{login}}" comment-block></div>
	</div>

	<div ng-show="check">
		<form name="newAnswer" novalidate>
			<div math-toolbar editor="myanswer" class="mathtoolbar btn-group"></div>
			<div hallo-editor name="answer" ng-model="myanswer" id="myanswer" class="entries"></div>
			<p class="text-error" ng-show="submitted && !myanswer">
				<span class="label label-important">Error</span>
				Please submit an answer.
			</p>

			<a class="btn btn-info" ng-click="previewText(); showpreview=true;"><i class="icon-eye-open"></i> Preview</a>
			<a class="btn btn-primary" ng-click="submit();submitted=true">
				<i class="icon-ok"></i> Submit
			</a>
			<div class="preview" ng-show="showpreview" mathjax-bind="preview">
			</div>
		</form>
	</div>

	<h3>Answers</h3>

	<div class="btn_spacing">
	<a class="btn" ng-click="temp=orderProp;orderProp=nextOrder;nextOrder=temp" id="stepOrder">
		<i class="icon-sort-by-attributes"></i> By {{nextOrder}}
	</a>
	</div>

	<ul class="postingsList">
		<li ng-repeat="script in scripts | orderBy:orderProp:true">
			<img src="http://www.gravatar.com/avatar/{{script.avatar}}?s=32&d=retro" class="avatar">
			<p class="authorHeader">Author: <strong>{{script.author}}</strong> - {{script.time}} - Score: {{script.score}}</p>
			<div class="opbuttons">
				<a class="btn btn-small btn-info" ng-click="getAcomments(script);scomm=!scomm">
					<i class="icon-comments-alt icon-large"></i> Comments
				</a>
				<a class="btn btn-small" ng-show="instructor || login==script.author" ng-click="edit=!edit;newanswer=script.content">
					<i class="icon-edit-sign icon-large"></i> Edit
				</a>
				<a class="btn btn-small btn-danger" ng-show="instructor || login==script.author" ng-click="remove(script)">
					<i class="icon-trash icon-large"></i> Delete
				</a>
			</div>

			<div ng-hide="edit" id="script{{script.id}}" mathjax-bind="script.content"></div>

			<div ng-show="edit" class="edit">
				<div math-toolbar editor="editScript{{script.id}}" class="mathtoolbar btn-group"></div>
				<div hallo-editor name="editanswers" ng-model="newanswer" id="editScript{{script.id}}" class="edit entries"></div>
			</div>

			<a class="btn btn-primary" ng-show="edit" ng-click="editscript(script, newanswer);edit=!edit">
				<i class="icon-ok"></i> Submit
			</a>
			
			<div ng-show="scomm">
				<div csid="{{script.id}}" ctype="Answer" cinstructor="{{instructor}}" clogin="{{login}}" comment-block></div>
			</div>

		</li>
	</ul>
</div>
