<div>
	<h2>Answer Page</h2>
	<a href="#/questionpage">Back to Question Page</a>
	<p> Question: <b>{{question}}</b> </p>
	<button ng-click="answer()">Answer Question</button>
	<form ng-show="check" ng-submit="submit()">
		<br>
		<textarea cols="50" rows="13" ng-model="myanswer">Answer</textarea>
		<br><br>
		<button type="submit">Submit</button>
		<br>
	</form>
	<ul>
		<li ng-repeat="script in scripts">
			Script Score: <b>{{script.score}}</b>
			<br>
			Author: <b>{{script.author}}</b> - {{script.time}}
			<br><br>
			<pre>{{script.content}}</pre>
			<br>
		</li>
	</ul>
</div>
