<div ng-hide="resultPage">
<h3>Instructions</h3>
<ul class="instructions">
	<li>Import the class list in a CSV (.csv) or text (.txt) format</li>
	<li>Please format the class list in the format below.</li>
	<ul class="instructions">
		<li>Username,First Name,Last Name,Email</li>
	</ul>
</ul>
<h3>Example</h3>
<pre class="instructions">
username1,firstname1,lastname1,1@email.com
username2,firstname2,lastname2,2@email.com
username3,firstname3,lastname3,3@email.com
username4,firstname4,lastname4,4@email.com
</pre>
<h3>Import</h3>
<form ng-upload action="/userimport" enctype=multipart/form-data class="import" name="importUser" novalidate>
	<div>
		<label>File</label>
		<input type=file name=file>
	</div>
	<div>
	<label>Courses</label>
	<select ng-model="course" name="course" required>
		<option ng-repeat="c in courses" value="{{c.id}}">{{ c.name }}</option>	
	</select>
	</div>
	<span class=errMsg ng-show="submitted && importUser.course.$invalid">Please select your desired course.</span>
	<input type=submit value=Upload upload-submit="uploadComplete(content)" ng-click="submitted=true">
</form>
</div>
<div ng-show="resultPage">
<h2>Results</h2>
<div ng-show="success">
<h3>Successful Users</h3>
<table class="results">
<tr>
	<th>Username</th>
	<th>Display Name</th>
	<th>Password</th>
</tr>
<tr ng-repeat="user in success">
	<td>{{user.user.username}}</td>
	<td>{{user.user.display}}</td>
	<td>{{user.user.password}}</td>
</tr>
</table>
</div>
<div ng-show="error">
<h3>Errors</h3>
<table class="results">
<tr>
	<th>Username</th>
	<th>Display Name</th>
	<th>Error Message</th>
</tr>
<tr ng-repeat="user in error">
	<td>{{user.user.username}}</td>
	<td>{{user.user.display}}</td>
	<td>{{user.msg}}</td>
</tr>
</table>
</div>