<div class="errFlash span12" ng-show="flash">{{ flash }}</div>
<h2>
	<span ng-show="!instructor">Courses you are enrolled in</span>
	<span ng-show="instructor">Courses you belong to</span>
</h2>

<div class="navbar">
	<form class="searchCourse pull-right" ng-show="admin">
		Search Course: 
		<input class="search-query" type="text" ng-model="cquery">
	</form>
	<a ng-click="check = !check" class="btn" ng-show="instructor" ng-disabled="check" id="step1">
		<i class="icon-book"></i> Create Course
	</a>
</div>
<form class="form-inline createCourse" ng-show="check" ng-submit="submit()">
	<label for="courseName">Course Name: </label>
	<div class="input-append">
		<input id="courseName" type="text" ng-model="course" />
		<input type="submit" class="btn btn-primary" value="Create" />
	</div>
	<br><br>
</form>
<table class="table table-hover">
<tbody>
	<tr ng-repeat="course in courses | orderBy:orderProp | filter:cquery">		
		<td ng-click="redirect('/questionpage/{{course.id}}')" class="pointer" id="step2">
			<b>{{course.name}}</b>
		</td>
		<td ng-click="redirect('/questionpage/{{course.id}}')" class="pointer">
			{{course.time}}
		</td>
		<td ng-click="redirect('/questionpage/{{course.id}}')" class="pointer">
			<span class="label" ng-class="{'label-success': course.count > 0, 'label-default': course.count == 0}">{{course.count}} question(s)</span>
		</td>
		<!--
		<td>
			<a class="btn btn-success" href="#/questionpage/{{course.id}}" id="step2">
				<i class="icon-question-sign"></i> Questions
			</a>
		</td>
		-->
		<td ng-show="instructor">
			<a id="step3" class="btn" href="#/enrollpage/{{course.id}}">
				<i class="icon-plus-sign"></i>
				Enrol Users
			</a>

		</td>
		<td ng-show="instructor">
			<a id="step4" class="btn" href="#/classimport">
				<i class="icon-upload"></i> Import Students
			</a>
		</td>

		<td ng-show="instructor">
			<a id="step4" class="btn" href="#/editcourse/{{course.id}}">
				<i class="icon-edit"></i> Edit Course
			</a>
		</td>
	</tr>
</tbody>
</table>



