<div>
	<h2>Course Page</h2>
	<button ng-show="instructor" ng-click="check=!check">Create Course</button>
	<form ng-show="check" ng-submit="submit()">
		<br>
		<textarea cols="50" rows="13" ng-model="course">Course Name</textarea>
		<br><br>
		<button type="submit">Submit</button>
		<br>
	</form>
	<ul>
		<li ng-repeat="course in courses">
			<p>
				<b>{{course.name}}</b>
				<button ng-click="ask(course.id)">Questions</button>
				<button ng-show="instructor" ng-click="enroll(course.id)">Enroll Students</button>
			</p>
		</li>
	</ul>
</div>
