<div>
	<h2>Course Page</h2>
	<button ng-show="instructor" ng-click="check=!check">Create Course</button>
	<form ng-show="check" ng-submit="submit()">
		<label>Course Name: <input type="text" ng-model="course"></input></label>
		<button type="submit">Create</button>
	</form>
	<ul>
		<li ng-repeat="course in courses | orderBy:orderProp">
			<p>
				<b>{{course.name}}</b>

				<a href="#/questionpage/{{course.id}}"><button>Questions</button></a>
				<button ng-show="instructor" ng-click="enroll(course.id)">Enroll Students</button>
			</p>
		</li>
	</ul>
</div>
