<div>
	<h2>Create User</h2>
	
	<form ng-submit="submit()" name="createUser" class="default" novalidate>
		<div><label>Role</label>
		<select name="type" ng-model="usertype" required>
			<option value="Student">Student</option>
			<option value="Teacher">Teacher</option>
		</select>
		<span class=required>*</span></div>
		<div><label>Username</label><input type=text name="username" ng-model="username" required>
			<span class=required>*</span></div>
		<div><label>First Name</label><input type="text" name="firstname" ng-model="firstname" required>
			<span class=required>*</span></div>
		<div><label>Last Name</label><input type="text" name="lastname" ng-model="lastname" required>
			<span class=required>*</span></div>
		<div><label>Display Name</label><input type="text" name="display" ng-model="display" required>
			<span class=required>*</span></div>
		<div><label>Email</label><input type=text name="email" ng-model="email" ng-click="formaterr=false">
			<span class=errMsg ng-show="formaterr">Incorrect email format.</span></div>
		<div><label>Password</label><input type=password name="password" ng-model="password" required>
			<span class=required>*</span></div>
		<div><label>RetypePW</label><input type=password name="retypepw" ng-model="retypepw" required>
			<span class=required>*</span>
			<span class=errMsg ng-show="(password != retypepw)">The passwords do not match.</span></div>
		<input type=submit name="submit" value=Confirm ng-disabled="createUser.$invalid">
	</form>
</div>
