<div>
	<h2>Edit Course</h2>
	<div class="errFlash" ng-show="flash">{{flash}}</div>
	<form name=editCourse novalidate>
		Course: 
		<br>
		<span class="profile" ng-hide="edit">{{name}}</span> 
		<span class="profile" ng-show="edit">
			<input type="text" name="coursename" ng-model="newname" value="newname" required>
		</span>
		<span class=errMsg ng-show="submitted && editCourse.coursename.$error.required">Course name is required.</span>
		<br><br>
		Tags:
		<br>

		<table ng-table="tagParams" class="table tagTable">
			<tr class="tr" ng-repeat="tag in tags">
				<td data-title="">
					<button class="btn btn-danger btn-xs"
						ng-click="removeTag({{tag.id}})">
						<span class="glyphicon glyphicon-remove icon-large"> </span>
					</button>
				</td>
				<td data-title="Tag" sortable="tag">{{tag.name}}</td>
			</tr>
		</table>


		<input type="text" ng-model="newtag">
			<button class="btn btn-primary btn-sm"
				ng-click="addTag()"><span class="glyphicon glyphicon-plus icon-large">
				</span> Add Tag</button>
		<br><br>
		<br><br>
	</form>
	<a href="" ng-hide="username!=loggedName && loggedType!='Admin'" class="edit" ng-click="edit=!edit; newdisplay=display; newemail=email; newpassword=''; newretypepw=''; oldpassword=''">
		<span class="glyphicon glyphicon-edit icon-large"></span > Edit
	</a> 
	<a href="" class="submit" ng-show="edit" ng-click="submit();submitted=true">
		<span class="glyphicon glyphicon-ok icon-large"></span > Submit
	</a>
</div>


