<div>
	<h2>Enrollment Page</h2>
	<a class="bcrumb" href="#/coursepage"> <i class="icon-fighter-jet"></i> Courses </a>
	<br><br>
	<p> Course: <b>{{course}}</b> </p>
	<br>
	<div class="enroll">
		<div class="tablewrapper">
			<table ng-table="teacherParams" class="table"> 
			Search Teacher: <input ng-model="tquery">
			<tr class="tr" ng-repeat="teacher in teachers" >
				<td title="Name" sortable="username"> 
					<a href="#/userprofile/{{teacher.uid}}">{{teacher.username}}</a>
				</td>
				<td ng-switch on="teacher.enrolled" title="Status" sortable="enrolled">
					<div ng-switch-default>
						<p class="enrolled-sign" ng-click="drop(teacher, 'T')">Enrolled</p>
					</div>
					<div ng-switch-when="">
						<p class="dropped-sign" ng-click="add(teacher, 'T')">Dropped</p>
					</div>
				</td>
			</tr>
			</table>
		</div>
	</div>
	<div class="enroll">
		<div class="tablewrapper">
			<table ng-table="studentParams" class="table">
			Search Student: <input ng-model="squery">
			<tr class="tr" ng-repeat="student in students">
				<td title="Name" sortable="username">
					<a href="#/userprofile/{{student.uid}}">{{student.username}}</a>
				</td>
				<td ng-switch on="student.enrolled" title="Status" sortable="enrolled">
					<div ng-switch-default>
						<p class="enrolled-sign" ng-click="drop(student, 'S')">Enrolled</p>
					</div>
					<div ng-switch-when="">
						<p class="dropped-sign" ng-click="add(student, 'S')">Dropped</p>
					</div>
				</td>
			</tr>
			</table>
		</div>
	</div>
</div>
