<div>
	<h2>Enrollment Page</h2>
	<a href="#/coursepage">Back to Course Page</a>
	<p> Course: <b>{{course}}</b> </p>
	<div style="display: inline-block; vertical-align: top; margin-right: 5em">
			<table ng-table="teacherParams" class="table"> 
			Search Teacher: <input ng-model="tquery" style="border-radius: 7em">
			<tr ng-repeat="teacher in teachers | filter:tquery" >
				<td title="Name" sortable="username"> 
					{{teacher.username}}
				</td>
				<td title="Add">
					<button class="button" ng-disabled="teacher.enrolled" ng-click="add(teacher.uid)">Add Instructor</button>
				</td>
				<td title="Drop">
					<button class="button" ng-disabled="!teacher.enrolled" ng-click="drop(teacher.enrolled)">Drop Instructor</button>
				</td>
				<td title="Status" sortable="enrolled">
					<i ng-show="teacher.enrolled" style="color:green">Enrolled</i>
				</td>
			</tr>
			</table>
	</div>
	<div style="display: inline-block; vertical-align: top">
			<table ng-table="studentParams" class="table">
			Search Student: <input ng-model="squery" style="border-radius: 7em">
			<tr ng-repeat="student in students | filter:squery">
				<td title="Name" sortable="username">
					{{student.username}}
				</td>
				<td title="Add">
					<button class="button" ng-disabled="student.enrolled" ng-click="add(student.uid)">Add Student</button>		
				</td>
				<td title="Drop">
					<button class="button" ng-disabled="!student.enrolled" ng-click="drop(student.enrolled)">Drop Student</button>
				</td>
				<td title="Status" sortable="enrolled">
					<i ng-show="student.enrolled" style="color:green">Enrolled</i>
				</td>
			</tr>
			</table>
	</div>
</div>
