<div>
	<h2>Judge Page</h2>
	<a class="bcrumb" href="#/coursepage"> <i class="icon-fighter-jet"></i> Courses </a>
	<a class="bcrumb" href="#/questionpage/{{cid}}"> <i class="icon-fighter-jet"></i> {{course}} </a>
	<br><br>
	<p>  <b>Question:</b> <br> <p class="question"><ANY ng-bind-html-unsafe="question"></ANY></p> </p>
	<br>
	<a href="" class="sort" ng-click="getscript()">
		<i class="icon-random icon-large"></i> Next Pair of Answers
	</a>
	<br>
	<br>
	<div class="versus">
		<p class="ljanswer"><ANY ng-bind-html-unsafe="scriptl"></ANY></p>

		<h1 class="inline"><br><br>VS</h1>

		<p class="rjanswer"><ANY ng-bind-html-unsafe="scriptr"></ANY></p>
	</div>

	<br>
	
	<div>
		Which is Better?
		<br>
		<input type="radio" name="pick" ng-model="pick" value="left"> 
		<span class="whitespace"> <i class="icon-hand-left icon-large"></i> Left       Right <i class="icon-hand-right icon-large"></i></span>
		<input type="radio" name="pick" ng-model="pick" value="right"> 
		<br>
		<a href="" class="submit" ng-click="submit()">
			<i class="icon-ok icon-large"></i> Submit
		</a>
		</form>
	</div>
</div>

