<div>
	<h2>Judge Page</h2>
	<a class="bcrumb" href="#/coursepage"> <i class="icon-fighter-jet"></i> Courses </a>
	<a class="bcrumb" href="#/questionpage/{{cid}}"> <i class="icon-fighter-jet"></i> {{course}} </a>
	<br><br>
	<p>  <b>Question:</b> <br> <p class="question"><ANY ng-bind-html-unsafe="question"></ANY></p> </p>
	<br>
	<input type="button" class="answer" ng-click="getscript()" value="Next Pair in this Question">
	<br>
	<br>
	<div class="versus">
		<p class="ljanswer"><ANY ng-bind-html-unsafe="scriptl"></ANY></p>

		<h1 class="inline"><br><br><br>&#160;VS&#160;</h1>

		<p class="rjanswer"><ANY ng-bind-html-unsafe="scriptr"></ANY></p>
	</div>

	<br>
	
	<div>
		Which is Better?
		<form ng-submit="submit()">
			<input type="radio" name="pick" ng-model="pick" value="left">Left
			<input type="radio" name="pick" ng-model="pick" value="right">Right
			<br>
			<input class="submit" type="submit" value="Submit">
		</form>
	</div>
</div>

