<div>
	<h2>Question Page</h2>
	<a href="#/coursepage">Back to Course Page</a>
	<br><br>
	<p> Course: <b>{{course}}</b> </p>
	<button class="create" ng-click="check=!check">Create Question</button>
	<form ng-show="check" ng-submit="submit()">
		<br>
		Question Title: <input type="text" ng-model="title"></input>
		<textarea ng-model="question" jqte></textarea>
		<button class="submit" type="submit">Submit</button>
		<br>
	</form>
	<br><br>
	<ul>
		<li ng-repeat="question in questions | orderBy:orderProp:true">
			<p><b>{{question.author}}</b> - {{question.time}}</p>
			<p class="question" ng-hide="full" ng-click="full=!full">{{question.title}}</p>
			<p class="question" ng-show="full"><ANY ng-bind-html-unsafe="question.content"</ANY></p>
			<div class="qbutton">
				<button class="delete" ng-show="login == question.author || instructor" ng-click="delete(question)">
					Delete Question
				</button>
				<a href="#/judgepage/{{question.id}}"> <button class="judge">Judge Answers</button> </a>
				<a href="#/answerpage/{{question.id}}"> <button class="answer">Answer Page</button> </a>
			</div>
			<br><br><br>
		</li>
	</ul>
</div>
