<div>
	<h2>Question Page</h2>
	<a href="#/coursepage"> <i class="icon-fighter-jet"></i> Courses</a>
	<br><br>
	<p> Course: <b>{{course}}</b> </p>
	<input type="button" class="create" ng-click="check=!check" value="Create Question">
	<form ng-show="check" ng-submit="submit()">
		<br>
		Question Title: <input type="text" ng-model="title"></input>
		<br><br>
		<textarea ng-model="question" jqte></textarea>
		<br>
		<input class="submit" type="submit" value="Submit">
		<br>
	</form>
	<br><br>
	<ul>
		<li ng-repeat="question in questions | orderBy:orderProp:true">
			<p><b>{{question.author}}</b> - {{question.time}}</p>
			<div class="qtitle" ng-click="full=!full" ng-hide="full" >
				<i class="icon-collapse"></i>
				{{question.title}}   
			</div>
			<div ng-click="full=!full" ng-show="full">
				<p class="question"><ANY ng-bind-html-unsafe="question.content"</ANY></p>   
			</div>
			<div class="qtitle" ng-click="full=!full" ng-show="full">
				<i class="icon-collapse-top"></i>
			</div>
			<div class="qbutton">
				<a href="" class="delete" ng-show="login == question.author || instructor" ng-click="delete(question)">
					<i class="icon-trash icon-large"></i> Delete
				</a>
				<a href="#/judgepage/{{question.id}}"> <input type="button" class="judge" value="Judge Answers"> </a>
				<a href="#/answerpage/{{question.id}}"> <input type="button" class="answer" value="Answer Page"> </a>
			</div>
			<br><br><br>
		</li>
	</ul>
</div>
