<div>
	<h2>Question Page</h2>

	<ul class="nav nav-tabs">
		<li class="pointer" ng-class="{active: type != 'discussion'}"><a data-toggle="tab" ng-click="setType('quiz');switchEdits(-1)">Quizzes</a></li>
		<li class="pointer" ng-class="{active: type == 'discussion'}"><a data-toggle="tab" ng-click="setType('discussion');switchEdits(-1)">Discussions</a></li>
	</ul>

	<div class="tab-content">

		<div class="navbar marginT5">
			<a href="" class="btn btn-success" ng-click="check=!check"
				id="stepNav"> <span class="glyphicon glyphicon-question-sign icon-large"></span>
				Create Question
			</a>
			<form class="form-inline searchCourse pull-right">
				<span>Search Question:</span> 
				<div class="form-group">
					<input class="form-control" type="text" ng-model="search">
				</div>
			</form>
		</div>

		<div ng-show="check">
			<ng-form class="createQuestion" name="createQuestion"
				ng-submit="submit()" novalidate> <label
				for="questionTitle">Question Title: </label>
			<div class="row">
				<div class="col-lg-3">
					<input class="form-control" id="questionTitle" type="text"
						name="title" ng-model="title" required />
				</div>
			</div>
			<p class="text-error"
				ng-show="submitted && createQuestion.title.$error.required">
				<span class="label label-important"> Error </span> A title is
				required for the question.
			</p>

			<div>
				<span ng-repeat="tag in tags" class="label pointer margin1"
					ng-click="tagActionN({{tag.id}})"
					ng-class="{'label-default': !checkTagN({{tag.id}}), 'label-success': checkTagN({{tag.id}})}">{{tag.name}}</span>
			</div>

			<div class="marginT5">
				Question:
				<div math-toolbar editor="myquestion" class="mathtoolbar"></div>
				<div hallo-editor name="question" ng-model="question"
					id="myquestion" class="entries" ng-mouseup="saveRange()"
					ng-keyup="saveRange()"></div>
				<p class="text-error" ng-show="submitted && !question">
					<span class="label label-important">Error</span> Please enter a
					question.
				</p>
			</div>
			<div ng-show="type!='discussion'">
				Answer:
				<div math-toolbar editor="myanswerq" class="mathtoolbar"></div>
				<div hallo-editor name="answerq" ng-model="answerq" id="myanswerq"
					class="entries" ng-mouseup="saveRange()" ng-keyup="saveRange()"></div>
				<p class="text-error" ng-show="submitted && !answer">
					<span class="label label-important">Error</span> Please enter an
					answer.
				</p>
			</div>

			<a class="btn btn-info" ng-click="previewText(); showpreview=true;">
				<span class="glyphicon glyphicon-eye-open"></span> Preview
			</a> <a class="btn btn-primary" ng-click="submit(); submitted=true">
				<span class="glyphicon glyphicon-ok"></span> Submit
			</a>

			<div class="preview" ng-show="showpreview" mathjax-bind="preview">
			</div>
			</ng-form>
		</div>

		<br>
		<span ng-show="type=='discussion' ? discussions.length == 0 : quizzes.length == 0">There are no questions in this section yet.</span>
		<ul class="postingsList padding0">
			<li ng-class="{quiz: type=='quiz', discussion: type=='discussion'}"
				ng-repeat="question in type=='discussion' ? discussions : quizzes | orderBy:orderProp:true | filter:searchFilter">
				<img
				src="http://www.gravatar.com/avatar/{{question.avatar}}?s=32&d=retro"
				class="avatar">
				<p class="authorHeader">
					<strong>{{question.author}}</strong> - {{question.time}}
				</p>
				<div class="opbuttons">
					<div class="row">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<a href="#/answerpage/{{question.id}}"
										class="btn btn-info btn-sm btnWidth" id="stepAnswer"> <span
										class="glyphicon glyphicon-list-alt icon-large"></span>
										<span ng-show="type=='discussion' || instructor || question.answered"> View Answers</span>
										<span ng-show="type!='discussion' && !instructor && !question.answered"> Answer</span>
									</a>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<a href="#/judgepage/{{question.id}}"
										class="btn btn-primary btn-sm btnWidth" id="stepJudge"
										ng-show="(type=='discussion' || question.answered) && question.count > 1"> <span
										class="glyphicon glyphicon-pencil icon-large"></span> Judge Answers
									</a>
									<button class="btn btn-primary btn-sm disabled btnWidth"
										id="stepJudgeDisabled" ng-show="(type=='quiz' && !question.answered) || question.count <= 1"
										title="Not enough answers to judge yet!">
										<span class="glyphicon glyphicon-pencil icon-large"></span> Judge Answers
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row marginT5">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<span class="label btnWidth top inlineBlock"
										ng-class="{'label-success': question.count > 1, 'label-warning': question.count == 1, 'label-important': question.count == 0}">{{question.count}}
										answer(s)</span>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<a href="#/reviewjudge/{{question.id}}"
										class="btn btn-primary btn-sm btnWidth"
										ng-show="(type=='discussion' || question.answered) && question.count > 1"> <span
										class="glyphicon glyphicon-folder-open icon-large"></span>&nbsp; Review
									</a>
									<button class="btn btn-primary btn-sm disabled btnWidth"
										id="stepJudgeDisabled" ng-show="(type=='quiz' && !question.answered) || question.count <= 1"
										title="Not enough answers have been judged yet!">
										<span class="glyphicon glyphicon-folder-open icon-large"></span>&nbsp; Review
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="row marginT5">
						<div class="col-md-12">
							<div class="row">
								<div class="col-md-4">
									<a class="btn btn-default btn-sm btnWidth"
										ng-show="login == question.author || instructor"
										ng-click="switchEdits({{question.id}});newtitle=question.title;newquestion=question.content;showpreviewEdit=false;">
										<span class="glyphicon glyphicon-edit icon-large"></span> Edit
									</a>
								</div>
								<div class="col-md-4 col-md-offset-1">
									<a class="btn btn-danger btn-sm btnWidth"
										ng-show="login == question.author || instructor"
										ng-click="remove(question)"> <span
										class="glyphicon glyphicon-trash icon-large"></span> Delete
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div ng-hide="{{question.id}} == editId" id="stepTitle">
					<h4 mathjax-bind="question.title"></h4>
					<div>
						<span ng-repeat="tag in question.tags" class="label label-success margin1">{{tag}}</span>
					</div>
					<a ng-click="full=!full" class="btn btn-default btn-xs marginT5"> <span
						ng-hide="full"> <span class="glyphicon glyphicon-collapse-down"></span> Show
					</span> <span ng-show="full"> <span class="glyphicon glyphicon-collapse-up"></span>
							Hide
					</span>
					</a>
					<div class="questionContent" ng-show="full"
						mathjax-bind="question.content"></div>
				</div>

				<div ng-show="{{question.id}} == editId">
					<ng-form name="createQuestion" novalidate>
						Question Title:
						<div class="row">
							<div class="col-lg-3">
								<input type="text" name="title" class="form-control"
									ng-model="newtitle" required>
							</div>
						</div>
						<p class="text-error"
							ng-show="submitted && createQuestion.title.$error.required">
							<span class="label label-important"> Error </span> A title is
							required for the question.
						</p>
						
						<div>
							<span ng-repeat="tag in tags" class="label pointer margin1"
								ng-class="{'label-default': !checkTagQ(question.tmptags, tag.name), 'label-success': checkTagQ(question.tmptags, tag.name)}"
								ng-click="tagActionQ(question.tmptags, tag.name)">{{tag.name}}</span>
						</div>
				
						<div math-toolbar editor="question{{question.id}}"
							class="mathtoolbar marginT5"></div>
						<div hallo-editor name="question" ng-model="newquestion"
							id="question{{question.id}}" class="entries questionContent"
							ng-mouseup="saveRange()" ng-keyup="saveRange()"></div>
						<p class="text-error" ng-show="submitted && !newquestion">
							<span class="label label-important"> Error </span> Please enter a
							question.
						</p>

						<a class="btn btn-info"
							ng-click="previewTextEdit(question); showpreviewEdit=true;">
							<span class="glyphicon glyphicon-eye-open"></span> Preview
						</a> <a class="btn btn-primary"
							ng-click="editquestion(newtitle, newquestion, question);switchEdits(-1);submitted=true">
							<span class="glyphicon glyphicon-ok"></span> Submit
						</a>

						<div class="preview" ng-show="showpreviewEdit"
							mathjax-bind="previewEdit"></div>

					</ng-form>

				</div>
			</li>
		</ul>
	</div>
</div>
