<h2>{{cname}}</h2>
<div class="row">
	<div class="col-lg-4">
		<div class="input-group marginT15">
			<div class="checkbox">
				<label> <input type="checkbox" name="question" ng-model="question" ng-checked="question || questionTitle || questionBody || questionComments" ng-disabled="questionTitle || questionBody || questionComments"> Export Questions
				</label>
			</div>
			<div class="marginL50">
				<div class="checkbox">
					<label> <input type="checkbox" name="questionTitle" ng-model="questionTitle"> Export Title
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" name="questionBody" ng-model="questionBody"> Export Body
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" name="questionComments" ng-model="questionComments"> Export Comments
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="input-group marginT15">
			<div class="checkbox">
				<label> <input type="checkbox" name="answer" ng-model="answer" ng-checked="answer || answerTitle || answerBody || answerComments" ng-disabled="answerTitle || answerBody || answerComments"> Export Answers
				</label>
			</div>
			<div class="marginL50">
				<div class="checkbox">
					<label> <input type="checkbox" name="answerBody" ng-model="answerBody"> Export Body
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" name="answerComments" ng-model="answerComments"> Export Comments
					</label>
				</div>
			</div>
		</div>
	</div>
	<div class="col-lg-4">
		<div class="input-group marginT15">
			<div class="checkbox">
				<label> <input type="checkbox" name="judgement" ng-model="judgement" ng-checked="judgement || judgementQuestion || judgementAnswer || judgementComments" ng-disabled="judgementQuestion || judgementAnswer || judgementComments"> Export Judgements
				</label>
			</div>
			<div class="marginL50">
				<div class="checkbox">
					<label> <input type="checkbox" name="judgementQuestion" ng-model="judgementQuestion"> Export Question
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" name="judgementAnswer" ng-model="judgementAnswer"> Export Answers
					</label>
				</div>
				<div class="checkbox">
					<label> <input type="checkbox" name="judgementComments" ng-model="judgementComments"> Export Comments
					</label>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row marginT50">
	<div class="col-lg-4">
		<button class="btn btn-primary" ng-click="export()">
			<span class="glyphicon glyphicon-export"></span> Export
		</button>
	</div>
</div>