<div>
	<h2>User Profile</h2>
<!-- 	<div class="alert alert-danger" ng-show="flash">{{flash}}</div> -->
	<form name=userProfile novalidate class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-lg-3">Username</label>
			<div class="col-lg-6">
				<p class="form-control-static">{{username}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3">{{usertype}} Name</label>
			<div class="col-lg-3">
				<p class="form-control-static">{{fullname}}</p>
			</div>
		</div>
		<div class="form-group">
			<label class="col-lg-3">Display Name</label>
			<div class="col-lg-3">
				<p class="form-control-static" ng-hide="edit">{{display}}</p>
				<input type="text" name="displayname" ng-model="newdisplay" value="newdisplay" required ng-show="edit" class="form-control">
			</div>
			<span class="required" ng-show="submitted && userProfile.displayname.$error.required">Display name is required.</span>			
		</div>
		<div class="form-group">
			<label class="col-lg-3">Email</label>
			<div class="col-lg-3">
				<p class="form-control-static" ng-hide="edit">{{email}}</p>
				<input type="text" ng-model="newemail" ng-click="formaterr=false" value="newemail" class="form-control" ng-show="edit">
			</div>
			<span class="required" ng-show="formaterr">Incorrect email format</span>
		</div>
		<div class="form-group">
			<label class="col-lg-3">Password</label>
			<div class="col-lg-3">
				<p class="form-control-static" ng-hide="edit"><span class="glyphicon glyphicon-lock icon-large"></span></p>
				
				<div class="profile" ng-show="edit && (loggedType!='Admin' || username==loggedName)">
					<input type="password" ng-model="oldpassword" placeholder="Current Password" class="form-control">
					<input type="password" ng-model="newpassword" placeholder="New Password" class="form-control">
					<input type="password" ng-model="newretypepw" placeholder="Retype Password" class="form-control">
				</div>
				
				<div class="profile" ng-show="edit && loggedType=='Admin' && username!=loggedName">
					<a href="" class="reset btn btn-default btn-xs" ng-click="resetpw()">
						<span class="glyphicon glyphicon-wrench icon-large"></span > Reset Password
					</a>
					<div class="marginT15">{{resetpassword}}</div>
				</div>
		
			</div>
			<div class="errMsg" ng-show="submitted && (oldpassword == '') && newpassword"><span class="required">
						Provide current password to change password</span></div>
			<div ng-show="submitted && (newpassword != newretypepw)"><span class="required">
						The passwords do not match.</span></div>
		</div>
	</form>
	<a href="" class="btn btn-default" ng-hide="username!=loggedName && loggedType!='Admin'" class="edit" ng-click="edit=!edit; newdisplay=display; newemail=email; newpassword=''; newretypepw=''; oldpassword=''">
		<span class="glyphicon glyphicon-edit icon-large"></span > Edit
	</a> 
	<a href="" class="btn btn-primary" class="submit" ng-show="edit" ng-click="submit();submitted=true">
		<span class="glyphicon glyphicon-ok icon-large"></span > Submit
	</a>
</div>


