<!DOCTYPE html>
<!--[if IE 9]><html ng-app = "myApp" auth-login class="ie9"><![endif]-->
<html ng-app = "myApp" auth-login>
    <head>
        <base href="/app/">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- add empty favicon.ico to prevent broswer errors -->
        <link rel="icon" href="data:;base64,iVBORw0KGgo=">
        <title>ComPAIR</title>

        <!-- needed when ckeditor is minified or when running unit tests -->
        <script src="{{ url_for('static', filename='lib_extension/ckeditor/basepath.js') }}"></script>

        <!-- Bower Installed Libs, automatically inserted using gulp modules -->
        <!-- bower:css -->
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/bootstrap/dist/css/bootstrap.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/fontawesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/highlightjs/styles/foundation.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/angular-loading-bar/build/loading-bar.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='lib/AngularJS-Toaster/toaster.css') }}" />
        <!-- endbower -->

        <!-- Javascript Libraries -->
        <!-- build:prod_minify_js_libs -->
        <script src="{{ bower_js_libs }}"></script>
        <!-- endbuild -->

        <!-- Non-Bower Managed Includes -->

        <!-- ACJ Stylesheet -->
        <!-- build:prod_compile_minify_css -->
        <link rel="stylesheet" href="{{ acj_css }}">
        <!-- endbuild -->

        <!-- MathJax, should figure out how to bower manage this -->
        <script type="text/javascript" src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_HTMLorMML&delayStartupUntil=configured"></script>
        <script type="text/javascript">
        MathJax.Hub.Config({
          skipStartupTypeset: true
        });
        MathJax.Hub.Configured();
        CKEDITOR.plugins.addExternal( 'combinedmath', '../../lib_extension/ckeditor/plugins/combinedmath/' );
        </script>

        <!-- build:prod_minify_js -->
        <script src="{{ acj_js }}"></script>
        <!-- endbuild -->

        <!-- Google Analytics -->
        <script async src='//www.google-analytics.com/analytics.js'></script>
        <!-- inject:js -->
        <!-- endinject -->
    </head>
    <body>

    <!--[if lt IE 9 ]>
    <div class="alert-warning">
        <i class="fa fa-warning"></i>
        This application only supports <strong>Internet Explorer 9 and higher</strong>. Please <a href="http://windows.microsoft.com/en-ca/internet-explorer/download-ie">upgrade your browser</a> or download <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a>, <a href="http://www.google.com/chrome/">Chrome</a>, or <a href="https://www.apple.com/ca/safari/">Safari</a> to use instead. Thank you!
    </div>
    <![endif]-->

    <!-- Main Navbar -->
    <ng-include src="'modules/navbar/navbar-partial.html'"></ng-include>

    <!-- Toast Messages from AngularJS-Toaster -->
    <toaster-container toaster-options="{'limit': 1, 'position-class': 'toast-top-full-width-opaque'}"></toaster-container>

    <!-- Main Viewport, where all the module partials are shown -->
    <div class="container">
        <!-- ngView, should have it's own row and column css organization -->
        <div ng-view=""></div>
    </div>
    </body>
</html>
