<div>

	<label>Available Criteria</label>

	<div ng-repeat="(key, criterion) in course.criteria" class="row">
		<div class="col-sm-2" ng-if="courseId">
			<p><a href="" ng-click="changeCriterion(criterion)"
				  ng-if="(canManageCriteriaCourses || criterion.users_id==loggedInUserId) && !criterion.judged">
				Edit
			</a></p>
		</div>
		<div class="col-sm-2">
			<p><a href="" confirmation-needed="remove(key)" keyword="criterion" ng-if="!criterion.in_question">
				<i class="fa fa-minus-circle"></i> Drop <i class="visible-xs fa fa-arrow-down"></i>
			</a></p><!-- disable from course / add to dropdown -->
		</div>
		<div class="col-sm-8">
			<strong>{{ key + 1 }}. {{ criterion.name }}</strong>
			<div ng-bind-html="criterion.description"></div>
		</div>
	</div>
	
	<div ng-show="criteria.length < 1">
		<p>No criteria added yet for this course. Please select or create a new one below.</p>
	</div>
	
	<hr/>
        
	<!-- dropdown with leftover criteria / Add button-->
	<label>Add To Course Criteria</label>
	
	<br /><br />
	
	<div class="row">
		<div class="col-sm-2">
			<p><a href="" class="btn btn-small btn-primary" ng-click="changeCriterion()">Add New</a></p>
		</div>
		<div class="col-sm-1">
			<p>OR</p>
		</div>
		<div class="form-group col-sm-6">
			<select class="form-control" ng-model="selected" ng-options="key as c.name for (key, c) in availableCriteria">
				<option value="">- select a default -</option>
			</select>
		</div>
		<div class="col-sm-3">
			<!-- used length because when list is empty the empty option gets a value of 0 which is valid -->
			<p><a class="btn btn-small btn-primary" ng-click="add(selected)" ng-disabled="!selected || !availableCriteria.length">Add Selected</a></p>
		</div>
        </div>
	
	
</div>