<div style="margin-bottom: 2em;">
        <div ng-repeat="(key, criterion) in criteria">
            <span>{{ key + 1 }}. {{ criterion.criterion.name }}</span>
            <a href="#/course/{{ courseId }}/criterion/{{ criterion.criterion.id }}/edit" ng-if="canManageCriteriaCourses || criterion.criterion.users_id==loggedInUserId">
				Edit</a>
            <!--<a href="#"><i class="fa fa-trash-o"></i></a> <!-- disable from course / add to dropdown -->
		</div>
        <!-- dropdown with leftover criteria / Add button-->
</div>