.each-attachment-content, .each-embeddable-content {
    font-size: 0.9em;

    audio.content-item {
        width: 100%;
    }

    img.content-item {
        max-width: 100%;
    }

    .twttr-content-item {
        height: 100%;
    }
}

.modal-content {
    .each-embeddable-content {
        border-left: none;
        padding-left: 0em;
    }
}