	<div class="commentsList">
		<ul class="postingsList padding0">
			<li ng-repeat="comment in anyComments">
				<img src="http://www.gravatar.com/avatar/{{comment.avatar}}?s=32&d=retro" class="avatar">
				<p class="authorHeader"><strong>{{comment.author}}</strong> - {{comment.time}}</p>

				<div class="opbuttons">
					<a href="" class="btn btn-default btn-sm" ng-show="instructor || login==comment.author" 
						ng-click="switchEdits({{comment.id}});newCom=comment.content">
						<span class="glyphicon glyphicon-edit"></span >
						Edit
					</a>
					<a href="" class="btn btn-danger btn-sm" ng-show="instructor || login==comment.author" ng-click="delComment(comment)">
						<span class="glyphicon glyphicon-remove-sign"></span >
						Delete
					</a>
				</div>

				<div ng-hide="switchEdits() == {{comment.id}}" mathjax-bind="comment.content" class="questionContent"></div>
				<div ng-show="switchEdits() == {{comment.id}}" class="comment">
					<div math-toolbar editor="editcom{{comment.id}}" class="mathtoolbar"></div>
					<div hallo-editor name="editCom" ng-model="newCom" id="editcom{{comment.id}}" class="entries" ng-mouseup="saveRange($event, contentLength)" ng-keydown="saveRange($event, contentLength)"></div>
				</div>
				<a href="" class="btn btn-primary" ng-show="switchEdits() == {{comment.id}}" ng-click="editComment(comment, newCom);">
					<span class="glyphicon glyphicon-ok-sign"></span> Submit
				</a>
			</li>
		</ul>

		<a href="" class="btn btn-default" ng-click="lcomm=!lcomm">
			<span class="glyphicon glyphicon-comment"></span > Leave a Comment
		</a>

		<div ng-show="lcomm" class="createPosting">
			<ng-form name="addComment" novalidate>
				<div math-toolbar editor="mycomment{{type}}{{sid}}" class="mathtoolbar"></div>
				<div hallo-editor name="qcom" ng-model="myComment" id="mycomment{{type}}{{sid}}" class="entries" ng-mouseup="saveRange($event, contentLength)" ng-keydown="saveRange($event, contentLength)"></div>
				<p class="text-error" ng-show="newComment && !myComment">
					<span class="label required">Error</span>
					Please enter a comment.
				</p>

				<a href="" class="btn btn-primary" ng-click="makeComment();newComment=true;">
					<span class="glyphicon glyphicon-ok"></span > Submit
				</a>
			</ng-form>
		</div>
	</div>

