<div class="evaluate-screen">

    <h1>Compare Answer Pairs</h1>

    <p class="intro-text">
        For each round, choose which answer better matches the criteria below, give helpful feedback on both answers in the pair, and submit the comparison.
        Please note <strong>comparisons are not automatically saved</strong> as you type.
        However, you may manually save a draft of the round below.
    </p>

    <p class="assignment-toggle"><a href="" ng-click="showAssignment = !showAssignment">
        <i class="fa fa-chevron-down" ng-show="showAssignment "></i>
        <i class="fa fa-chevron-right" ng-hide="showAssignment "></i>
        Show description for assignment "{{assignment.name}}"
    </a></p>

    <div ng-show="showAssignment " class="standalone-assignment">
        <h2><i class="fa fa-comments"></i> {{assignment.name}}</h2>
        <rich-content content="assignment.description" attachment="assignment.file"></rich-content>
    </div>

    <div class="row answer-pair">

        <hr />

        <div class="h3 text-center" ng-show="showCountDown && !comparisonError">
            <timer end-time="assignment.compare_end">
                <span ng-show="minutes > 0 || seconds > 0" title="Official time remaining until deadline" class="bg-danger alert text-danger"><i class="glyphicon glyphicon-time"></i> {{minutes}} minutes {{seconds}} seconds left</span>
                <span ng-show="minutes == 0 && seconds == 0" class="bg-danger alert text-danger"><i class="glyphicon glyphicon-time"></i> DEADLINE REACHED</span>
            </timer>
            <br /><br />
            <span class="h4">(Comparison must be submitted before deadline to be accepted)</span>
        </div>

        <h2 class="col-md-6">Answer pair</h2>
        <h2 class="col-md-6 text-right rounds"><span ng-hide="comparisonError" class="label label-warning">
            Round {{current}} <span ng-if="!canManageAssignment">/ {{total}}</span>
        </h2>

        <div ng-show="comparisonError" class="alert alert-info" role="alert">
            <p><strong>Break time!</strong> You've compared the currently available answer pairs. Please check back later to compare new pairs after more answers have been submitted.</p>
        </div>

        <div class="col-md-6" ng-hide="comparisonError">
            <div class="answer-choice clearfix">
                <h3 class="text-center"><compair-logo type="'scale-flipped'"></compair-logo> Answer {{answer1.evaluation_number}}</h3>
                <rich-content content="answer1.content" attachment="answer1.file" download-name="'Answer #'+answer1.evaluation_number"></rich-content>
            </div>
        </div>

        <div class="col-md-6" ng-hide="comparisonError">
            <div class="answer-choice clearfix">
                <h3 class="text-center"><compair-logo type="'scale'"></compair-logo> Answer {{answer2.evaluation_number}}</h3>
                <rich-content content="answer2.content" attachment="answer2.file" download-name="'Answer #'+answer2.evaluation_number"></rich-content>
            </div>
        </div>

    </div>

    <form name="comparisonForm" ng-submit="comparisonSubmit(comparisonForm)" novalidate ng-hide="comparisonError" confirm-form-exit form-type="compare">

        <div>

            <hr />

            <h3>1) Choose the answer that best meets the criteria below</h3>

            <div ng-if="assignment.criteria.length == 0" class="text-center">
                <p>No criteria have been set for this assignment yet. Please select one or more criteria.</p>
                <br />
            </div>

            <div class="form-group sub-step" ng-repeat="comparison_criterion in comparison.comparison_criteria">

                <div class="each-criterion">
                    <fieldset>
                        <legend>Criterion #{{$index + 1}}</legend>
                        <div class="row">
                            <div class="col-sm-8">
                                <h4><i class="fa fa-gavel"></i> {{comparison_criterion.criterion.name}}</h4>
                                <hr />
                                <div class="criteria" mathjax hljs
                                     ng-bind-html="comparison_criterion.criterion.description">
                                </div>
                            </div>
                            <div class="col-sm-4 text-center">
                                <p class="required-star"><strong>Select Your Choice</strong></p>
                                <div class="btn-group">
                                    <label class="btn btn-primary" ng-class="{active: comparison_criterion.winner == WinningAnswer.answer1 }">
                                        <i class="fa fa-thumbs-up"></i><input type="radio" class="hideRadio"
                                            name="answer{{answer1.id}}" required
                                            ng-model="comparison_criterion.winner"
                                            ng-value="WinningAnswer.answer1">
                                        Answer {{answer1.evaluation_number}}
                                    </label>
                                    <label class="btn btn-primary" ng-class="{active: comparison_criterion.winner == WinningAnswer.answer2 }">
                                        <i class="fa fa-thumbs-up"></i><input type="radio" class="hideRadio"
                                            name="answer{{answer2.id}}" required
                                            ng-model="comparison_criterion.winner"
                                            ng-value="WinningAnswer.answer2">
                                        Answer {{answer2.evaluation_number}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>

            </div>

            <hr />

            <h3>2) Give detailed feedback to the author of each answer</h3>

            <div class="row sub-step">

                <div class="intro-text" ng-if="assignment.peer_feedback_prompt">
                    <div mathjax hljs ng-bind-html="assignment.peer_feedback_prompt"></div>
                </div>

                <div class="intro-text" ng-if="!assignment.peer_feedback_prompt">
                    Use any instructor-provided guidelines or answer general questions, based on the criteria above:
                    <strong>What did the author do well? Where might the author improve?</strong>
                    Remember to make your comments&mdash;including criticisms&mdash;encouraging, respectful, and specific.
                </div>

                <p class="assignment-toggle"><a href="" ng-click="showAnswers = !showAnswers">
                    <i class="fa fa-chevron-down" ng-show="showAnswers"></i>
                    <i class="fa fa-chevron-right" ng-hide="showAnswers"></i>
                    Show answer pair again for Round {{current}}
                </a></p>

                <div class="col-md-6">
                    <div ng-show="showAnswers" class="answer-choice clearfix">
                        <h3 class="text-center"><compair-logo type="'scale'"></compair-logo> Answer {{answer1.evaluation_number}}</h3>
                        <rich-content content="answer1.content" attachment="answer1.file" download-name="'Answer #'+answer1.evaluation_number"></rich-content>
                    </div>
                </div>

                <div class="col-md-6">
                    <div ng-show="showAnswers" class="answer-choice clearfix">
                        <h3 class="text-center"><compair-logo type="'scale'"></compair-logo> Answer {{answer2.evaluation_number}}</h3>
                        <rich-content content="answer2.content" attachment="answer2.file" download-name="'Answer #'+answer2.evaluation_number"></rich-content>
                    </div>
                </div>
            </div>

            <div class="row sub-step">
                <fieldset>
                    <legend>Peer Feedback</legend>
                    <div class="col-md-6">
                        <label class="cke-label" ng-class="{'required-star': !canManageAssignment}">
                            Your private feedback for Answer {{answer1.evaluation_number}}'s author
                            <i class="fa fa-arrow-down"></i>
                        </label>
                        <textarea id="answer1_feedback" ng-if="comparison.id || preview"
                            ng-model="answer1_feedback.content" rows="8" ckeditor="editor1Options" ng-required="{{!canManageAssignment}}">
                        </textarea>
                    </div>

                    <div class="col-md-6">
                        <label class="cke-label" ng-class="{'required-star': !canManageAssignment}">
                            Your private feedback for Answer {{answer2.evaluation_number}}'s author
                            <i class="fa fa-arrow-down"></i>
                        </label>
                        <textarea id="answer2_feedback" ng-if="comparison.id || preview"
                            ng-model="answer2_feedback.content" rows="8" ckeditor="editor2Options" ng-required="{{!canManageAssignment}}">
                        </textarea>
                    </div>
                </fieldset>
            </div>
        </div>
        <p class="text-center text-muted"><span class="required-star "></span> = required (please make sure these areas are filled in)</p>      
        <div class="form-group sub-step text-center">
            <input ng-disabled="submitted" type="submit"
                ng-click="isDraft = true"
                value="Save Draft" class="btn btn-default btn-lg" />
            &nbsp; &nbsp;
            <!-- button to submit and refresh page IF evaluations remain for user -->
            <input ng-disabled="comparisonForm.$invalid || submitted" type="submit"
                ng-click="isDraft = false"
                value="Submit" class="btn btn-success btn-lg" />
            <p ng-if="submitted">
                <i class="fa fa-spin fa-spinner"></i>
                &nbsp; Saving comparison...
            </p>
        </div>

    </form>

</div>

