<div class="evaluations-screen">
    <div class="tab-header">
        <div class="row">
            <div class="col-sm-6">
                <h2>All comparisons
                    <span ng-if="comparisonFilters.group && !comparisonFilters.author"> for "{{ comparisonFilters.group }}"</span>
                    <span ng-if="comparisonFilters.author"> for "{{ comparisonFiltersName }}"</span>
                </h2>
                <p ng-if="numPages > 1">(Page {{comparisonFilters.page}} of {{numPages}})</p>
            </div>

            <div class="col-sm-6 text-right multi-filters">
                <div>
                    <span class="filter">
                        <label>Show: &nbsp;</label>
                        <select ng-if="groups.length > 0" ng-model="comparisonFilters.group" class="nullable" chosen
                                ng-options="group.id as group.name for group in groups">
                            <option value="">All groups</option>
                        </select>
                        <select id="comparison-filter" ng-model="comparisonFilters.author" class="nullable" chosen
                                ng-options="user.id as user.name for user in users">
                            <option value="">All</option>
                        </select>
                    </span>

                    <span class="filter">
                        <button uib-btn-checkbox ng-model="showAnswers" class="btn btn-sm btn-default">
                            Expand All Answer Pairs Below
                        </button>
                    </span>
                </div>
            </div>
        </div>

        <p class="intro-text">Comparisons submitted for this assignment are shown below, and this tab is only seen by you and your teaching team. Filter by a group (if available) and student evaluator's name, or select all for these options to see the full list of comparisons. To see all feedback left for each student answer, visit the "All Answers" tab.</p>

        <div ng-show="!comparison_sets.length">
            <p>No comparisons were found<span ng-if="comparisonFilters.group || comparisonFilters.author"> with these filter settings. Try another choice above</span>.</p>
        </div>
    </div>

    <div ng-show="comparison_sets.length" class="evaluations">

        <div ng-repeat="comparison_set in comparison_sets">
            <div class="each-evaluation-self">
                <h4 class="text-center evaluator-heading">
                    <i class="fa fa-user" aria-hidden="true"></i> {{ comparison_set.user.fullname_sortable }} <br />
                    <i class="fa fa-arrow-down"></i>
                </h4>
                <div class="evaluator-answer">
                    <p class="content"><a href="" ng-click="loadAnswerByAuthor(comparison_set.user.id);showMyAnswer = !showMyAnswer;">
                        <i ng-show="showMyAnswer" class="fa fa-chevron-down"></i>
                        <i ng-hide="showMyAnswer" class="fa fa-chevron-right"></i>
                        <em ng-if="isInstructor(comparison_set.user.id)">Show instructor/TA's answer</em>
                        <em ng-if="!isInstructor(comparison_set.user.id)">Show student's answer</em>
                    </a></p>
                    <compair-student-answer class="answer" answer="(answers | filter:{user_id:comparison_set.user.id}:true)[0]" ng-show="showMyAnswer"></compair-student-answer>
                    <br />
                    <div class="" ng-if="comparison_set.self_evaluations.length > 0">
                        <div ng-repeat="self_evaluation in comparison_set.self_evaluations">
                            <div class="each-header">
                                <compair-student-avatar user="self_evaluation.user"></compair-student-avatar>
                                <strong>self-evaluated</strong> on {{ self_evaluation.created | amDateFormat: 'MMM D @ h:mm a'}}:
                            </div>
                            <div class="content" mathjax hljs ng-bind-html="self_evaluation.content"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="each-evaluation" ng-if="comparison_set.comparisons.length==0">
                <div class="each-header">
                </div>
                <div class="content">
                    <p>(No pair comparisons completed by this student.)</p>
                </div>
            </div>

            <div class="each-evaluation" ng-repeat="comparison in comparison_set.comparisons">

                <!-- Comparison Header -->
                <div class="each-header">
                    <compair-student-avatar user="comparison.user"></compair-student-avatar>
                    <strong>compared</strong> on {{ comparison.created | amDateFormat: 'MMM D @ h:mm a'}}:
                </div>

                <!-- Answers -->
                <h5 class="content">Answer Pair</h5>

                <p class="show-answers content"><a href="" ng-click="showAnswers = !showAnswers;">
                    <i ng-show="showAnswers" class="fa fa-chevron-down"></i>
                    <i ng-hide="showAnswers" class="fa fa-chevron-right"></i>
                    Show answer pair
                </a></p>

                <div class="row collapsible-content" ng-show="showAnswers">
                    <compair-answer-content answer="comparison.answer1" is-chosen="comparison.winner == WinningAnswer.answer1" name="Odd-Numbered Answer" show-score="true"></compair-answer-content>
                    <hr class="visible-xs-block" />
                    <compair-answer-content answer="comparison.answer2" is-chosen="comparison.winner == WinningAnswer.answer2" name="Even-Numbered Answer" show-score="true"></compair-answer-content>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <h5 class="content">Feedback Given for Odd-Numbered Answer</h5>
                        <!-- feedback for odd-numbered answer -->
                        <div ng-repeat="feedback in comparison.answer1_feedback">
                            <div class="content" mathjax hljs ng-bind-html="feedback.content"></div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5 class="content">Feedback Given for Even-Numbered Answer</h5>
                        <!-- feedback for even-numbered answer -->
                        <div ng-repeat="feedback in comparison.answer2_feedback">
                            <div class="content" mathjax hljs ng-bind-html="feedback.content"></div>
                        </div>
                    </div>
                </div>

                <h5 class="content">Answer Chosen by Criterion</h5>

                <div ng-repeat="comparison_criterion in comparison.comparison_criteria">

                    <p class="content">"{{comparison_criterion.criterion.name}}"<br />
                        <span class="glyphicon glyphicon-ok-circle"></span>
                        <span ng-if="comparison_criterion.winner == WinningAnswer.answer1"><strong>Odd-numbered answer</strong></span>
                        <span ng-if="comparison_criterion.winner == WinningAnswer.answer2"><strong>Even-numbered answer</strong></span>
                    </p>

                </div>
            </div>

        </div>

    </div>

    <div class="text-center">
        <ul uib-pagination total-items="totalNumComparisonSets" ng-model="comparisonFilters.page"
            max-size="10" class="pagination-sm" boundary-links="true" direction-links="false"
            items-per-page="comparisonFilters.perPage" num-pages="numPages" ng-hide="numPages == 1"></ul>
    </div>
</div>
