<h1>Edit Password</h1>

<form name="changePasswordForm" class="form" ng-submit="changePassword()" novalidate>
    
    <fieldset>
        <legend>Password Details</legend>
        <compair-field-with-feedback form-control="changePasswordForm.oldpassword" ng-if="ownProfile || !canManageUsers">
            <label for="oldpassword" class="required-star">Old Password</label>
            <input class="form-control" id="oldpassword" type="password"
                name="oldpassword" ng-model="password.oldpassword"
                required />
            <!-- if the field is empty AND a save attempted -->
            <p ng-if="changePasswordForm.oldpassword.$invalid && saveModalAttempted" class="alert alert-warning">What password currently exists for this user?</p>
            <!-- if the field is incorrect AND a save attempted -->
            <p ng-if="changePasswordForm.oldpassword.$valid && incorrectPassword && saveModalAttempted && problemPassword == password.oldpassword" class="alert alert-warning">The old password "{{problemPassword}}" is not correct. Please enter another.</p>
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="changePasswordForm.newpassword">
            <label for="newpassword" class="required-star">New Password</label>
            <input class="form-control" id="newpassword" type="password"
                name="newpassword" ng-model="password.newpassword"
                ng-minlength="4" required />
            <!-- if the field is empty AND a save attempted -->
            <p ng-if="changePasswordForm.newpassword.$invalid && saveModalAttempted" class="alert alert-warning">What new password (minimum 4 characters) should this user log in with instead?</p>
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="changePasswordForm.verifypassword">
            <label for="verifypassword" class="required-star">Verify New Password</label>
            <input class="form-control" id="verifypassword" type="password"
                name="verifypassword" ng-model="password.verifypassword"
                required pw-match="newpassword" />
            <!-- if the field is empty/not matching AND a save attempted -->
            <p ng-if="changePasswordForm.verifypassword.$invalid && saveModalAttempted" class="alert alert-warning">Please make sure this matches with the new password above.</p>
        </compair-field-with-feedback>
    </fieldset>
    
    <!-- different helper messages for pre or post save attempts -->
    <p class="text-center text-muted" ng-if="!saveModalAttempted"><span class="required-star "></span> = required (please make sure these areas are filled in)</p>
    <p class="text-center text-warning" ng-if="saveModalAttempted"><strong><i class="glyphicon glyphicon-warning-sign"></i></strong> {{helperMsg}}</p>
    
    <input type="submit" class="btn btn-success btn-lg center-block" ng-disabled="submitted" ng-click="showErrors($event, changePasswordForm.$valid)" value="Save" />
    
</form>