<div>
    <div class="pull-right" ng-if="canManageUsers || showEditButton.available || ownProfile">
        <a id="edit-profile-btn" ng-href="#/user/{{user.id}}/edit" class="btn btn-primary">
            <i class="fa fa-edit"></i> Edit User
        </a>
    </div>
    <h1><i class="fa fa-user"></i> {{user.displayname}}'s Profile</h1>
    <p ng-if="!(canManageUsers || loggedInUserIsInstructor) && ownProfile" class="intro-text">Instructors can always see your complete profile information, if you are enrolled in their ComPAIR course. Students can only see your display name, anonymous icon, and the last time you logged in. To make yourself fully anonymous to other students, click the "Edit" button and change what appears in the "Display Name" field.</p>
    <p ng-if="canManageUsers || loggedInUserIsInstructor" class="intro-text">Instructors can always see complete student profile information, if the student is enrolled in their ComPAIR course. Students can only see each other's display name, anonymous icon, and the last time a student logged in. To ensure student anonymity, have your students check what appears as their display name. (To edit student information in bulk, use the "Manage Users" option found on the course page.)</p>
    <p ng-if="(canManageUsers || loggedInUserIsInstructor) && ownProfile" class="intro-text">Instructors may use personalized icons, which can be added and managed through <a href="https://en.gravatar.com/">Gravatar</a>.</p>
    <hr>
    <div class="col-md-3 gravatar-img">
        <a ng-if="canManageUsers || loggedInUserIsInstructor" href="https://en.gravatar.com/" title="Add or edit your user image with Gravatar">
           <img id="user_avatar" class="media-object" ng-src="//www.gravatar.com/avatar/{{user.avatar}}?s=200&d=retro">
        </a>
        <img ng-if="!(canManageUsers || loggedInUserIsInstructor)" id="user_avatar" class="media-object" ng-src="//www.gravatar.com/avatar/{{user.avatar}}?s=200&d=retro">
    </div>
    <div class="col-md-9 user-details">
        <div class="row">
            <strong class="col-md-3">Display Name:</strong>
            <div id="user_displayname" class="col-md-9">{{ user.displayname }}</div>
        </div>
        <div class="row" ng-if="canManageUsers || loggedInUserIsInstructor || ownProfile">
            <strong class="col-md-3">Name:</strong>
            <div id="user_fullname" class="col-md-9">{{ user.fullname }}</div>
        </div>
        <div class="row" ng-if="(canManageUsers || loggedInUserIsInstructor || ownProfile) && user.system_role == SystemRole.student">
            <strong class="col-md-3">Student Number:</strong>
            <div id="user_student_number"  class="col-md-9">{{ user.student_number }}</div>
        </div>
        <div class="row" ng-if="canManageUsers || (UserSettings.expose_email_to_instructor && showEditButton.available) || ownProfile">
            <strong class="col-md-3">Email:</strong>
            <div id="user_email"  class="col-md-9">{{ user.email }}</div>
        </div>
        <div class="row" ng-if="UserSettings.notifications && (canManageUsers || (UserSettings.expose_email_to_instructor && showEditButton.available) || ownProfile)">
            <strong class="col-md-3">Notifications:</strong>
            <div class="col-md-9" ng-show="!user.email">N/A</div>
            <div id="user_email_notification_method" class="col-md-9" ng-show="user.email">
                <input id="email_notification_method" type="checkbox" ng-model="user.email_notification_method" ng-disabled="!user.email || submitted"
                    ng-true-value="'{{EmailNotificationMethod.enable}}'" ng-false-value="'{{EmailNotificationMethod.disable}}'"
                    ng-change="updateNotificationSettings()">
                Receive email notifications from ComPAIR about assignments
            </div>
        </div>
        <div class="row" ng-if="(canManageUsers || loggedInUserIsInstructor || ownProfile) && user.uses_compair_login">
            <strong class="col-md-3">Username:</strong>
            <div id="user_username" class="col-md-9">{{ user.username }}</div>
        </div>
        <div class="row" ng-if="canManageUsers || loggedInUserIsInstructor || ownProfile">
            <strong class="col-md-3">Application Role:</strong>
            <div id="user_system_role" class="col-md-9">{{ user.system_role }}</div>
        </div>
        <div class="row">
            <strong class="col-md-3">Last Online:</strong>
            <div id="user_last_online" ng-show="user.last_online" class="col-md-9">{{ user.last_online | amDateFormat: 'MMM Do, YYYY @ h:mm a' }}</div>
        </div>
        <!-- <div class="row">
            <strong class="col-md-3">Created On:</strong>
            <div class="col-md-9">{{user.created}}</div>
        </div> -->
    </div>
</div>
