<h1>Edit Password</h1>
<form name="changePasswordForm" class="form" ng-submit="changePassword()" novalidate>
    <fieldset>
        <legend>Password Details</legend>
        <compair-field-with-feedback form-control="changePasswordForm.oldpassword" ng-if="ownProfile || !canManageUsers">
            <label for="oldpassword" class="required-star">Old Password</label>
            <input class="form-control" id="oldpassword" type="password"
                name="oldpassword" ng-model="password.oldpassword"
                required />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="changePasswordForm.newpassword">
            <label for="newpassword" class="required-star">New Password</label>
            <input class="form-control" id="newpassword" type="password"
                name="newpassword" ng-model="password.newpassword"
                ng-minlength="4" required />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="changePasswordForm.verifypassword">
            <label for="verifypassword" class="required-star">Verify Password</label>
            <input class="form-control" id="verifypassword" type="password"
                name="verifypassword" ng-model="password.verifypassword"
                ng-minlength="4" required pw-match="newpassword" />
        </compair-field-with-feedback>
    </fieldset>
    <input type="submit" class="btn btn-success center-block btn-lg" value="Save"
        ng-disabled="changePasswordForm.$invalid || submitted">
</form>