<form name="userForm" class="form" ng-submit="save()" novalidate>
    <fieldset>
        <legend>User Details</legend>
        <p class="instructional-text" ng-if="canManageUsers">
            This application provides three user roles with increasing levels of permission.
            <strong>Students</strong> can manage their own answers, comparisons, comments, and replies.
            <strong>Instructors</strong> can additionally manage their own courses and assignments and edit users in their courses.
            <strong>System Administrators</strong> can additionally manage users and manage which users can access which courses.</p>
        <div class="form-group" ng-if="canManageUsers">
            <label for="system_role" class="required-star">Application Role </label>
            <select class="form-control" id="system_role" name="system_role"
                ng-model="user.system_role" required
                ng-options="system_role as system_role for system_role in system_roles"></select>
        </div>
        <compair-field-with-feedback form-control="userForm.displayName">
            <label for="displayName" class="required-star">Display Name</label>
            <input class="form-control" id="displayName" type="text"
                name="displayName" ng-model="user.displayname"
                required placeholder="the name you want others to see"
                ng-disabled="loggedInUserIsStudent && !UserSettings.allow_student_change_display_name" />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="userForm.firstName">
            <label for="firstName">First Name </label>
            <input class="form-control" id="firstName" type="text"
                name="firstName" ng-model="user.firstname"
                ng-disabled="loggedInUserIsStudent && !UserSettings.allow_student_change_name" />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="userForm.lastName">
            <label for="lastName">Last Name </label>
            <input class="form-control" id="lastName" type="text"
                name="lastName" ng-model="user.lastname"
                ng-disabled="loggedInUserIsStudent && !UserSettings.allow_student_change_name" />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="userForm.student_number" ng-if="user.system_role == SystemRole.student">
            <label for="student_number">Student Number </label>
            <input class="form-control" id="student_number" type="text"
                name="student_number" ng-model="user.student_number"
                ng-disabled="loggedInUserIsStudent && !UserSettings.allow_student_change_student_number" />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="userForm.email" ng-if="canManageUsers || UserSettings.expose_email_to_instructor || user.id == loggedInUser.id">
            <label for="email">Email </label>
            <input class="form-control" id="email" type="email"
                name="email" ng-model="user.email"
                ng-disabled="loggedInUserIsStudent && !UserSettings.allow_student_change_email" />
        </compair-field-with-feedback>
        <compair-field-with-feedback form-control="userForm.email_notification_method" ng-if="(canManageUsers || UserSettings.expose_email_to_instructor || user.id == loggedInUser.id) && UserSettings.notifications">
            <input type="checkbox" ng-show="!user.email" disabled />
            <input id="email_notification_method" type="checkbox" ng-model="user.email_notification_method" ng-show="user.email"
                ng-true-value="'{{EmailNotificationMethod.enable}}'" ng-false-value="'{{EmailNotificationMethod.disable}}'">
            <label class="not-bold" for="email_notification_method" ng-class="{'text-muted': !user.email}">Receive email notifications from ComPAIR about assignments</label>
        </compair-field-with-feedback>
    </fieldset>

    <fieldset ng-if="(canManageUsers || user.uses_compair_login) && AuthTypesEnabled.app">
        <legend>ComPAIR Login</legend>
        <p class="instructional-text">
            This information will set the <strong>ComPAIR username <span ng-if="method == 'create'">and password</span></strong> for logging in without an external login (like CWL).
            The username you set does not appear anywhere to other users in the application but does need to be unique.
        </p>
        <compair-field-with-feedback form-control="userForm.username">
            <label for="username" class="required-star">ComPAIR Username </label>
            <input class="form-control" id="username" type="text"
                name="username" ng-model="user.username"
                ng-required="user.uses_compair_login" />
        </compair-field-with-feedback>
        <div ng-if="method == 'create'">
            <compair-field-with-feedback form-control="userForm.password">
                <label for="password" class="required-star">ComPAIR Password </label>
                <input class="form-control" id="password" type="password"
                    name="password" ng-model="user.password"
                    ng-minlength="4" required />
            </compair-field-with-feedback>
            <compair-field-with-feedback form-control="userForm.verifyPassword">
                <label for="verifyPassword" class="required-star">Verify Password </label>
                <input class="form-control" id="verifyPassword" type="password"
                    name="verifyPassword" ng-model="user.verifyPassword"
                    ng-minlength="4" required pw-match="password" />
            </compair-field-with-feedback>
        </div>
        <div ng-if="method != 'create' && ((ownProfile || canManageUsers) && user.uses_compair_login)">
            <label>ComPAIR Password </label>
            <p><a id="change-password-btn" class="btn btn-sm btn-primary" ng-click="showPasswordModal()"><i class="fa fa-edit" aria-hidden="true"></i> Edit Password</a></p>
        </div>

    </fieldset>
    <p class="text-center text-muted"><span class="required-star "></span> = required (please make sure these areas are filled in)</p>
    <input type="submit" class="btn btn-success center-block btn-lg" value="Save"
        ng-disabled="userForm.$invalid || submitted" />
</form>