<div ng-controller="JudgementCommentController" class="evaluations-screen">

	<h1>Comparisons for "{{ parent.title }}"</h1>
	
	<p class="intro-text">Filter by a group (if available) and student evaluator's name, or select "any" for these options to see the full list of available comparisons.</p>

	<div class="form-group row">
		<div ng-show="groups.groups.length" class="col-sm-2">
			<label>Group</label>
			<select class="form-control" ng-model="listFilters.group" ng-options="g.id as g.name for g in groups.groups | orderBy: 'name'">
				<option value="">Any Group</option>
			</select>
			<br />
		</div>
		<div ng-class="{'col-sm-4': groups.groups.length, 'col-sm-6': !groups.groups.length}">
			<label>Student Evaluator</label>
			<select class="form-control" ng-model="listFilters.author" ng-options="s.user.id as s.user.name for s in students.students | filter:{user:{groups:listFilters.group.name}}:true | orderBy: 'user.name'">
				<option value="">Any Student</option>
			</select>
			<br />
		</div>
		<div class="col-sm-6">
			<input class="show-all" type="checkbox" ng-click="loadAllAnswers(); showAnswers = !showAnswers;" id="toggleAll" />
			<label for="toggleAll">Show compared answers for all comparisons below</label>
		</div>
	</div>
	
	<hr />

	<h2>
		{{ comparisons.total + selfevals.length }} <span ng-if="!listFilters.group && !listFilters.author">total</span> comparisons found
		<span ng-if="listFilters.group && !listFilters.author"> for Group "{{ (groups.groups | filter:{id:listFilters.group}:true)[0].name }}"</span>
		<span ng-if="listFilters.author"> for "{{ (students.students | filter:{user: {id:listFilters.author} }:true)[0].user.name }}"</span>
	</h2>
	<p ng-if="numPages > 1">(Page {{listFilters.page}} of {{numPages}})</p>

    <div ng-show="comparisons.objects.length" class="evaluations">

        <div ng-repeat="(user_id, judgements) in comparisons.grouped">

            <div class="each-evaluation" ng-repeat="judgement in judgements">

                <h4 class="text-center evaluator-heading" ng-if="$first">
                    {{ judgement.name }} <i class="fa fa-arrow-down"></i>
                </h4>

                <div class="evaluator-answer" ng-if="$first">
                    <p><a class="btn btn-default" href="" ng-click="loadAnswerByAuthor(judgement.user_id);showMyAnswer = !showMyAnswer;">
                        <span ng-show="showMyAnswer">Hide</span>
                        <span ng-hide="showMyAnswer">Show</span>
                        Student's Answer
                    </a></p>
                    <acj-student-answer class="answer" answer="(answers | filter:{user_id:judgement.user_id}:true)[0]" ng-show="showMyAnswer"></acj-student-answer>
                </div>

                <!-- Comparison Header -->
                <div class="each-header">
                    <acj-avatar user-id="judgement.user_id" avatar="judgement.avatar" display-name="judgement.name"></acj-avatar>
                    <strong>submitted</strong> on {{ judgement.created | amDateFormat: 'MMM D @ h:mm a'}}:
                </div>


                <div ng-repeat="criterion in judgement.criteria_judgements">

                    <h5 class="content">Comparison for "{{criteria[criterion.criteriaandquestions_id]}}"</h5>

                    <div class="content" mathjax="criterion.content"
                         ng-bind-html="criterion.content">
                    </div>

                    <!-- Answers -->
                    <p class="show-answers"><a href="" ng-click="loadAnswer(judgement.answer1.id);loadAnswer(judgement.answer2.id);showAnswers = !showAnswers;">
                        <i ng-show="showAnswers" class="fa fa-chevron-down"></i>
                        <i ng-hide="showAnswers" class="fa fa-chevron-right"></i>
                        Show compared answers
                    </a></p>

                    <div class="row" ng-show="showAnswers">
                        <acj-answer-content answer="(answers | filter:{id:judgement.answer1.id}:true)[0]" is-chosen="criterion.winner == judgement.answer1.id" title="Odd-Numbered Answer" criteria-and-questions="criterion.criteriaandquestions_id" show-score="true"></acj-answer-content>
                        <acj-answer-content answer="(answers | filter:{id:judgement.answer2.id}:true)[0]" is-chosen="criterion.winner == judgement.answer2.id" title="Even-Numbered Answer" criteria-and-questions="criterion.criteriaandquestions_id" show-score="true"></acj-answer-content>
                    </div>

                </div>

                <h5 class="content">Feedback for Odd-Numbered Answer</h5>

                <!-- feedback for odd-numbered answer -->
                <div class="content" mathjax="judgement.answer1.feedback"
                     ng-bind-html="judgement.answer1.feedback">
                </div>

                <h5 class="content">Feedback for Even-Numbered Answer</h5>

                <!-- feedback for even-numbered answer -->
                <div class="content" mathjax="judgement.answer2.feedback"
                     ng-bind-html="judgement.answer2.feedback"></div>
            </div>

            <div class="each-evaluation" ng-if="(selfevals | filter: {user_id: user_id}).length" ng-init="selfeval=(selfevals | filter: {user_id: user_id})[0]">
                <div class="each-header">
                    <acj-avatar user-id="selfeval.user_id" avatar="selfeval.user_avatar" display-name="selfeval.user_fullname"></acj-avatar>
                    <strong>self-evaluated</strong> on {{ selfeval.created | amDateFormat: 'MMM D @ h:mm a'}}:
                </div>

                <div class="content" mathjax="selfeval.content"
                     ng-bind-html="selfeval.content">
                </div>
            </div>
		</div>

	</div>
	
	<div class="text-center">
		<pagination total-items="comparisons.total" ng-model="listFilters.page" max-size="10" class="pagination-sm" boundary-links="true" direction-links="false" items-per-page="listFilters.perPage" num-pages="numPages" ng-hide="numPages == 1"></pagination>
	</div>
	
	<div ng-show="!comparisons.objects.length">
		<p>No comparisons were found<span ng-if="group.name || search.userId.name"> with these filter settings. Try another group or student evaluator above</span>.</p>
	</div>
</div>
