<div ng-controller="JudgementCommentController" class="evaluations-screen">
	
	<h1>Comparisons for "{{ parent.title }}"</h1>
	
	<p class="intro-text">Filter by a group (if available), student evaluator's name and criterion, or select "any" for these options to see the full list of available comparisons. Note that printing this page will automatically reveal the compared answer pairs on the page.</p>

	<hr />
	
	<div class="form-group row">
		<div ng-show="groups.length" class="col-sm-2">
			<label>Group</label>
			<select class="form-control" ng-model="group" ng-change="updateGroup()" ng-options="g as g.name for g in groups | orderBy: 'name'">
				<option value="">Any Group</option>
			</select>
			<br />
		</div>
		<div ng-class="{'col-sm-4': groups.length, 'col-sm-6': !groups.length}">
			<label>Student Evaluator</label>
			<select class="form-control" ng-model="search.userId" ng-options="s.user as s.user.name for s in students | orderBy: 'user.name'">
				<option value="">Any Student</option>
			</select>
			<br />
		</div>
		<div class="col-sm-6">
			<label>Criterion</label>
			<select class="form-control nullable" ng-model="search.criteriaId" ng-options="c as c.criterion.name for (k, c) in criteria">
				<option value="">Any Criteria</option>
			</select>
		</div>
	</div>

	<h2>
		{{ results.length }} <span ng-if="!group.name && !search.userId.name">total</span> comparisons found
		<span ng-if="group.name"> - </span> {{ group.name }}
		<span ng-if="search.userId.name"> - </span> {{ search.userId.name }}
		<a onclick="window.print();" href="" class="pull-right"><i class="fa fa-print"></i></a>
	</h2>
	<h3 ng-if="search.criteriaId">Responding to "{{ search.criteriaId.criterion.name }}"</h3>

	<div ng-show="results.length" class="evaluations">

		<div class="each-evaluation" ng-repeat="comment in comparisons | filter:commentFilter(search.userId.id, search.criteriaId.id) as results">

			<h4 class="text-center evaluator-heading" ng-if="results[$index].user_id != results[$index-1].user_id">
				{{ comment.name }} <i class="fa fa-arrow-down"></i>
			</h4>

			<!-- Comparison Header -->
			<a ng-href="#/user/{{ comment.user_id }}">
				<img src="//www.gravatar.com/avatar/{{ comment.avatar }}?s=32&d=retro" />
			</a>
			<a ng-href="#/user/{{ comment.user_id }}">{{ comment.name }}</a>
			<strong>submitted</strong> on {{ comment.created | amDateFormat: 'MMM D @ h:mm a'}}:

			<!-- TODO: criteria -->

			<div ng-if="!comment.selfeval">
				<h5 class="content">Comparison</h5>

				<div class="content" mathjax="comment.content"
				     ng-bind-html="comment.content">
				</div>

				<h5 class="content">Feedback for Odd-Numbered Answer</h5>

				<!-- feedback for odd-numbered answer -->
				<div class="content" mathjax="comment.answer1.feedback"
					 ng-bind-html="comment.answer1.feedback">
				</div>
				
				<h5 class="content">Feedback for Even-Numbered Answer</h5>
				
				<!-- feedback for even-numbered answer -->
				<div class="content" mathjax="comment.answer2.feedback"
					 ng-bind-html="comment.answer2.feedback"></div>

				<!-- Answers -->
				<p class="show-answers"><a href="" ng-click="showAnswers = !showAnswers; answers();">
					<i ng-show="showAnswers" class="fa fa-chevron-down"></i>
					<i ng-hide="showAnswers" class="fa fa-chevron-right"></i>
					Show compared answers
				</a></p>

				<div class="row" ng-show="showAnswers">
					<div class="col-md-6">
						<div class="answer-choice clearfix">
							<h4 class="text-center">Odd-Numbered Answer
								<span ng-show="comment.winner == comment.answer1.id">(Chosen)</span>
								<span class="label label-warning pull-right">Score: add here</span>
							</h4>
							<div mathjax="ans[comment.answer1.id].content"
								 ng-bind-html="ans[comment.answer1.id].content"></div>
							<!-- Attachments -->
							<acj-pdf-inline label="See details:" pdfs="ans[comment.answer1.id].file"></acj-pdf-inline>
						</div>
					</div>
					<div class="col-md-6">
					<div class="answer-choice clearfix">
							<h4 class="text-center">Even-Numbered Answer
								<span ng-show="comment.winner == comment.answer2.id">(Chosen)</span>
								<span class="label label-warning pull-right">Score: add here</span>
							</h4>
							<div mathjax="ans[comment.answer2.id].content"
								 ng-bind-html="ans[comment.answer2.id].content"></div>
							<!-- Attachments -->
							<acj-pdf-inline label="See details:" pdfs="ans[comment.answer2.id].file"></acj-pdf-inline>
						</div>
					</div>
				</div>
			</div>

			<div ng-if="comment.selfeval">
				<h5 class="content">Self-Evaluation</h5>
				<div class="content" mathjax="comment.content"
				     ng-bind-html="comment.content">
				</div>
			</div>

		</div>

		<div ng-if="results.length < 1">
			<p>No comparisons were found with these filter settings. Try another group, student evaluator, or criterion above.</p>
		</div>
	</div>
