<div ng-controller="JudgementCommentController" class="evaluations-screen">
	
	<h1>Comparisons for "{{ parent.title }}"</h1>
	
	<p class="intro-text">Filter by a group (if available), student evaluator's name and criterion, or select "any" for these options to see the full list of available comparisons. Note that printing this page will automatically reveal the compared answer pairs on the page.</p>

	<hr />
	
	<div class="form-group row">
		<div ng-show="groups.length" class="col-sm-2">
			<label>Group</label>
			<select class="form-control" ng-model="group" ng-change="updateGroup()" ng-options="g as g.name for g in groups | orderBy: 'name'">
				<option value="">Any Group</option>
			</select>
			<br />
		</div>
		<div ng-class="{'col-sm-4': groups.length, 'col-sm-6': !groups.length}">
			<label>Student Evaluator</label>
			<select class="form-control" ng-model="search.userId" ng-options="s.user as s.user.name for s in students | orderBy: 'user.name'">
				<option value="">Any Student</option>
			</select>
			<br />
		</div>
		<div class="col-sm-6">
			<label>Criterion</label>
			<select class="form-control nullable" ng-model="search.criteriaId" ng-options="c as c.criterion.name for (k, c) in criteria">
				<option value="">Any Criteria</option>
			</select>
		</div>
	</div>

	<h2>
		{{ results.length }} <span ng-if="!group.name && !search.userId.name">total</span> comparisons found
		<span ng-if="group.name"> - </span> {{ group.name }}
		<span ng-if="search.userId.name"> - </span> {{ search.userId.name }}
		<a onclick="window.print();" href="" class="pull-right"><i class="fa fa-print"></i></a>
	</h2>
	<h3 ng-if="search.criteriaId">Responding to "{{ search.criteriaId.criterion.name }}"</h3>
	
	<div ng-show="results.length" class="evaluations">
		
		<div class="each-evaluation" ng-repeat="(key, comment) in comments | filter:commentFilter(search.userId.id, search.criteriaId.id) as results">
		
			<!-- Comparison Header -->
			<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
				<img src="//www.gravatar.com/avatar/{{comment.postsforcomments.post.user.avatar}}?s=32&d=retro" />
			</a>
			<a ng-href="#/user/{{comment.postsforcomments.post.user.id}}">
				<span ng-if="comment.postsforcomments.post.user.fullname">
					{{comment.postsforcomments.post.user.fullname}}
				</span>
				<span ng-if="!comment.postsforcomments.post.user.fullname">
					{{comment.postsforcomments.post.user.username}}
				</span>
			</a>
			<strong>submitted</strong> on {{comment.postsforcomments.post.created | amDateFormat: 'MMM D @ h:mm a'}}:
			
			<!-- TODO: criteria -->
			
			<p class="content"><em>Comparison:</em></p>
			
			<!-- Comment -->
			<div class="content" mathjax="comment.postsforcomments.post.content"
				ng-bind-html="comment.postsforcomments.post.content">
			</div>
			
			<p class="content"><em>Feedback:</em></p>
			
			<div class="content">
				Need replies to both answers here.
			</div>
			
			<!-- Answers -->
			<p><a href="" ng-click="showAnswers = !showAnswers; answers(comment)" showAnswers-comments.key = !showAnswers-key">
				<i ng-show="showAnswers" class="fa fa-chevron-down"></i>
				<i ng-hide="showAnswers" class="fa fa-chevron-right"></i>
				Show compared answers
			</a></p>
			
			<div class="row" ng-show="showAnswers">
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h4 class="text-center">Odd-Numbered Answer <span ng-show="comment.judgement.postsforanswers_id_winner == comment.judgement.answerpairing.postsforanswers_id1">(Chosen)</span> <span class="label label-warning pull-right">Rank: add here</span></h4>
						<div mathjax="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1].post.content"
							ng-bind-html="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1]['post']['content']">
						</div>
						<!-- Attachments -->
						<acj-pdf-inline label="See details:" pdfs="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id1].post.files">
						</acj-pdf-inline>
					</div>
				</div>
				<div class="col-md-6">
					<div class="answer-choice clearfix">
						<h4 class="text-center">Even-Numbered Answer <span ng-show="comment.judgement.postsforanswers_id_winner == comment.judgement.answerpairing.postsforanswers_id2">(Chosen)</span> <span class="label label-warning pull-right">Rank: add here</span></h4>
						<div mathjax="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2].post.content"
							ng-bind-html="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2]['post']['content']">
						</div>
						<!-- Attachments -->
						<acj-pdf-inline label="See details:" pdfs="comment.judgement.answerpairing[comment.judgement.answerpairing.postsforanswers_id2].post.files">
						</acj-pdf-inline>
					</div>
				</div>
			</div>
		</div>
		
	</div>
		
	<!-- if no comments are available - eg. none submitted or after filter -->
	<div ng-if="results.length < 1">
		<p>No comparisons were found with these filter settings. Try another group, student evaluator, or criterion above.</p>
	</div>

</div>
