<div dynamic-rich-content="richContent" class="rich-content content"></div>

<div ng-if="attachmentContent.length > 0" class="rich-content-attachments">
    <strong class="h5">{{attachmentContent.length}} Attachment<span ng-if="attachmentContent.length > 1">s</span>:</strong>
    <div class="each-attachment-content" ng-repeat="content in attachmentContent">
        <p ng-if="content.type != 'attachment'">
            <a href="" ng-click="showAttachmentContentModal(content)" ng-if="content.type != 'attachment'"
               class="btn btn-info btn-xs">
                Open in Pop-up
            </a> or
            <br />
            <a href="" ng-click="toggleShowContent(content)" ng-if="content.type != 'attachment'">
                <i class="fa fa-chevron-right" ng-show="!content.displayInline"></i>
                <i class="fa fa-chevron-down" ng-show="content.displayInline"></i>
                Show below
            </a>
        </p>
        <p ng-if="content.type == 'attachment'">
            <a ng-href="{{content.url}}" target="_blank" class="btn btn-info">
                Download
            </a>
        </p>

        <!-- This embed content should only load when visible -->
        <div ng-if="content.displayInline">
            <ng-include src="'modules/rich-content/rich-content-attachment-template.html'"></ng-include>
        </div>
        <hr ng-show="!$last && content.displayInline" />
    </div>
</div>